[2020-03-13 11:20] ZaMaZaN4iK opened #1109 "[request] LoadLibrary/latest"
### Package Details
  * Package Name/Version: **LoadLibrary/3.15.3**
  * Website: **https://github.com/taviso/loadlibrary**
  * Source code: **https://github.com/taviso/loadlibrary**

### Description Of The Library / Tool
Porting Windows Dynamic Link Libraries to Linux.

Preparing a release already requested here: https://github.com/taviso/loadlibrary/issues/79

[2020-03-13 11:22] SpaceIm opened #1110 "[request] icu/66.1"
### Package Details
  * Package Name/Version: **icu/66.1**
  * Changelog: **https://github.com/unicode-org/icu/releases/tag/release-66-1**

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

[2020-03-13 11:34] SpaceIm opened #1111 "[service] PhysX: only one configuration displayed"
Web UI reports only one available configuration (on Linux) even though others are available:
https://conan.io/center/physx/4.1.1/?user=_&channel=_

![image](https://user-images.githubusercontent.com/30052553/76687024-7ff57200-6620-11ea-8e4a-10b2b23c2487.png)

[2020-03-13 11:39] #1084 closed

[2020-03-13 13:51] Croydon opened #1113 "[center.conan.io] Website claims that libtool is only available for Windows"
[https://conan.io/center/libtool/2.4.6/?user=_&channel=_](https://conan.io/center/libtool/2.4.6/?user=_&channel=_)

while
`conan search libtool/2.4.6@ -r conan-center --table file.html` shows that it is available for Linux/macOS/Windows

![Screenshot_20200313_145042](https://user-images.githubusercontent.com/1593194/76626823-287cd680-653a-11ea-86f2-b7b3df36a0ca.png)

[2020-03-13 14:17] Croydon opened #1114 "[package] libtool/2.4.6: $pkgauxdir is not a directory"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libtool/2.4.6**
  * Operating System+version: **Fedora 31**
  * Compiler+version: **GCC 9**
  * Docker image: None
  * Conan version: **conan 1.23.0**
  * Python version: **Python 3.7.6**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile

[2020-03-13 15:55] fulara opened #1116 "[package] b2 is built with too modern glibc on a bintray or missing classifier to distinguish"
We wanted to use b2 from conan-bintray.
To our surprise though - it did not require build on our rh6, so when we tried to use it.. it does not work.

This totally breaks our usage of boost from conan-bintray we are unable to use it.
Historically it seems to have been baked which has into boost package now boost conanfile fetches it as a dependency.

So the problem in summary is:
[code]
glibc avail

[2020-03-13 18:05] ZaMaZaN4iK opened #1117 "[request] tgbot/1.2.1"

[2020-03-13 23:19] prince-chrismc commented on #1116
Are you using [devtoolset-8](https://access.redhat.com/documentation/en-us/red_hat_developer_toolset/8/html/8.0_release_notes/dts8.0_release)?

[2020-03-13 23:25] fulara commented on #1116
hello @prince-chrismc
yes, I am using devtoolset-8 however that does not make any difference. the one i have `--build b2` was built with devtoolset-8, but probably dt-3 would have worked as well.

the b2 binary is not runnable on rh6.
and devtoolset-8 does not provide any ld_library_path or anything when `source enable` I even tried adding all the dirs into `LD_LIBRARY_PATH` but that did not help

[2020-03-14 02:05] prince-chrismc commented on #1116
Hmm that is very interesting. That has not been my experience with the devtoolset however I have only ran on Centos7 which may be packaged differently.

Typically there is always a `LD_LIBRARY_PATH` which provides the correct GLIBC when within `source enable` context.

[2020-03-14 07:45] blockspacer commented on #193
failed with  conan profile:

[code]

[code]

[code]

[code]

[2020-03-14 07:47] fulara commented on #1116
Below information is based solely on my experience  and from what I heard, i have no read documentation.

My understanding on how devtoolsets are supposed to work is that they have built in diff between system glibc and glibc they want to use, that diff is then statically linked into applications.
devtoolset do indeed provide some `LD_LIBRARY_PATH` but I dont know the extents of that.

Currently w

[2020-03-14 16:58] blockspacer opened #1118 "add flag to disable ctest (boost test_package)"
Please add option to disable ctest in https://github.com/conan-io/conan-center-index/blob/master/recipes/boost/all/test_package/conanfile.py#L37

[code]

For example `without_ctest`:

[code]

[2020-03-14 18:49] blockspacer opened #1119 "support clang with zlib"
installed `clang-6` on ubuntu. `clang-6.0` in $PATH, but not `clang`

currently zlib forces to use `clang`

[code]

please allow custom `clang version` like so:

[code]

Note that approach may be also useful for `clang-cl` users

[2020-03-14 20:46] ZaMaZaN4iK opened #1120 "[request] cpp-httplib/0.5.7"
### Package Details
  * Package Name/Version: **cpp-httplib/0.5.7**
  * Changelog: **https://github.com/yhirose/cpp-httplib/releases/tag/v0.5.7**

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

Also I recommend to package more versions (0.5.5, 0.5.6 and earlier, since it can be automatized - it will provide more fr

[2020-03-16 04:37] blockspacer opened #1122 "boost: xml.jam:12: in load ERROR: rule "Copyright" unknown in module "xml"."
I am not able to use boost installed using `sudo apt install libboost-all-dev` and boost from `conan-center-index` at the same time.

The read-out from the console error is (during `conan create` for boost from conan-center-index):

[code]

TMP FIX:

[code]

Please force boost to use local `b2`, not system one.

[2020-03-16 08:49] danimtb commented on #1054
Thanks a lot for the feedback guys!

[2020-03-16 08:49] #1054 closed

[2020-03-16 08:53] danimtb commented on #1027
@sinall I think it could be a partial solution. Anyway, I forgot to ask, why do you need the x86 package? Is that a hard requirement for you? We would like to know just in case we are missing something out of consideration. Thanks a lot

[2020-03-16 11:25] SSE4 commented on #1122
@blockspacer thanks for the report
fill free to test the proposed fix (#1124) and let us know

[2020-03-16 13:31] AltenOosterbeek opened #1127 "[package] zmq/4.3.1: build from sources fails due to wrong references to source"
Although no conan-center package yet exists here for v4.3.1, I was referred here from bincrafters, so I hope someone can help me. At this point, I would rather not migrate to v4.3.2.

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **zmq/4.3.1**
  * Operating System+version: **Linux Ubuntu 18.04**
  * Conan version: **conan 1.18.0**
  * Tried with

[2020-03-16 15:38] #1062 closed

[2020-03-16 15:52] danimtb commented on #1095
This is still under discussion and consideration of a new feature in the Conan client. Please follow the conversation here #6349

[2020-03-16 15:52] #1095 closed

[2020-03-16 16:17] #1108 closed

[2020-03-16 16:19] Croydon commented on #1095
Issue link is broken

https://github.com/conan-io/conan/issues/6349

[2020-03-17 13:16] Croydon commented on #1127
This seems to be solved 😄

https://github.com/bincrafters/community/issues/1151#issuecomment-599630472

[2020-03-17 16:26] danimtb commented on #1111
We realized there were some missing entries in the ConanCenter database, so we will try to fix them soon. Thanks for reporting

[2020-03-17 16:26] danimtb commented on #1113
Same as #1111

[2020-03-17 18:59] memsharded commented on #4
Please add @floriansimon1 too.

[2020-03-18 00:03] fulara opened #1133 "[package] tbb/2020.0 and 2019.u9 checksum is invalid in conandata.yml"
conandata.yml now:
[code]

whereas:
sha256sum v2020.0.tar.gz
57714f2d2cf33935db33cee93af57eb3ecd5a7bef40c1fb7ca4a41d79684b118  v2020.0.tar.gz

sha256sum 2019_U9.tar.gz
3f5ea81b9caa195f1967a599036b473b2e7c347117330cda99b79cfcf5b77c84  2019_U9.tar.gz

[2020-03-18 00:17] Croydon commented on #1133
⚠️ Something weird is going on here

The CI would not have passed if these checksums were wrong in the past. What made them change?

[2020-03-18 00:21] fulara commented on #1133
@Croydon  I agree completely - but I tried on multiple machines. and i am getting sha256 i have posted.

also the commits on tbb have not changed: https://github.com/oneapi-src/oneTBB/commit/a803f276186fa2c286a357207832112265b448e4

so am I doing sth wrong? :)

[2020-03-18 00:23] Croydon commented on #1133
Now I understand, they renamed their repository from

https://github.com/intel/tbb

to

https://github.com/oneapi-src/oneTBB

Since we use the GitHub generated source downloads, the included `.tar` files changed its name too.

So the change should be okay, but please also update the download URLs to the new repository.

[2020-03-18 00:25] madebr commented on #1127
Should we add a 3-level fallback to libsodium?
1. https://download.libsodium.org/libsodium/releases/
2. https://download.libsodium.org/libsodium/releases/old
3. https://download.libsodium.org/libsodium/releases/old/unsupported

[2020-03-18 00:25] fulara commented on #1133
@Croydon  okay, will do that, can i add the 2020.u1 version while i am at it?

[2020-03-18 00:26] Croydon commented on #1133
This should be fine, yes

[2020-03-18 00:27] Croydon commented on #1127
No, the CCI recipe variant uses GitHub downloads which are fine. This error is about old Bincrafters' versions.

[2020-03-18 00:27] Croydon commented on #1127
Actually, I think this can be closed. See the Bincrafters' issue.

[2020-03-18 00:29] madebr commented on #1127
I'm not so sure about my proposal.
Soon, the download link of 1.0.18 might be moved.

[2020-03-18 00:34] madebr commented on #1127
@Croydon Scrap my remark. You're right.

[2020-03-18 06:19] SSE4 commented on #1118
@blockspacer is there any problem/error with running ctest?

[2020-03-18 06:29] SSE4 commented on #193
the code that was failing has been completely removed in #1016, so these errors aren't going to happen any more - we're not doing bootstrap during the boost build. there is another bug (#1122) and pending PR #1124 that fixes b2 invocation on certain systems. I'll keep it open for a while, but once #1124 merged, pls retest and let me know (or just test changes locally).

[2020-03-18 06:31] SSE4 commented on #1119
for the record, the code is:
https://github.com/conan-io/conan-center-index/blob/master/recipes/zlib/1.2.11/conanfile.py#L68
I'll create a PR with fix

[2020-03-18 07:16] AltenOosterbeek commented on #1127
I agree, I'll close it, since the github download is used for zeromq...

[2020-03-18 07:16] #1127 closed

[2020-03-18 15:41] Croydon opened #1136 "[request] Migrate Bincrafters' icu_installer"
### Package Details
  * Website: **http://site.icu-project.org/**
  * Source code: **https://github.com/unicode-org/icu/**
  * https://github.com/bincrafters/conan-icu

We already have a icu package for the libraries in CCI, but we can't archive the Bincrafters' variant just yet, because the CCI recipe doesn't package the binaries.

This leads continuously to confusions and puts us in a situation

[2020-03-18 16:40] SpaceIm commented on #1035
How to fix this issue? Fix in CI? It's not the first time I see wrong branching in CI (but not locally) based on `tools.Version(self.version)` comparison.

[2020-03-19 02:37] madebr commented on #1136
Same resolution as tcl/tcl_installer? https://github.com/conan-io/conan-center-index/pull/848#issuecomment-585285857
Make the change when a new version of icu is released.

@jgsogo Are installer packages still needed when cross building lands in conan?

[2020-03-19 06:28] pyrige opened #1141 "[package] argparse/2.1: configure() fails when compiler.cppstd is specified"
### Package and Environment Details
  * Package Name/Version: **argparse/2.1**
  * Operating System+version: **Arch Linux**
  * Compiler+version: **GCC 9.3.0**
  * Conan version: **conan 1.23.0**
  * Python version: **Python 3.8.2**

### Conan profile
[code]

### Steps to reproduce
1. Specify any `compiler.cppstd`
2. `configure()` tries to validate the specified version using `tools.check_valid_cp

[2020-03-19 07:38] AGreat1 commented on #332
I encountered the same issue when cross compiling `libcurl/7.68.0` (same profile as mentioned in the issue, except `compiler.version=16` and `build_type=Release`)

I want to use this in a corporate environment, so I'd be much happier if the recipe were fixed instead of having to tell all colleagues on the project that for this build they first need to set the environment variable. Also this propos

[2020-03-19 07:48] AGreat1 commented on #332
@akemimadoka based on git blame you had edited this recipe in PR #86. Maybe you have an idea for this cross-building issue?

[2020-03-19 08:16] jgsogo commented on #1136
No, from `1.24` onwards (https://github.com/conan-io/conan/pull/5594) (probably we should wait some time to see if any issue arises), settings `os_build` and `arch_build` should be deprecated and packages for installers and libraries should be the same package (yes, `protobuf` and `protoc` should be only one package). The graph will expand two nodes with different settings for those packages if th

[2020-03-19 08:32] akemimadoka commented on #332
Seems it's my fault, here should be an exception for msvc cross building.

But when I changed host to i686-w64-mingw32 by changed
`if not tools.cross_building(self.settings)`
to
`if not tools.cross_building(self.settings) or self._is_msvc:`
I got "fatal error LNK1112: module machine type 'x64' conflicts with target machine type 'X86'", seems here are more works to do.

[2020-03-19 14:33] codedump opened #1144 "fmt: missing symbol when linking application -- broken packaging?"
Hello,

first off, I'm fairly new to Conan (few weeks) and I'm not completely sure I'm not making a mistake. So please bear with me :-)

To my problem: I'm trying to compile the following program using ```libfmt```:
    #include <string>
    #include <fmt/core.h>

    int main () {
        fmt::format("jinkies! {}", 42);
        std::string foo;
        return 0;
    }

This results in the followi

[2020-03-19 17:20] blockspacer commented on #1118
yes, conan package requires ctest installed in system

[2020-03-19 17:41] matthewtberry opened #1147 "[package] openssl/1.1.1d: build from source fails on Linux"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **openssl/1.1.1d**
  * Operating System+version: **Linux CentOS 7.7.1908**
  * Compiler+version: **GCC 7.3.1 (devtoolset-7)**
  * Docker image: **centos:7.7.1908**
  * Conan version: **conan 1.23.0**
  * Python version: **Python 3.6.3**

### Conan profile
[code]

### Steps to reproduce

1. Create `co

[2020-03-19 20:08] uilianries commented on #1118
I think adding cmake as build_requirement can solve it.

[2020-03-19 20:41] uilianries commented on #1035
Something is wrong in CI. The conanfile shared for OSX is outdated!

@danimtb If you try to build expat by install command, you will see dylib present. However, the Conanfile installed is outdated with the current version on master branch

    conan remove expat -f && conan install expat/2.2.9@ -r conan-center --build expat

[2020-03-19 20:52] jjkoshy commented on #4
Can you please add me?

[2020-03-19 22:20] Croydon commented on #1136
If this is already on the horizon we could move ahead and add binaries into the same package as libs. Merging later would mean deprecating a new package which is much more painful IMHO.

Also I would really love to see protobuf/protoc unblocked. For CCI we could merge the protoc binary into the protobuf package. People who need cross-compiling support right now can still use the Bincrafters' recip

[2020-03-19 22:47] kasunch commented on #4
Much appreciated if you could add me. Thanks.

[2020-03-20 08:22] jgsogo commented on #1136
From my perspective, I would block all the _xxxx_installers_, the current model with `os/arch_build` is essentially broken and lead to lots of issues and workarounds... but I'm not the police in this repository, you all are doing much more work than myself here 🙌  Thanks!

[2020-03-20 10:58] SpaceIm commented on #1144
What is your conan profile? Does it use libstdc++ or libstdc++11?

[2020-03-20 13:40] codedump commented on #1144
It's the default profile, using libstc++. The file looks like this:
[code]

But everything (i.e. ```libfmt``` and ```my-project```) is being compiled with the same profile.

Perhaps I was not clear enough in my original post. I've actually tried to compile similar code in two different ways:

1. From within Conan, along the lines of ```conan create ./my-project``` (where my-project has ```libfmt``

[2020-03-20 13:41] uilianries commented on #1144
Indeed. Seems like your build is using libstdc++11, but Conan is using libstdc++

@codedump please, update your current profile to use libstdc++11:

https://docs.conan.io/en/latest/howtos/manage_gcc_abi.html#manage-gcc-abi

[2020-03-20 15:44] SpaceIm opened #1150 "[request] inih/48"
### Package Details
  * Package Name/Version: **inih/48**
  * Website: **https://github.com/benhoyt/inih**
  * Source code: **https://github.com/benhoyt/inih**

### Description Of The Library / Tool

Simple .INI file parser in C, good for embedded systems

[2020-03-20 22:08] Foadsf opened #1152 "[request] <METIS>/<5.1.0>"
### Package Details
  * Package Name/Version: **METIS/5.1.0**
  * Website: **http://glaros.dtc.umn.edu/gkhome/metis/metis/overview**
  * Source code: **http://glaros.dtc.umn.edu/gkhome/metis/metis/download**

### Description Of The Library / Tool

From their home page:

There are two relevant projects to have a Conan METIS package [here](https://github.com/scibuilder/metis) and [here](https://gith

[2020-03-20 23:59] SpaceIm opened #1153 "[request] wcslib/7.2"
### Package Details
  * Package Name/Version: **wcslib/7.2**
  * Website: **https://www.atnf.csiro.au/people/Mark.Calabretta/WCS/**
  * Source code: **ftp://ftp.atnf.csiro.au/pub/software/wcslib**

### Description Of The Library / Tool

C implementation of the FITS "World Coordinate System" (WCS) standard.

[2020-03-22 04:04] prince-chrismc opened #1156 "[request] websocketpp/0.8.1"
### Package Details
  * Package Name/Version: **websocketpp/0.8.1**
  * Website: **http://www.zaphoyd.com/websocketpp**
  * Source code: **https://github.com/zaphoyd/websocketpp/tree/develop**

### Description Of The Library / Tool
C++ webscoket library on top of boost asio

Currently this is hosted by @bincrafters-user but I would like to migrate it to CCI.
https://github.com/bincrafters/conan-we

[2020-03-22 04:07] Croydon commented on #1156
Yes, please go ahead! 😄

[2020-03-22 04:08] Croydon commented on #1156
The patch needs to move into the `conandata.yml`, but other than that it should not need to much changed to be ready for CCI

[2020-03-22 05:05] akshit-sharma opened #1157 "[question] cannot search/install benchmark/1.5.0"
It appears that conan already have support for [benchmark/1.5.0](https://github.com/conan-io/conan-center-index/issues/370).

I am not able to search the same with conan.
[code]
I am wondering how should I go about knowing which package to search and install for [google benchmark](https://github.com/google/benchmark).

[code]

[2020-03-22 14:23] prince-chrismc commented on #1157
Try `conan install benchmark/1.5.0@_/_` without the `@user/channel` the command line does not know to search the remotes when installing.

[2020-03-22 15:14] akshit-sharma commented on #1157
Thanks, it's working with ```conan install benchmark/1.5.0@_/_```.

[2020-03-22 15:14] #1157 closed

[2020-03-22 17:34] Croydon commented on #1157
`conan install benchmark/1.5.0@` is shorter and works too 😄

[2020-03-22 18:57] ZaMaZaN4iK opened #1161 "[request] sqlpp11-connector-postgresql/0.54"
### Package Details
  * Package Name/Version: **sqlpp11-connector-postgresql/0.54**
  * Website: **https://github.com/matthijs/sqlpp11-connector-postgresql**
  * Source code: **https://github.com/matthijs/sqlpp11-connector-postgresql**

### Description Of The Library / Tool
PostgreSQL connector for sqlpp11 library

[2020-03-22 18:58] ZaMaZaN4iK commented on #1161
Already found some recipe: https://github.com/valsydalv/conan-sqlpp11-connector-postgresql

[2020-03-23 08:57] wangsq157 opened #1163 "[request] <openssl>/<openssl-1.1.1e>"
### Package Details
  * Package Name/Version: **openssl/1.1.1e**
  * Changelog: **https://www.openssl.org/news/cl111.txt**

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

[2020-03-23 14:01] KingKili opened #1166 "[package] <libcurl/7.67.0>: Cannot build with mingw"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libcurl/7.67.0**
  * Operating System+version: **Fedora 31**
  * Compiler+version: **GCC 9**
  * Conan version: **conan 1.21.1**
  * Python version: **Python 3.7.6**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)
[code]

###

[2020-03-23 15:32] mapau commented on #4
I would like to join.

[2020-03-23 17:26] danimtb commented on #1035
Thanks for the information gathered here guys. I am taking a look!

[2020-03-23 17:29] SpaceIm commented on #1035
I've submitted a PR https://github.com/conan-io/conan-center-index/pull/1167. Seems to work well so far (static libs are properly built), I've just replaced Version by tools.Version...

[2020-03-23 17:31] danimtb commented on #1035
@SpaceIm thanks! Yes, taking a look I think the easiest solution is to fire a rebuild for all configurations of the library with the latest changes in the recipe. That PR should do it!

[2020-03-23 17:50] uilianries commented on #1157
@akshit-sharma prefer @Croydon approaches. The underscore are just placeholders and have no effect.

[2020-03-23 18:25] danimtb commented on #1035
For some reason, the latest PR merged regarding expat https://github.com/conan-io/conan-center-index/pull/468 only generated on package per version. That might be the cause of the issue. After merging #1167 the isssue seems to be fixed. Please @timblechmann could you confirm that from your side? Thanks

[2020-03-23 18:25] #1035 closed

[2020-03-23 18:34] gocarlos opened #1168 "[package] paho-mqtt-cpp/1.1 cpr/1.3.0 cpp-jwt/1.2: multiple definition of `SHA1_..."
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **paho-cpp-mqtt, cpr, cpp-jwt, openssl**
  * Operating System+version: **Linux Ubuntu 18.04**
  * Compiler+version: **GCC 9.2**
  * Docker image: **conanio/gcc8**
  * Conan version: **conan 1.23.0**
  * Python version: **Python 3.7.6**

### Conan profile (output of `conan profile show default` or `co

[2020-03-23 18:36] gocarlos commented on #1168
could it be that I run into `C` lack if namespace issues?
* https://github.com/openssl/openssl/search?q=SHA1_Init&type=
* https://github.com/eclipse/paho.mqtt.c/search?q=SHA1_Init&unscoped_q=SHA1_Init

[2020-03-23 18:42] gocarlos commented on #1168
ok, all good: paho-mqtt-c had embedded a sha1 implementation which is used if not compiled with ssl

ssl is by default `OFF` -> this leads to issues if other dependencies have default to `ON`

eventually we should start having a standard here, either have ssl `OFF` by default or `ON`

[2020-03-23 18:43] #1168 closed

[2020-03-23 22:11] igor-sadchenko commented on #4
I'd like to join. Thanks

[2020-03-24 00:05] cleeland commented on #1147
Based on the sleuthing I did in the openssl bug, the recipe is strictly correct.  Until the bug in openssl gets fixed, the recipe could look to see if the perl module Text::Template is installed on the system and, if it is, error out with an explanatory error message.

Something like (in bash-ese) ```
perl -MText::Template -e print 2>/dev/null
if [ $? != 0 ]; then
  echo "OpenSSL {VERSION} known t

[2020-03-24 03:59] timblechmann commented on #1035
@danimtb looks good here! thank you all for looking into this issue

[2020-03-24 09:29] ZaMaZaN4iK opened #1171 "[request] Argon2/20190702"
### Package Details
  * Package Name/Version: **Argon2/20190702**
  * Website: **https://github.com/P-H-C/phc-winner-argon2**
  * Source code: **https://github.com/P-H-C/phc-winner-argon2**

### Description Of The Library / Tool
The password hash Argon2, winner of PHC

[2020-03-24 09:42] danimtb commented on #1035
Thanks a lot for testing that and reporting the issue! 😄

[2020-03-24 09:58] danimtb commented on #1168
I see the options are well managed between both recipes and they should work just fine if you set the option accordingly.

However, I agree with you that this could be a hint to change the default value of that option:

https://github.com/microsoft/vcpkg/blob/2d9a32b46fc82d50aa7714a1a4bedc8f0d153dcc/ports/paho-mqtt/portfile.cmake#L22

Do you think it should be a good default?

[2020-03-24 12:49] Shaheen47 opened #1174 "[package] tbb/2020.0: sources hash mismatch"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **tbb/2020.0**
  * Operating System+version: **Linux Ubuntu 19.10**
  * Compiler+version: **Clang 9.0.0**
  * Conan version: **conan 1.23.0**
  * Python version: **Python 3.7.5**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)

[2020-03-24 12:55] danimtb commented on #1174
Thanks for reporting. I was able to reproduce this:

[code]

[2020-03-24 12:58] danimtb commented on #1174
The same thing happens with ``tbb/2019_u9``

[2020-03-24 13:01] #1163 closed

[2020-03-24 13:04] Shaheen47 commented on #1174
Thanks for the quick responding.
Yes indeed, However, both work fine for gcc compiler but not with Clang and visual studio as I see.
could we expect this issue to be solved quickly or it could take a long time?

[2020-03-24 13:08] gocarlos commented on #1168
I have the feeling that in 2020 we should have ssl by default... who can afford to not use ssl, probably only for testing

[2020-03-24 13:10] danimtb commented on #1168
But this should be a request for the library author. Maybe there are some implications for this not being enabled by default.

Anyway, I am not saying that the defaults of the library should be the Conan's defaults. So we might consider the change

[2020-03-24 13:11] SSE4 commented on #1174
related: #1134

[2020-03-24 13:13] danimtb commented on #1174
I see this is a duplicate of #1133. Thanks @SSE4 for the hint. Please @Shaheen47 follow the conversation there!

[2020-03-24 13:13] #1174 closed

[2020-03-24 13:20] jmauffray opened #1175 "[package] zstd/1.4.4: Missing cmake module file FindZstd.cmake"
To use find_package and other cmake commands a file FindZstd.cmake is necessary, ideally it would be a file zstd-config.cmake with exported targets but it seems requiring an update in zstd build system and source code.
Simpler solution seems to add FindZstd.cmake file in conan package distribution as already done in other packages.

[2020-03-24 14:12] uilianries commented on #1175
Hi @jmauffray The conan generator [cmake_find_package](https://docs.conan.io/en/latest/integrations/build_system/cmake/cmake_find_package_generator.html) is not enough? Which features from findzstd.cmake are you looking for?

[2020-03-24 16:05] danimtb commented on #4
@Nipheris, @faker00t, @vvilpas, @fredrikslattman, @worldemar, @rurabori, @chhitz, @zod, @Twon, @miketsukerman, @mgoldshteyn, @dab0bby, @atilag, @floriansimon1, @jjkoshy, @kasunch, @mapau, @igor-sadchenko you have been added to the EAP! Thank you 😄

[2020-03-24 17:06] uilianries commented on #1133
I posted on Intel forum about this event: https://software.intel.com/en-us/forums/intel-threading-building-blocks/topic/850657

Let's see if they will answer why that repository has been changed.

[2020-03-24 17:18] fulara commented on #4
add me so I can close #1134

[2020-03-24 17:43] dheater opened #1177 "[package] libcurl/7.69.1: Update openssl version to 1.1.1e"
Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libcurl/7.69.1**

Update to `openssl-1.1.1e`

Break on `openssl-1.1.1d` because I have another package that has already update to `openssl-1.1.1e`

[2020-03-24 18:15] Croydon commented on #1177
You can override the OpenSSL version in your own conanfile by adding OpenSSL as a dependency directly

[2020-03-24 18:43] danimtb commented on #1177
https://docs.conan.io/en/latest/using_packages/conanfile_txt.html?highlight=override#overriding-requirements

[2020-03-24 19:47] dheater commented on #1177
Interesting find. It seems that the override doesn't work when the package with the transitive dependency is under `[build_requires]` instead of `[requires]` in the root package.

conanfile.txt
[code]
result
[code]

Once I moved the `libcurl` and the other (internal) package that referenced `openssl-1.1.1e` from `[build_requires]` to `[requires], the overide works.

conanfile.txt
[code]
result
[co

[2020-03-24 19:50] dheater commented on #1177
For the sake of this ticket, I'm curious... What is the policy regarding updating package dependencies without `conan-center-index`?

Should I close the PR? Or should the all package that depend on `openssl` be updated when `openssl` is updated in `conan-center-index`?

[2020-03-24 20:51] Croydon commented on #1177
Please keep the PR open. OpenSSL and similar security relevant libraries should always be updated to the latest patch level

[2020-03-24 20:52] Croydon commented on #1177
PS: **Upgrading** is an entire different discussion, but the patch level should be the latest 😄

[2020-03-25 02:47] madebr commented on #1175
The current cmake_find_package name of zst is correct: it is `zstd`.
[Click here for the upstream installation](https://github.com/facebook/zstd/blob/f5029e285f65860e57edf3685285e1fb8bc92cf9/build/cmake/lib/CMakeLists.txt#L178-L181)

[2020-03-25 08:23] jmauffray commented on #1175
Hi, firstly thanks for your quick response and support.
Indeed with cmake_find_package conan generator findzstd.cmake is generated and correct but I already use several libraries (10 and more) with package-config.cmake generated in conan package.
I try to use conan_find_package generator but it breaks build in other part, so I come back to cmake generator and manually create my own FindZstd.cmake

[2020-03-25 09:48] #1177 closed

[2020-03-25 09:55] danimtb commented on #1175
Yes, we believe the way to go is using generators and not package build system-specific files in the packages unless they provide some kind of utility to assist consumers in some sort of task related to the library (Like CMake macros). You can read more about this here https://github.com/conan-io/conan-center-index/wiki/FAQ#why-are-cmake-findconfig-files-and-pkg-config-files-not-packaged

[2020-03-25 10:02] #1175 closed

[2020-03-25 10:03] jmauffray commented on #1175
Thanks a lot, it is clear now. I will see if I can upgrade project with this behavior.

[2020-03-25 10:16] danimtb commented on #4
@fulara you have been added as well!

[2020-03-25 13:20] danimtb commented on #1118
I think this could be very annoying for those who don't have ctest installed and want to create the boost packages from sources. If there is a way to get rid of it and run the boost examples it will be much better.

Anyway, @blockspacer could you tell us more about your use case? Why are you executing the test_package?

[2020-03-25 13:27] #1120 closed

[2020-03-25 13:35] #1082 closed

[2020-03-25 14:11] blockspacer commented on #1118
@danimtb

I'm trying to build boost with custom openssl version (and custom zlib cause it depends on openssl too) and options

You can find modified version here https://github.com/blockspacer/conan_boost

I just copied recipe and changed `def requirements`

Maybe conan allows to override requirements somehow, but i can't find anything similar in docs

Thanks in advance

[2020-03-25 14:42] danimtb commented on #1118
Sure, you can always override requirements downstream. Take a look at https://docs.conan.io/en/latest/using_packages/conanfile_txt.html#overriding-requirements

If you are using a copy of the boost library you can always modify the test package and remove the ctest part.

Anyway, if you override the requirements as explained above, I guess you wouldn't have to modify the boost recipe and you could

[2020-03-25 15:12] madebr commented on #1136
@jgsogo
If I'm correct, then the following changes are required to our recipes:
- `os_build`/`arch_build` must be changed to `os`/`arch`
- installer packages should only add the `bin` folder to `cpp_info`. Ideally, `env_info.PATH` should not be modified

Am I forgetting something?

[2020-03-25 15:56] blockspacer commented on #1118
@danimtb
Thanks, i'll try to override the requirements as explained above
My problem is solved, but there are suggestions above
`adding cmake as build_requirement can solve it.`
`If there is a way to get rid of it and run the boost examples it will be much better.`
so i'll keep issue open

[2020-03-25 16:13] danimtb commented on #1118
Sure, no problem. @SSE4 do you think we could improve that? Is that ctest line something we cannot drop?

[2020-03-25 16:16] jgsogo commented on #1136
Yes, but still this feature is in an early stage, I really think it is the way to go (and if breaking were an option, I would force always the new behavior and take the `build` profile equal to `host` if missing, or to the `default` one) but we really need more feedback about it. Today we may think that only the `bin` folder is needed, but we cannot change all the recipes to match that approach be

[2020-03-25 16:18] SSE4 commented on #1118
@danimtb I'd say we can conditionally run it (e.g. `if tools.which("ctest")`).

[2020-03-25 16:21] danimtb commented on #1118
but we will need to run something if ctest is not available

[2020-03-25 16:22] SSE4 commented on #1118
in that case, it might be simpler to just run produced executables, without ctest

[2020-03-25 16:26] danimtb commented on #1118
ok. Maybe not all the examples but just some of them

[2020-03-25 16:48] #1074 closed

[2020-03-25 17:35] #1030 closed

[2020-03-26 06:11] leyewen opened #1188 "[package] libtiff/4.0.9/4.1.0 undefined reference to `lzma' error"
### Package and Environment Details
  * Package Name/Version: **libtiff/4.1.0**
  * Operating System+version: **Windows 10**
  * Compiler+version: **msys2 /mingw64 gcc 8.1**
  * Docker image: **conanio/gcc8**
  * Conan version: **conan 1.23.0**
  * Python version: **Python 3.7.5/none**

### Conan profile
[code]

[code]

### Steps to reproduce
update `libtiff` build package to last version.
build f

[2020-03-26 08:43] KingKili commented on #1166
I just had a look, it seems like buildconf cannot find libtoolize, but it is installed in mingw.

[2020-03-26 09:10] #1156 closed

[2020-03-26 09:13] KingKili commented on #1166
I found out that some dependencys were missing on my system (autoconf automake libtool). But what is strage that I have to deactivate openssl for the build (                        libcurl:with_openssl=False) else it returns
[code]

[2020-03-26 09:30] BNL-Corp commented on #4
Hi, I would like to join the EAP to update some recipes. Thanks.

[2020-03-26 10:22] pyrige commented on #4
I'd like to join as well, thank you

[2020-03-26 11:33] uilianries commented on #1188
Hi @leyewen! Thanks for reporting it!

[2020-03-26 13:45] uilianries commented on #1188
Hi @leyewen !

I can't reproduce your error, are you running mingw?

<Details>
$ conan create . 4.1.0@ -pr gcc8 -o libtiff:lzma=False -s build_type=Debug -s compiler.cppstd=14 -s compiler.version=8.1
Exporting package recipe
libtiff/4.1.0 exports: File 'conandata.yml' found. Exporting it...
libtiff/4.1.0 exports: Copied 1 '.yml' file: conandata.yml
libtiff/4.1.0 exports_sources: Copied 1 '.txt' fi

[2020-03-26 14:52] #1122 closed

[2020-03-26 16:43] n-bes opened #1190 "[openssl] failed to build openssl/v1.0.2s for armv7"
### Description of Problem, Request, or Question
**ar** wrong prefix

[code]

### Environment Details
Any **conanio/gcc-*-armv7** docker image

### Steps to reproduce (Include if Applicable)
[code]

### Build logs (Include if Available)
[job.log](https://github.com/conan-io/conan-center-index/files/4388480/job.log)

### Additional information
```openssl/1.1.1d``` not affected

[2020-03-26 17:32] uilianries commented on #102
It's working fine, closing this issue:

[code]

[2020-03-26 17:32] #102 closed

[2020-03-26 19:03] uilianries commented on #634
So why can you use them instead? The point is, when is hard to track a problem when is related to different environment, because we can't reproduce the same scenario. If xz_utils was distributed for mingw, we would use mingw and msys2 packages.

[2020-03-26 19:11] ZaMaZaN4iK opened #1192 "[request] cppcodec/0.2"
### Package Details
  * Package Name/Version: **cppcodec/0.2**
  * Website: **https://github.com/tplgy/cppcodec**
  * Source code: **https://github.com/tplgy/cppcodec**

### Description Of The Library / Tool
Header-only C++11 library to encode/decode base64, base64url, base32, base32hex and hex (a.k.a. base16) as specified in RFC 4648, plus Crockford's base32. MIT licensed with consistent, flexibl

[2020-03-26 19:12] uilianries commented on #892
@leyewen I tried to reproduce your error, but libx265 looks fine:

https://gist.github.com/uilianries/1df0ba936f6552d597e412b18c84345b

That profile is correct according your description?

[2020-03-26 19:22] n-bes commented on #1190
Also, from log.
[code]
Should i setup profile?

[2020-03-26 20:21] ZaMaZaN4iK commented on #4
I would like to join as well. Thank you a lot!

[2020-03-26 20:22] ZaMaZaN4iK commented on #1192
Already I've prepared a PR: https://github.com/conan-io/conan-center-index/pull/1193

[2020-03-26 21:59] gocarlos opened #1194 "[question] which url to use for not so maintained projects"
Wanted to make conan deps ready for https://github.com/openthread/ot-commissioner/issues/17

Now cn-cbor was forked by someone and the ot-commissioner folks forked it again
Now i’l like to submit the first fork as it is maintained e.g. https://github.com/jimsch/cn-cbor/tree/complete

What are the guidelines in cci for this?

[2020-03-27 06:13] leyewen commented on #634
I update `xz_utils/5.2.4` package to last versin(after 2020.03.10), rebuild with `msys2` and `mingw` env, everything is pretty.
Close this issues, if happen again, please reopen it.

[2020-03-27 06:13] #634 closed

[2020-03-27 06:52] leyewen commented on #1188
@uilianries It's of course ok because you set
[code]
This will disable libtiff lzma build.

And I am not using
[code]
config for build.

My gcc env is install `msys2-x86_64-20190524.exe` and `x86_64-8.1.0-release-posix-seh-rt_v6-rev0.7z`.
And set
[code]
It happened really, I tried at least three times emptied all packages for test.

[2020-03-27 11:38] uilianries commented on #634
@leyewen Thanks for your feedback!

[2020-03-27 11:40] uilianries commented on #1188
@leyewen Now it's clear, but you didn't comment about the shared option before. I'll take a look again. Regards!

[2020-03-27 12:36] uilianries commented on #1188
@leyewen I can reproduce your error. The PR #1200 should fix that problem. Regards.

[2020-03-27 12:44] uilianries commented on #997
Hi @SpaceIm could you give more details? The template for bug report was not filled. Please, give the profile at least.

[2020-03-27 13:33] danimtb commented on #1133
Seems they have moved a bunch of intel libraries into a new project called "oneAPI" and TBB becomes the Theading Building Blocks library for the project and thus renamed to "oneTBB".

- General Information & project launch: https://software.intel.com/en-us/oneapi
- Information about the project: https://software.intel.com/en-us/oneapi-programming-guide
- oneTBB: https://software.intel.com/en-us/on

[2020-03-27 15:28] gocarlos opened #1201 "[package] libevent: name for find_package is wrong"
upstream and vcpkg are using `Libevent`, here `libevent`

[2020-03-28 13:04] Nipheris opened #1207 "[question] CCI's area of influence from the perspective of OS architecture"
Hello, Conan Team!

After having some thoughts regarding how many libraries and components of applications and operating system can be packaged and delivered by Conan, and included in CCI, I understood that I have no clear idea where Conan overlords drew a boundary for what should be considered "application-level" libraries and what should be considered "system library", or to be more accurate, "s

[2020-03-28 21:47] SpaceIm commented on #997
Because I'm not a user of GMP, but I've seen several issues related to undefined reference (not with conan), therefore I've checked dependencies between libgmpxx and libgmp, and libgmpxx depends on libgmp. Since this recipe doesn't specify linking order, a program relying on C++ API might fail to link gmp.

[2020-03-29 08:33] rudolfheszele commented on #4
Please add me too :)

[2020-03-29 10:01] Firefly35 commented on #1007
bintray seems down again :
ERROR: boost/1.71.0@conan/stable: Error in source() method, line 151
	tools.get(url, sha256=sha256)
	AuthenticationException: Forbidden!

[2020-03-29 10:25] tt4g commented on #1007
We have encountered the same boost project problem as last month: https://github.com/boostorg/boost/issues/299#issuecomment-605340836

[2020-03-29 22:51] SpaceIm opened #1216 "[request] capnproto/0.7.0"
### Package Details
  * Package Name/Version: **capnproto/0.7.0**
  * Website: **https://capnproto.org**
  * Source code: **https://github.com/capnproto/capnproto**

### Description Of The Library / Tool

Cap'n Proto serialization/RPC system.

[2020-03-29 23:39] ZaMaZaN4iK opened #1217 "[request] vmime/v0.9.2"
### Package Details
  * Package Name/Version: **vmime/v0.9.2**
  * Website: **http://www.vmime.org**
  * Source code: **https://github.com/kisli/vmime**

### Description Of The Library / Tool
VMime Mail Library

[2020-03-30 08:00] danimtb commented on #1194
Hi @gocarlos,

I have no experience with the library you mention and I am not into the details of why it was forked. Maybe the way to go is by asking the authors about what repo should be considered the official?

[2020-03-30 08:12] Psy-Kai opened #1218 "[request] qbs/1.16"
### Package Details
  * Package Name/Version: **qbs/1.15.0** or better the upcoming version **qbs/1.16.0**
  * Website: **https://doc.qt.io/qbs/**
  * Source code: **https://code.qt.io/cgit/qbs/qbs.git/**, mirror **https://github.com/qbs/qbs**

### Description Of The Tool
Qbs is a build automation tool designed to conveniently manage the build process of software projects across multiple platforms

[2020-03-30 09:55] #1201 closed

[2020-03-30 12:00] uilianries commented on #1207
Hi @Nipheris! Your question is vary valid and we are studying the best approach, there are pros and cons depending the approach. For instance, we can't track system library, it can vary according Linux distro and it's hard to replicate a scenario. We have a discussion about how to deal with system libraries here: https://github.com/conan-io/conan-center-index/issues/641

It would be great having y

[2020-03-30 15:48] madebr commented on #776
@uilianries

While working on the bison recipe, this issue emerged again.
The bison binary can hold a hardcoded path to `m4`.
https://github.com/bincrafters/conan-center-index/pull/9

To test whether the relocatable thing was working ok, I had to do the following things:
1. build the package `conan create . bison/3.5.3@`
2. Start `conan_server` and upload the bison recipe `conan upload -r local --

[2020-03-30 15:53] datalogics-kam opened #1219 "[boost] boost/1.72.0: Not able to build due to Forbidden!"
The basic problem is that Boost.org is over their OSS limit, see boostorg/boost#383.

Would it be possible to point source downloads at a more reliable source?

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **boost/1.72.0**
  * Operating System+version: n/a
  * Compiler+version: n/a
  * Docker image: n/a
  * Conan version: n/a
  * Python version

[2020-03-30 16:09] Croydon commented on #891
We welcome recipes for such libraries in the meantime in [Bincrafters](github.com/bincrafters/) until it is ready to move into CCI 😄

[2020-03-30 16:12] Croydon commented on #1219
Maybe we should switch the download to GitHub release downloads? https://github.com/boostorg/boost/releases

[2020-03-30 16:51] philburr commented on #4
Please add me

[2020-03-30 20:59] uilianries commented on #776
@madebr Thanks for sharing the steps!

[2020-03-30 21:00] uilianries commented on #1219
Yes, we can just put as mirror.

[2020-03-30 22:41] rsulli55 opened #1222 "[package] openal/1.19.1: Cannot cross-compile for Windows on Linux"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **openal/1.19.1**
  * Operating System+version: **Linux Manjaro 19.0.2 (fully updated)**
  * Compiler+version: **x86_64-w64-mingw32-gcc 9.3.0**
  * Conan version: **conan 1.23.0**
  * Python version: **Python 3.8.2**

### Conan profile (output of `conan profile show default` or `conan profile show <p

[2020-03-31 01:22] akshit-sharma commented on #891
The bincrafters issue link doesn't seem to work.

[2020-03-31 02:59] seungin opened #1224 "[package] libunwind/1.3.1 library dependency order is wrong"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libunwind/1.3.1**
  * Operating System+version: **Linux Ubuntu 18.04**
  * Compiler+version: **GCC 7**
  * Conan version: **conan 1.21.1**
  * Python version: **Python 2.7.17, 3.6.9**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is i

[2020-03-31 07:15] jgsogo opened #1225 "[package] boost/all: Use `tools.cppstd_flag` from Conan 1.24"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **boost/all**

The recipe is using undocumented Conan API:

https://github.com/conan-io/conan-center-index/blob/9419b6420fe94a453391ccd738bc70eb1c491179/recipes/boost/all/conanfile.py#L3

Conan 1.24 (to be released soon) provides new tool `tools.cppstd_flag` (https://github.com/conan-io/conan/pull/67

[2020-03-31 09:37] gocarlos opened #1227 "[package] libevent: exposed targets with find package missing"
the `find_package` generator generates `Libevent::Libevent` with conan
upstream exposes `event`, `event_core`, `event_extra`, `event_openssl`, `event_pthreads`  when using find_package

related to https://github.com/conan-io/conan-center-index/issues/419

[2020-03-31 09:54] gocarlos commented on #1227
same for mbedtls: `mbedtls`, `mbedx509`, `mbedcrypto`

[2020-03-31 11:05] ZaMaZaN4iK opened #1228 "[request] oatpp/1.0.0"
### Package Details
  * Package Name/Version: **oatpp/1.0.0**
  * Website: **https://oatpp.io/**
  * Source code: **https://github.com/oatpp/oatpp**

### Description Of The Library / Tool
Modern Web Framework for C++. High performance, simple API, cross platform, zero dependency.

[2020-03-31 12:15] ZaMaZaN4iK commented on #621
Does anyone work on the recipe for https://github.com/uWebSockets/uWebSockets?

[2020-03-31 13:26] danimtb commented on #1219
I think it was fixed already. Please check

[2020-03-31 14:33] datalogics-kam commented on #1219
It looks like the Bintray access came back. Thanks for looking at it.

The mirror idea sounds good.

[2020-03-31 15:38] dheater opened #1230 "[request] openssl/1.1.1f"
### Package Details
  * Package Name/Version: **openssl/1.1.1f**
  * Changelog: **https://www.openssl.org/news/openssl-1.1.1-notes.html**

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

[2020-03-31 15:46] danimtb commented on #1055
We should implement this adding more URLs to the same version of the library in the conandata.yml

We could benefit from tools.get() taking a list of URLs in Conan 1.24

[2020-03-31 15:59] #1230 closed

[2020-04-01 06:54] toge opened #1234 "[request] simdjson/0.3.0"
### Package Details
  * Package Name/Version: **simdjson/0.3.0**
  * Changelog: **https://github.com/simdjson/simdjson/releases/tag/v0.3.0**

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

[2020-04-01 08:11] tt4g opened #1235 "[package] libpq/11.5: "error MSB8013: DEBUG|Win32" with Visual Studio"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libpq/11.5**
  * Operating System+version: **Windows 10 1903 (Microsoft Windows [Version 10.0.18362.720])**
  * Compiler+version: **Visual Studio 2017 and Visual Studio 2019**
  * Docker image: **None**
  * Conan version: **conan 1.24.0**
  * Python version: **None (Use conan installer)**

### Cona

[2020-04-01 08:17] tt4g commented on #1235
The build succeeds when you run the `conan create . libpq/11.5@ -s compiler.cppstd=17` command in the x64 Native Tools Command Prompt for VS2019.

[2020-04-01 08:45] tt4g commented on #1235
I understand the difference between the Command Prompt and the x64 Native Tools Command Prompt for VS2019.
`Platform` environment variables are defined in VS Prompt but not in the command prompt.

Command Prompt:

[code]

x64 Native Tools Command Prompt for VS2019:
[code]

The `msbuild` documentation ([How to: Use Environment Variables in a Build \- Visual Studio \| Microsoft Docs](https://docs.mi

[2020-04-01 10:07] #108 closed

[2020-04-01 10:11] #1072 closed

[2020-04-01 10:11] #1073 closed

[2020-04-01 10:14] tt4g commented on #1235
Apparently it is my development environment problem.
I get a build error when trying to build libpq from CMake using cmake-conan.
However, if CMake is not used, the `Platform` environment variables will be set and the build will succeed.

[2020-04-01 10:14] #1235 closed

[2020-04-01 10:30] SpaceIm commented on #1234
simdjson recipe requires a refactoring before adding 0.3.0:
- use patches instead of tools.replace_in_file
- SIMDJSON_ENABLE_THREADS doesn't exists in 0.2.1, it's added in 0.3.0
- SIMDJSON_DISABLE_AVX is removed in 0.3.0 and was useless I guess in 0.2.1 (compilers never enables AVX by default AFAIK, only SSE2)

[2020-04-01 14:33] mristin opened #1237 "[package] date/2.4.1: broken when migrated from bincrafters"
Earlier, there used to be a conan package for a very popular date.h library (https://github.com/HowardHinnant/date):
date/2.4.1@bincrafters/stable

That conan package worked fine and included the time zone information.

The bincrafters' date package was obsoleted some 6 months ago:
https://github.com/bincrafters/conan-date

However, the new date package at:
https://conan.io/center/date/2.4.1/
(rev

[2020-04-01 14:56] datalogics-robb opened #1238 "[package] b2/4.2.0: Doesn't specify toolset (i.e. compiler)"
Building b2 on AIX with gcc fails because the default toolset is used.

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **b2/4.2.0**
  * Operating System+version: **AIX 7.1 PowerPC 64**
  * Compiler+version: **GCC 9.1**
  * Conan version: **conan 1.32.0**
  * Python version: **Python 3.7.4**

### Conan profile (output of `conan profile show defaul

[2020-04-01 16:48] steven-varga opened #1239 "[request] h5cpp/1.10.4.6"
### Package Details
  * Package Name/Version: **h5cpp/1.10.4.6**
  * Website: **https://h5cpp.org**
  * Source code: **https://github.com/steven-varga/h5cpp/tarball/v1.10.4-6**

### Description Of The Library / Tool
HDF5 IO library for modern C++ for major linear algebra systems and the STL with compiler assisted reflection

[2020-04-01 16:51] steven-varga opened #1240 "[request] h5cpp-compiler/1.10.4.6"
### Package Details
  * Package Name/Version: **h5cpp-compiler/1.10.4.6**
  * Website: **https://h5cpp.org**
  * Source code: **https://github.com/steven-varga/h5cpp-compiler**

### Description Of The Library / Tool
This source code transformation companion tool for [H5CPP](http://h5cpp.org) simplifies the otherwise time consuming process of generating the shim code for HDF5 Compound datatypes by

[2020-04-01 17:24] gocarlos commented on #1237
Tried in https://github.com/conan-io/conan-center-index/pull/701 but too many issues with windows which i do not use/fully understand

[2020-04-01 17:59] mristin commented on #1237
@gocarlos I'll have a look at the logs tonight. Maybe I can figure out the error.

@uilianries since you originally migrated the package from bincrafters, do you maybe have any thoughts on the errors?

[2020-04-01 19:19] uilianries commented on #1237
@mristin take a look on https://github.com/conan-io/conan-center-index/pull/329#issuecomment-555964182 to understand why the package has been reduced.

[2020-04-01 19:31] mristin commented on #1237
@uilianries thanks for the clarification!

Any chance you could make a date-tz package? My conan knowledge is way too limited for starting a package from scratch, but I would really like to help as much as I can.

[2020-04-02 01:11] prsolucoes commented on #1228
i want i want i want

[2020-04-02 04:05] TobiSchluter opened #1245 "[package] boost/1.72.0: broken on windows due apparently to implicit link to libboost_unit_test_framework"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: boost/1.72.0, also reproduced with boost/1.71.0
  * Operating System+version: Windows 10
  * Compiler+version: visual studio 2019
  * Conan version: conan 1.22.2
  * Python version: Python 3.7.4

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom pro

[2020-04-02 06:04] TobiSchluter commented on #1245
Setting magic_autolink to True doesn't help

[2020-04-02 06:25] TobiSchluter commented on #1245
Sorry, forgot the compiler line, it is:
    C:\PROGRA~2\MICROS~4\2019\COMMUN~1\VC\Tools\MSVC\1425~1.286\bin\HostX64\x64\cl.exe  /nologo /TP -DBOOST_ALL_NO_LIB -Dunit_test="'  THIS_IS_BAD  '" -IC:\.conan\0e858b\1\include -IC:\Users\Tobi\.conan\data\zlib\1.2.11\_\_\package\75ed07303f056424be45ffb582032fe7ad980a95\include -IC:\Users\Tobi\.conan\data\bzip2\1.0.8\_\_\package\8f5b6f2424f382951ec41d70bf4

[2020-04-02 06:33] TobiSchluter commented on #1245
One more data point: i tried with a different compiler configuration. The first time conan install failed when putting togtether boost. this has happened everytime in the past few days, so I don't think it's related, but who knows ... unfortunately I dismissed it as the usual and didn't keep the log.

Anyway, the build failed with a slight variation of the above:
[code]

[2020-04-02 07:06] TobiSchluter commented on #1245
An interesting observation. First, I simplified the CMakeLists.txt to the minimum:
[code]
I.e. no more fancy find_package magic.

As is, this fails with:
[code]
Notice that it can't link libboost_wave. Now remove the highlighted line. The error changes to the one I observed before:
[code]
I have no explanation for this difference in behavior.

If I now use header_only=True it works (of course it c

[2020-04-02 08:05] #1166 closed

[2020-04-02 08:12] KingKili opened #1246 "[package] <libcurl/7.69.1: Does not find openssl when building with mingw"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libcurl/7.69.1** but happens with all versions
  * Operating System+version: **Fedora 31**
  * Compiler+version: **GCC 9.2.1**
  * Conan version: **conan 1.23.0**
  * Python version: **Python 3.7.6**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if cus

[2020-04-02 10:40] SpaceIm opened #1247 "[package] libpq/11.5: MinGW - configure: error: zlib library not found"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libpq/11.5**
  * Operating System+version: **Windows 10**
  * Compiler+version: **GCC 9.2.0**
  * Conan version: **conan 1.23.0**
  * Python version: **Python 3.7.1**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)
[code]

##

[2020-04-02 10:46] SpaceIm opened #1248 "[package] openssl/1.1.1d: MinGW - fail to build"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **openssl/1.1.1d**
  * Operating System+version: **Windows 10**
  * Compiler+version: **GCC 9.2.0**
  * Conan version: **conan 1.23.0**
  * Python version: **Python 3.7.1**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)
[code]

[2020-04-02 10:49] SpaceIm commented on #1248
Maybe related to https://github.com/openssl/openssl/issues/8268

[2020-04-02 11:09] SpaceIm commented on #1247
Same as https://github.com/conan-io/conan-center-index/issues/1248, it works with CC and CXX explicitly set in conan profile.

[2020-04-02 11:09] #1247 closed

[2020-04-02 11:10] #1248 closed

[2020-04-02 12:17] SpaceIm opened #1249 "[package] bump libiconv version in libarchive, libgettext, libqrencode, libtorrent, libxml2, log4cplus and odbc"
Not a bug, but I don't know which Issue type to pick:

libiconv version can be updated (1.16) in those recipes:
- libarchive
- libgettext
- libqrencode
- libtorrent
- libxml2
- log4cplus
- odbc

[2020-04-02 13:49] uilianries commented on #1237
@mristin You can try helping @gocarlos on #701

[2020-04-02 14:03] uilianries commented on #1166
@KingKili You can use the build_requirements `msys2/20190524` and `mingw_installer/1.0@conan/stable` which are very complete and solve your problem. Regards!

[2020-04-02 14:20] uilianries commented on #1246
Interesting, the error is the same for Windows -> Linux. I'll take a look, thanks for reporting.

[2020-04-02 15:00] SpaceIm opened #1250 "[package] libgettext/0.20.1: MinGW - shared broken (dll not created)"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libgettext/0.20.1**
  * Operating System+version: **Windows 10**
  * Compiler+version: **GCC 9.2.0**
  * Conan version: **conan 1.23.0**
  * Python version: **Python 3.7.1**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)
[co

[2020-04-02 15:12] uilianries commented on #1246
Related issue: https://github.com/bincrafters/community/issues/959

[2020-04-02 21:34] prince-chrismc commented on #1245
I am using cpprestsdk/2.10.14@bincrafters/stable in my project as well. In my `vcxproj` I have the following boost libs.

<details><summary>Click to expand</summary>
[code]
</details>

Most notably is the "unit test framework" in questions. I have been blissfully unaware of that fact for several months now.

if you replace your `empty_file.cpp` with
[code]

Do you have any problems?

[2020-04-02 22:02] jeffk95 opened #1252 "[package] nlohmann_json/3.7.3: "multiple_headers" option doesn't change package ID"
### Package and Environment Details
  * Package Name/Version: **nlohmann_json/3.7.3**
  * Operating System+version: **Windows 10 1809** (also tested in WSL Ubuntu 18.04.3)
  * Compiler+version: **MSVC 19.16** (gcc 7 in WSL)
  * Conan version: **conan 1.24.0**
  * Python version: **Python 3.7.3** (3.6.9 in WSL)

### Conan profile
[code]

### Logs
<details><summary>With multiple_headers set to False

[2020-04-02 23:18] vishsangale commented on #4
I would like to join. Thanks :)

[2020-04-03 08:57] danimtb commented on #1219
@uilianries @Croydon I am closing this issue but please if you think adding the mirror is something we should do, open a new issue for that.  Thanks!

[2020-04-03 08:57] #1219 closed

[2020-04-03 09:00] leyewen commented on #892
@uilianries Please try again with options:
[code]

[2020-04-03 09:01] leyewen commented on #1188
@uilianries I retest your new update, it's ok. Build pretty!

[2020-04-03 09:19] Artalus commented on #4
Hm, I was fairly certain I was already in, but guess not. Chiming in for addition, please :)

[2020-04-03 10:11] SpaceIm opened #1256 "[conan.io/center] expat description was not updated"
expat description was "Recipe for Expat library" in conanfile.py before https://github.com/conan-io/conan-center-index/pull/1167
The new description "Fast streaming XML parser written in C." is not displayed in conan-center Web UI: https://conan.io/center/expat/2.2.9/?user=_&channel=_

[2020-04-03 10:53] danimtb commented on #1256
there was a bug in the data recollection process but was fixed before this PR got merged

[2020-04-03 10:55] TobiSchluter commented on #1245
Wow! That fixes it!

It didn't occur to me that this could be relevant. I had no `main()` because I was still setting up the build system. Chicken, egg.

I guess this has to do with some auto-detection magic?  It's not like I want to have the unit_test_framework in there BTW

[2020-04-03 11:31] #997 closed

[2020-04-03 11:52] SpaceIm commented on #621
libuv: https://github.com/conan-io/conan-center-index/pull/1100
glfw: https://github.com/conan-io/conan-center-index/pull/1242
arrow: https://github.com/conan-io/conan-center-index/pull/1182
cpprestsdk: https://github.com/conan-io/conan-center-index/pull/1191
ceres-solver: https://github.com/conan-io/conan-center-index/pull/588
websocketpp: https://github.com/conan-io/conan-center-index/pull/1160

[2020-04-03 12:02] danimtb commented on #621
@SpaceIm updated!

[2020-04-03 12:08] uilianries commented on #1219
Sure! Now with Conan 1.24 we add any mirror easily.

[2020-04-03 12:10] uilianries commented on #1188
@leyewen Thanks for your feedback!

[2020-04-03 12:14] uilianries commented on #1252
Hi @jeffk95 ! Thanks for reporting us! we will provide a fix soon.

[2020-04-03 13:06] zod opened #1259 "zlib recipe overwrites ENV settings"
I'm trying to build zlib using the following profile
[code]

Building zlib fails because I don't have _clang_ binary but only _clang-6.0_ binary because it's overwritten by the recipe. You also can't build with a different clang version, only the one provided by your _clang_ binary.

https://github.com/conan-io/conan-center-index/blob/a025bb0e4d523db2cf08c4eb7730079c94368b8e/recipes/zlib/1.2.11/co

[2020-04-03 13:51] uilianries commented on #1259
I see, we need to check is CC and CXX are configured.

[2020-04-03 16:01] SpaceIm commented on #621
There is also https://github.com/conan-io/conan-center-index/pull/1146 linked by gocarlos

[2020-04-03 16:42] prince-chrismc commented on #1245
There might be room for improvement if we are package the main for boost unto test in by default but since the behaviour as is works might not be a priority.

[2020-04-03 20:10] Nekto89 opened #1265 "[package] boost/1.72.0: Boost.Log can't be built with boost:filesystem_no_deprecated=True"
### Package and Environment Details
  * Package Name/Version: **boost/1.72.0**
  * Operating System+version: **Windows 10**
  * Compiler+version: **VS2017 Update 9 (v15.9.20)**
  * Conan version: **conan 1.24.0**
  * Python version: **Python 3.8.1**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)
[code]

### Steps to reprodu

[2020-04-03 21:12] uilianries commented on #1250
Full log: https://gist.github.com/uilianries/205c2bcc4bfda2396457af2e6877097b

[2020-04-03 21:45] Croydon opened #1268 "[conan.io/center] Search through topics"
It would be awesome if the search would search through the recipe topics too.

This would allow to not only search when I already know what I'm searching for, but also when I'm searching for **--some--** package to solve a problem

Example: I want to to use some library to parse command line arguments. Then I could search for terms like `cli` and `command line`

[2020-04-03 22:44] jgsogo opened #1270 "[package] boost/all: Compile locale, regex using ICU"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **boost/all**

Hi, I'm trying to compile Boost (locale, regex) using ICU instead of ICONV (right now testing locally in Macos). I've found several links on internet where it looks like it is enough to add a `-sICU_PATH` to the `b2` command line, but I cannot make it work. Ideas? Anyone can help me?

[2020-04-04 02:21] TobiSchluter commented on #1245
In that case, if  I don't provide a main function it would produce an executable with boost-test's main? I believe that would equally surprising behavior, maybe easier to debug.

In my ideal world, conan-boost would follow boost's convention, i.e. Boost::boost pulls in the header-only libraries, and the compiled libraries would have to be added one-by-one by name, but I think I can see why one wou

[2020-04-04 09:24] xyz1001 commented on #940
Has there been any progress? @SSE4

[2020-04-04 12:17] jgsogo commented on #1270
Having a look to the ouptu in the `boost/bin.v2/config.log` file I see several errors:

[code]

The `has_icu_test.cpp` fails and this is probably the reason why ICU is not detected.

Looking for this error on Internet there are many people talking about a `_HAS_EXCEPTIONS` definition... 🕵

[2020-04-04 12:32] jgsogo commented on #1270
Ok, ICU requires C++11...

[2020-04-04 13:40] vanwinkeljan commented on #4
I would like to join

[2020-04-04 17:35] sparfenyuk commented on #1252
The same for 3.7.0

[2020-04-05 04:41] TobiSchluter commented on #1245
Ah, should have closed this, done now ...

[2020-04-05 04:41] #1245 closed

[2020-04-05 10:14] joelpurra opened #1276 "[request] libuvc/0.0.6"
### Package Details
  * Package Name/Version: **libuvc/0.0.6**
  * Website: **https://ken.tossell.net/libuvc/doc/**
  * Source code: **https://github.com/libuvc/libuvc**

### Description Of The Library / Tool

More about the UVC standard:

- https://en.wikipedia.org/wiki/USB_video_device_class
- https://en.wikipedia.org/wiki/List_of_USB_video_class_devices

[2020-04-05 10:32] Croydon commented on #1276
https://github.com/bincrafters/conan-libuvc can be migrated

[2020-04-05 12:21] Foadsf opened #1279 "[request] < mmg >/<LIBRARY-VERSION>"
### Package Details
  * Package Name/Version: **mmg/<version>**
  * Website: **https://www.mmgtools.org/**
  * Source code: **https://github.com/MmgTools/mmg**

### Description Of The Library / Tool

from their repository:

[2020-04-05 12:27] Foadsf opened #1280 "[request] <scotch>/<LIBRARY-VERSION>"
### Package Details
  * Package Name/Version: **scotch/&lt;version>**
  * Website:
  * Source code: **https://github.com/poulson/scotch**

### Description Of The Library / Tool

From their documentation

[2020-04-05 12:39] Foadsf opened #1281 "[request] <elastic>/<LIBRARY-VERSION>"
### Package Details
  * Package Name/Version: **elastic/&lt;version>**
  * Website:
  * Source code: **https://github.com/ISCDtoolbox/LinearElasticity**

### Description Of The Library / Tool

from their repository:

[2020-04-05 13:55] renatoGarcia commented on #4
Hi! I would like to join on EAP to merge this #1282 Thanks!

[2020-04-05 14:21] sinall commented on #1027
@danimtb It isn't hard requirement, there are 2 reasons:
1. A few users are still using 32bit Windows
2. Some of libraries my applications depends on still don't have corresponding conan infrastructure, they were previously compiled as 32bit.
The current situation is if I want to upgrade one of the libraries such as cpprestsdk, boost, etc, I have to compile them in my local machine, or I change en

[2020-04-05 20:10] ericLemanissier commented on #641
I started working on wayland : https://github.com/bincrafters/conan-wayland. The package is quite self-contained, and ubuntu distro seems to build it `vanilla`. Also, wayland is just the implementation of a protocol (named wayland too...), and I don't know of another implementation.
This makes me think we could simply create a conan-center-package for it, without creating a proxy for the system ve

[2020-04-05 20:11] madebr commented on #1265
For fixing the underlying problem, I suggest opening an issue at https://github.com/boostorg/log.
The only thing we can do, is warn about or disable that option combination.

[2020-04-06 07:31] ltjax commented on #641
I think you definitely want the option of using proxies for system level dependencies like that, regardless of whether it's technically a good idea. The end decision should be up to the application developer/stakeholders.
There's really a few concerns with this. Deployment is only one of them. Sometimes you also do not want to many deep per-project dependency hierarchies in conan and instead rely

[2020-04-06 07:59] Nekto89 commented on #1265
https://github.com/boostorg/log/pull/112

[2020-04-06 08:24] mristin commented on #1237
@uilianries thanks, I'll try to help.

[2020-04-06 08:26] Foadsf commented on #1280
There are many clones of scotch available on the internet. But [this one](https://bitbucket.org/petsc/pkg-scotch/src/master/)

https://bitbucket.org/petsc/pkg-scotch/src/master/

seems to be maintained.

[2020-04-06 08:35] #1225 closed

[2020-04-06 09:28] #1019 closed

[2020-04-06 13:32] SpaceIm opened #1287 "[package] fmt/all: do not use CMAKE_WINDOWS_EXPORT_ALL_SYMBOLS"
Currently fmt recipe uses CMAKE_WINDOWS_EXPORT_ALL_SYMBOLS.
But there is no reason to enable CMAKE_WINDOWS_EXPORT_ALL_SYMBOLS, fmt provides proper macros in order to import and export symbols (I've checked all the versions listed in conandata.yml).

[2020-04-06 13:45] jmarrec commented on #964
I'm hitting the same locally when building boost/1.71.

Plenty of `this-file-does-not-exist` in the log.

------

Context:

With the latest version of `boost/1.71` following this commit https://github.com/conan-io/conan-center-index/commit/a09f5925095eaca10c162692fed8f2b001a0ef80 (we use conan_cmake_run passing `UPDATE` argument, so new versions are downloaded when they are released...), my MSVC b

[2020-04-06 13:50] SpaceIm opened #1288 "[package] fmt/all: do not append lib to bindirs and provides patch for 5.3.0 and 6.0.0"
Installation destination was fixed in fmt's CMakeLists since 6.1.0
dll is now properly installed in `bin` folder. I think it would be better to patch 5.3.0 and 6.0.0 than appending `lib` in `cpp_info.bindirs`

[2020-04-06 13:57] jeremy-coulon opened #1289 "[package] openssl/[>=1.1.0]: Can't remove deps to zlib"
There is no 'no_zlib' option anymore.
openssl now always depends on zlib.
Please remove zlib dependency.
I think this is a regression from #108

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **openssl/[>=1.1.0]**
  * Operating System+version: **Linux Ubuntu 18.04**
  * Compiler+version: **GCC 7**
  * Conan version: **conan 1.24.0**
  * Python ve

[2020-04-06 14:01] danimtb commented on #1133
Related https://github.com/oneapi-src/oneTBB/issues/237

I think we have enough information to go forward with the changes in the checksums. We can discuss the rename of the package in the future

[2020-04-06 14:11] uilianries commented on #1252
@sparfenyuk The fix will be applied for all version 👍

[2020-04-06 14:26] #1133 closed

[2020-04-06 14:48] Nekto89 commented on #4
I'd like to join

[2020-04-06 15:08] #1252 closed

[2020-04-06 15:32] uilianries commented on #641
I will print this and put it on a board

[2020-04-06 15:33] gocarlos opened #1292 "[request] tinydtls/latest"
### Package Details
  * Package Name/Version: **tinydtls/latest**
  * Website: **https://projects.eclipse.org/projects/iot.tinydtls**
  * Source code: **https://github.com/eclipse/tinydtls/**

### Description Of The Library / Tool
tinydtls is a library for Datagram Transport Layer Security (DTLS) covering both the client and the server state machine. It is implemented in C and provides support for

[2020-04-06 15:33] gocarlos commented on #1292
related to https://github.com/conan-io/conan-center-index/pull/929

[2020-04-06 16:59] uilianries commented on #1265
We can add a patch in the future if the upstream provides one.

[2020-04-06 17:02] uilianries commented on #1280
I think http://scotch.gforge.inria.fr/ is the official upstream

[2020-04-06 21:33] uilianries commented on #1119
Duplicated https://github.com/conan-io/conan-center-index/issues/1259

[2020-04-07 01:38] peter-moran opened #1298 "[question] Boost: can you select a subset of libraries"
Using the boost recipe, is it possible to only use a subset of the boost libraries? For my company, this would help enforce our rules that only a subset of boost may be used.

I see that the recipe lets you specify `without_<library>` for some of the libraries, but not most. I'd rather something more like [BCP](https://www.boost.org/doc/libs/1_72_0/tools/bcp/doc/html/index.html#bcp.syntax.module)

[2020-04-07 02:25] gtalent opened #1299 "[package] JsonCpp/1.9.2: Not generating cxx11abi symbols"
### Package and Environment Details
  * Package Name/Version: JsonCpp/1.9.2
  * Operating System+version: Debian 10
  * Compiler+version: GCC 8
  * Conan version: conan 1.24.0
  * Python version: Python 3.7.3

### Conan profile
[code]

### Steps to reproduce
Build a C++17 binary against JsonCpp and call Json::writeString.

Apparently this is a decently common issue with JsonCpp when built incorrec

[2020-04-07 06:10] leyewen opened #1300 "[request] opencv/4.3.0"
### Package Details
  * Package Name/Version: **opencv/4.3.0**
  * Changelog: **https://github.com/opencv/opencv/releases**

Since OpenCV 4.3.0, OpenCV DNN accelerated by Inference Engine (DLDT). Please add https://github.com/conan-community/conan-opencv to `conan-center-index` and support 4.3.0 version! It an exciting version.

[2020-04-07 07:56] #773 closed

[2020-04-07 08:34] #1246 closed

[2020-04-07 11:39] uilianries commented on #1298
If some library is missing, we can add by a new option, no problem.

That's not possible, otherwise, users will two ways to do the same thing, which would add a new complexity to the recipe.

[2020-04-07 11:45] uilianries commented on #1299
Hello @gtalent !

To install that specific package, your profile needs to match to what you want. You need to update your libcxx on your settings:

    conan profile update settings.compiler.libcxx=libstdc++11 default

Please, read the follow documents to get more information:

Getting Started - Step 5:
https://docs.conan.io/en/latest/getting_started.html

How to manage the GCC >= 5 ABI:
https://d

[2020-04-07 11:52] uilianries commented on #1133
Finally we have an answer about the new repo:

https://github.com/oneapi-src/oneTBB/issues/237#issuecomment-610241328

[2020-04-07 12:14] jgsogo opened #1304 "[question] Is 'gettext' the same recipe as 'libgettext'?"
If they are the same (I think so) we should mark one of them as deprecated:
 * Add a comment to the recipe file at the top
 * Add some message to the user like in `jsonformoderncpp`: https://github.com/conan-io/conan-center-index/blob/master/recipes/jsonformoderncpp/all/conanfile.py

Please, add the same message to the top of the `conanfile.py` in `jsonformoderncpp`

Do you think we should standar

[2020-04-07 13:03] gocarlos commented on #1304
the deprecated should also be in conan center e.g. https://conan.io/center/jsonformoderncpp/3.7.0/?user=_&channel=_

[2020-04-07 13:47] uilianries commented on #1304
Same old case: installer package x library package. Now, using the new x-building feature, we can unify both into an unique recipe.

[2020-04-07 14:20] Croydon commented on #1304
Yes, definitely. Over the years this will happen a lot. So we should standardize it to not create confusion.

I think there are two forms of deprecations we need to talk about:
  * deprecations of packages (more urgently)
  * deprecation of package versions - we probably don't want to **--build--** all package versions we ever added forever. Maybe "deprecation" is a too strong name for it. We migh

[2020-04-07 14:26] uilianries opened #1307 "[restclient-cpp] Add restclient-cpp"
The original issue came from https://github.com/conan-community/community/issues/320

/cc @igor-sadchenko

# Description of Problem, Request, or Question

Add restclient-cpp package to the latest commit in master of https://github.com/mrtazz/restclient-cpp

Here is the repo with recipe https://github.com/igor-sadchenko/conan-restclient-cpp
# Package Details

Package Name/Version: restclient-cpp:co

[2020-04-07 14:35] gocarlos commented on #1194
https://github.com/cabo/cn-cbor/issues/60

[2020-04-07 14:46] Croydon commented on #1300
OpenCV has many dependencies which we need to first get into CCI.

It is probably better to make a 4.3.0 release in conan-community in the meantime

[2020-04-07 18:19] VladasZ opened #1309 "[package] m4_installer/1.4.18: Raspberry Pi build error"
I can't install packages on Raspberry Pi 4.

[code]

### Package and Environment Details
m4_installer/1.4.18
Linux raspberrypi 4.19.97-v7l+
gcc (Raspbian 8.3.0-6+rpi1) 8.3.0
Conan version 1.24.0
Python 3.7.3

### Conan profile
[code]

### Steps to reproduce (Include if Applicable)

I have the same error with different packages:
soil2/1.11@bincrafters/stable
glfw/3.3@bincrafters/stable
glew/2.1.0@b

[2020-04-08 07:01] gtalent commented on #1299
Ah, that did it. Thanks!

[2020-04-08 07:01] #1299 closed

[2020-04-08 08:01] jgsogo opened #1310 "[conan.io/center] Remove querystring (user and channel arguments) from URL (if not needed)"
Right now URLs for recipes without user and channel contain a querystring, i.e. `https://conan.io/center/libcurl/7.69.1/?user=_&channel=_`. This make them to fail in markdown generators like the one in Github:

 * copy/paste the link won't work: https://conan.io/center/libcurl/7.69.1/?user=_&channel=_
 * using the verbose format with `[]()` adds italics and renders an URL that is not valid (you ca

[2020-04-08 08:17] #1287 closed

[2020-04-08 08:17] #1288 closed

[2020-04-08 08:23] #1188 closed

[2020-04-08 08:29] danimtb commented on #1310
Related to https://github.com/conan-io/conan-center-index/issues/768

[2020-04-08 08:32] danimtb commented on #1133
Thanks for the update. I don't think tbb is going to be known as onetbb in the short term, so let's see in the future

[2020-04-08 12:43] uilianries commented on #1309
@VladasZ do you know if m4 is supported on ARM? I'm almost sure that's an upstream limitation.

[2020-04-08 12:51] VladasZ commented on #1309
@uilianries i am able to install it with apt. So i guess it is supported.

![image](https://user-images.githubusercontent.com/10122409/78785992-ba98c300-79b0-11ea-872f-c96e41ba4343.png)

[2020-04-08 13:22] #1119 closed

[2020-04-08 13:28] uilianries commented on #1309
Are you sure that package was built using ARM architecture? I think it was cross-built from x86-64.

[2020-04-08 13:53] VladasZ commented on #1309
@uilianries i'm not sure about that. Is there a way to force conan use already installed m4?

[2020-04-08 14:02] uilianries commented on #1309
You can force, but won't work as your current arch is armv7. I suggest you cross-building your apps and packages instead of building directly in Raspberry. First, Rpy is hardware limited when compared to a regular computer, it will more time to build the same app on RPY than on a regular computer. Also, the storage for temporary objects and cache will require more space from your embedded device,

[2020-04-08 14:18] SSE4 commented on #1309
I think we already faced it: https://github.com/bincrafters/community/issues/1027
and applied patches from https://git.busybox.net/buildroot/commit/?id=c48f8a64626c60bd1b46804b7cf1a699ff53cdf3 to address exactly the same problem...

[2020-04-08 14:30] VladasZ commented on #1309
@uilianries obviously anything will take more time on Raspberry than on regular computer. Unfortunately i'm currently stuck only with Raspberry so i have no choice. I have 256gb SD card and 4gb of RAM so space shouldn't be an issue. I was able to build assimp, glm, box2d, bullet3, which are not lightweight libraries, using conan without any problems. Why won't it work if i force using installed m4

[2020-04-08 14:56] sujankota opened #1316 "[boost] boost/1.71: bootstrap fails on Raspberry pi4"
### Package and Environment Details
-  Package Name/Version: boost/1.71
- Operating System+version: Raspberry pi 4/buster
- Compiler+version: gcc 8.3
- Conan version: conan 1.24.0
- Python version: 3.7.3

### Steps to reproduce
Unable to build boost 1.71.0

### Logs (Include/Attach if Applicable)
<details><summary>Click to expand log</summary>

[code]

</details>

[2020-04-08 15:12] gonestco commented on #4
I would like to join. Thanks.

[2020-04-08 15:44] SSE4 commented on #1249
the @Croydon bot does amazing job by automatically fixing this as soon as someone touches the library
example: https://github.com/conan-io/conan-center-index/pull/1293

[2020-04-08 16:06] uilianries commented on #1309
@SSE4 interesting, so can we apply that patch for CCI m4 installer?

@VladasZ First, you are using Bincrafters m4 installer, not conan-cente-index m4 package, they are different and provided by different communities. The m4_installer/bincrafters is deprecated and will no longer be supported. You have to use [m4/1.4.18](https://conan.io/center/m4/1.4.18) instead.

About your problem, I'll open a PR

[2020-04-08 16:09] uilianries commented on #1309
Looking again, those patches are already there. @VladasZ please, use m4 from Conan Center Index and check the result.

[2020-04-08 16:43] VladasZ commented on #1309
@SSE4  installing bison and flex as suggested in bincrafters/community#1027 thank you.
@uilianries i see now. I got glfw package link from https://conan.io/center so i assumed all issues are related to Conan Center Index. m4/1.4.18 Conan Center Index package builds without issues indeed.

But how can i use packages from bincrafters but m4 from Conan Center Index? I added m4/1.4.18 in the begginnin

[2020-04-08 16:43] #1309 closed

[2020-04-08 16:49] uilianries commented on #1309
@VladasZ I see. Well, it won't work, because m4 and m4_installer are different names, so Conan consider them as different packages. We don't have glfw available in CCI yet, but there is a PR: https://github.com/conan-io/conan-center-index/pull/1242. I can update the Bincrafters version.

[2020-04-09 00:14] aleksa2808 opened #1321 "[package] boost/1.70.0: undefined reference with clang-9 + ubuntu 18.04 + libstdc++"
Hi!

I'm having problems with several conan-center packages when trying to compile them with clang-9 and an older stdlibc++ ABI, but thought I'd narrow down the issue as much as I can. I started using the older stdlibc++ ABI since there were no boost (and other libs') binaries available with the new one (linked question here #1091).

The issue I'm getting when trying to build a simple program that

[2020-04-09 02:08] xyz1001 commented on #4
I would like to join. Thanks.

[2020-04-09 08:52] mheyse opened #1324 "[package] boost/1.72.0: dependency 'b2' not found when cross compiling"
### Summary
When cross compiling `boost` the conan build system does not find the `build_requires` dependency `b2`. `b2` does get built with the correct compiler and works but the `boost` recipe can not access the dependency - specifically, the key `b2` does not exist in `self.deps_cpp_info` and the compilation process aborts with this error message:

[code]

This has been tested with two differen

[2020-04-09 08:56] mheyse commented on #1324
The attached `boost-build.log` was missing the stderr output, here a complete version.
[boost-build.log](https://github.com/conan-io/conan-center-index/files/4455075/boost-build.log)

[2020-04-09 12:18] uilianries opened #1327 "[package] ninja/1.9.0: Need to be built by GCC 4.9"
Ninja package is an installer and is built and distributed using GCC 5 as the compiler setting is removed from its package id. The problem occurs when a package requires Ninja as build requirement, but needs to be build by GCC 4.9.

The glibc version from Trusty (GCC 4.9) is incompatible to Xenial (GCC 5), which results is linkage error.

We need to find some way to detect when a package is an ins

[2020-04-09 12:20] ericLemanissier commented on #1327
continuation of https://github.com/conan-io/conan-center-index/issues/624 and https://github.com/conan-io/conan-center-index/issues/213

[2020-04-09 12:22] Algiane commented on #1279
Hi @Foadsf ,

I am really sorry, but from my side I miss time to create and maintain packages.

Best,
Algiane

[2020-04-09 17:38] SpaceIm opened #1329 "[request] xz_utils/5.2.5"
### Package Details
  * Package Name/Version: **xz_utils/5.2.5**
  * Changelog: **https://git.tukaani.org/?p=xz.git;a=blob;f=NEWS;hb=HEAD**

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

[2020-04-09 18:16] jheaff1 opened #1330 "[request] Log4cxx/0.10.0"
### Package Details
  * Package Name/Version: **log4cxx/0.10.0**
  * Website: **https://logging.apache.org/log4cxx/latest_stable/**
  * Source code: **http://gitbox.apache.org/repos/asf/logging-log4cxx.git**

### Description Of The Library / Tool
Apache log4cxx is a logging framework for C++ patterned after Apache log4j, which uses Apache Portable Runtime for most platform-specific code and should

[2020-04-10 00:16] axalon900 commented on #4
Hello, I too would like to get in on the action.

[2020-04-10 10:41] jheaff1 commented on #621
I am aware that there is a recipe for Apache Thrift v0.30.0 in the Bincrafters GitHub. Are there plans to provide recipes for later versions of Thrift (e.g 0.90) and to include them in CCI?

[2020-04-10 16:12] MrKris99 commented on #582
+

[2020-04-10 17:30] Croydon commented on #621
All Bincrafters recipes will be migrated to CCI at some point, but for several reasons many recipes can't be migrated yet, some others could, but it is a matter of contributors and their time.

Thrift requires winflexbison, bison and flex which are not yet in CCI. They need to be migrated first.

Requesting new versions should be seen as a separate issue. If you wish for new versions of Bincrafter

[2020-04-10 17:59] jheaff1 commented on #621
@Croydon Thank you very much for the clarification! Are Bincrafters packages deemed stable or are they considered work-in-progress and once complete then migrated to CCI?

[2020-04-10 18:08] Croydon commented on #621
Generally speaking, Bincrafters package can be considered stable.

[2020-04-10 19:12] jfalcou commented on #4
Hi, I would like to request access.

[2020-04-10 20:48] jheaff1 commented on #621
Great, thanks for the info

[2020-04-12 15:36] carpajr commented on #99
Hello!

Is there some news about the fix?

[2020-04-12 17:32] peter-moran commented on #1298
I think that `without_<library>` only applies to libraries that need to get compiled, which is why the list does not include any header only libraries.

In the end, it looks like my best option is to use conan packages that wrap individual parts of boost, as done by the bincrafters version of boost: https://github.com/bincrafters/conan-boost. That way I can include them as needed.

[2020-04-13 00:08] axalon900 commented on #1298
Well, the bincrafters modular boost hasn't been updated since 1.69, so I suspect it's quite a lot of work to keep up, given how there's cyclic dependencies and what-have-you within the libraries. BCP does things on a file level mostly. I know BCP has gotten library-level features but AFAIK that's new and still somewhat experimental.

The boost recipe is very complex, but last I checked it really o

[2020-04-13 13:39] DominikDeak opened #1337 "[package] boost/1.72.0: Build error when enabling lzma option"
Building boost with  `--options lzma=True` generates an error. All other data compression library options work ok.

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **boost/1.72.0**
  * Operating System+version: **macOS Mojave 10.14.6 (18G4032)**
  * Compiler+version: **11.0.0 (clang-1100.0.33.17)**
  * Conan version: **conan 1.24.0**
  * Python ve

[2020-04-13 13:41] uilianries commented on #1324
Hi @mheyse indeed we can't access "b2", but using the old approach should work:

    conan install . -pr x86_64-w64-mingw32 --build

Let's see what the x-building sorcerer @jgsogo can tell to us.

@jgsogo How can we access "b2" path from the build profile? Could you help us?

[2020-04-13 14:18] jgsogo commented on #1324
Hi! It is great to know that someone is experimenting with the new cross building model, receiving feedback about this kind of features in real scenarios is very important for us 🙌

Using the new approach with the host and build profiles, it changes a little bit how things are propagated to consumers. Important bits [here](https://github.com/conan-io/conan/blob/01c791970d5451d6860747f29f5e132dabb6

[2020-04-13 17:45] mheyse commented on #1324
I had tried this, it fails when building `b2`. Note: I've never used conan before, so I dont' really understand it so it might be entirely possible that I'm doing something wrong here, but if I use the conanfile.txt from above and the `-pr x86_64-w64-mingw32` option the build fails with

[code]

I assume this means that `b2` is being built with the cross compiler, not the build compiler but that's

[2020-04-13 17:53] uilianries commented on #1324
Yes, it's important. We discussed about avoiding system binaries, because we can't their version/behavior. It would be nice a built-in property to validate if we are running with dual profile or cross-building with the old approach.

[2020-04-13 17:58] uilianries commented on #1337
Hi @DominikDeak ! Thanks for the very detailed report, I can reproduce your error.

[2020-04-13 19:22] pss146 commented on #4
I would like to join. Thanks.

[2020-04-14 05:38] zhenlei commented on #4
please add me. Thanks~

[2020-04-14 08:52] SSE4 commented on #1324
@jgsogo we may still need to get the path to the tool, e.g. to specify on command line or to write to some config file used on build system input. thus, `run_environment` is not always a sufficient. how to achieve that with new model?
example:
[code]

[2020-04-14 09:31] jgsogo commented on #1324
I'm moving this conversation about the paths to slack, let's keep this issue for the original topic.

---

Using

[code]

will tell Conan to build everything using the profile in `x86_64-w64-mingw32`. As it is one of the `host` profiles, it doesn't make sense to build `b2` using that compiler as it won't be able to run in the build_machine.

With the old approach, people need to run Conan twice: f

[2020-04-14 10:01] #892 closed

[2020-04-14 10:27] #991 closed

[2020-04-14 12:23] mheyse commented on #1324
This works, thank you for the clarification!

So for my part unless you still want to continue the discussion about the new approach here this issue can be closed.

Thanks!

[2020-04-14 12:53] jgsogo commented on #1324
Great! Thanks a lot for your issue, it originated a really interesting conversation (and things we need to improve in Conan).

And kudos to the people working on recipes, they are the ones making sense of Conan. 🎉

[2020-04-14 12:53] #1324 closed

[2020-04-14 14:37] SpaceIm opened #1345 "[request] vulkan-headers/1.2.135.0"
### Package Details
  * Package Name/Version: **vulkan-headers/1.2.135.0**
  * Website: **https://github.com/KhronosGroup/Vulkan-Headers**
  * Source code: **https://github.com/KhronosGroup/Vulkan-Headers**

### Description Of The Library / Tool

Vulkan header files and API registry

[2020-04-14 14:39] SpaceIm opened #1346 "[request] vulkan-loader/1.2.135.0"
### Package Details
  * Package Name/Version: **vulkan-loader/1.2.135.0**
  * Website: **https://github.com/KhronosGroup/Vulkan-Loader**
  * Source code: **https://github.com/KhronosGroup/Vulkan-Loader**

### Description Of The Library / Tool

Khronos official Vulkan ICD desktop loader for Windows, Linux, and MacOS.

Depends on https://github.com/conan-io/conan-center-index/issues/1345

[2020-04-14 14:41] SpaceIm opened #1347 "[request] vulkan-validation-layers/1.2.135.0"
### Package Details
  * Package Name/Version: **vulkan-validation-layers/1.2.135.0**
  * Website: **https://github.com/KhronosGroup/Vulkan-ValidationLayers**
  * Source code: **https://github.com/KhronosGroup/Vulkan-ValidationLayers**

### Description Of The Library / Tool

Khronos official Vulkan validation layers for Windows, Linux, Android, and MacOS.

Depends on https://github.com/conan-io/con

[2020-04-14 14:58] Dattax opened #1348 "[conan.io/center] Feedback Request for Configurations page UI"
We have been working with a few Conan users on developing a better Configurations page UI. The current configurations page (https://conan.io/center/jansson/2.12/?user=_&channel=_&revision=&os=Linux&tab=config) is useful, but was a 1st iteration. We are now working to develop a better one. Can you please provide feedback and we can make a 2nd iteration. A few considerations:

1. We know there is to

[2020-04-14 15:00] Dattax commented on #1268
We have it on the roadmap to introduce a topics-based search this quarter. If you have ideas about the best workflow or UI for this topic-based search - feel free to email me: deepd@jfrog.com. I would be happy to work with you on it!

[2020-04-14 15:02] Dattax commented on #339
This is on the roadmap for this quarter and will be released by the end of June. We are just starting to look at the best UI/display for this.

[2020-04-14 15:17] memsharded commented on #1348
I struggled the other day with the "Configuration" tab, because I was looking for "binaries" or "packages". I was reading "Configuration" as "instructions to configure the package". Maybe that is happening to other users?

The package-ID hash is very important, it should be explicit somewhere. It is the coordinate necessary to locate a binary in a lockfile, in Artifactory. It is necessary for exam

[2020-04-14 18:35] SalDiAngelus opened #1353 "[package] opencv: GTK Cannot be disabled"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **opencv/3.4.5, opencv/4.1.1**
  * Conan version: **conan 1.24.0**

### Steps to reproduce
run `conan install opencv/4.1.1@conan/stable -s build_type=Release -b opencv`

### Logs
[code]

By default, gtk is set to None. The comparison [in the conan file](https://github.com/conan-community/conan-opencv

[2020-04-14 19:34] SSE4 commented on #1015
@madebr yes, changes are definitely acceptable as they improve the situation
feel free to submit PR
(sorry for the late reply)

[2020-04-14 19:36] SSE4 commented on #940
@xyz1001 right now I don't know how to fix it correctly without breaking other use-cases. suggestions and PRs are welcomed.

[2020-04-14 22:36] gocarlos commented on #1348
![6E0E33C2-2CA0-43B8-9D99-DCADCFD9C2DD](https://user-images.githubusercontent.com/1331762/79280601-08ca2c80-7eb1-11ea-9182-d0a267a00356.jpeg)

[2020-04-15 09:02] #1289 closed

[2020-04-15 13:51] jheaff1 opened #1361 "[package] <OpenSSL>/1.0.2u>: OpenSSL <1.1.0 fails to cross compile for armv7"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **openssl/1.0.2u**
  * Operating System+version: **Linux CentOS 7.7.1908 18.04**
  * Compiler+version: **GCC 4.9**
  * Docker image: **conanio/gcc49-armv7**
  * Conan version: **conan 1.24.0**
  * Python version: **Python 3.6.7**

### Conan profile (output of `conan profile show default` or `conan pr

[2020-04-15 14:12] SpaceIm opened #1362 "[request] gperftools/2.7"
### Package Details
  * Package Name/Version: **gperftools/2.7**
  * Website: **https://github.com/gperftools/gperftools**
  * Source code: **https://github.com/gperftools/gperftools**

### Description Of The Library / Tool

gperftools is a collection of a high-performance multi-threaded malloc() implementation, plus some pretty nifty performance analysis tools.

[2020-04-15 15:53] datalogics-aarroyo commented on #4
I would like to request access. Thank you.

[2020-04-15 17:09] sanblch opened #1363 "how it is expected to be used as a dependency?"
https://github.com/conan-io/conan-center-index/blob/8031e6e4845c9b9436798dedf3095e5e06e68c2f/recipes/c-ares/all/conanfile.py#L49

Somewhy cmake and pkg-config are being removed after installation. How it is expected to append as a dependency to other recipes, where cmake is used?

[2020-04-15 17:26] pgeler opened #1364 "[request] asio/1.16.0"
### Package Details
  * Package Name/Version: **asio/1.16.0**
  * Changelog: **https://github.com/chriskohlhoff/asio/releases/tag/asio-1-16-0**

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

[2020-04-15 17:27] Croydon commented on #1363
https://github.com/conan-io/conan-center-index/wiki/FAQ#why-are-cmake-findconfig-files-and-pkg-config-files-not-packaged

[2020-04-15 17:50] sanblch commented on #1363
Very helpful! Thank you. It still requires further development, writing Find***.cmake or changing every package recipe among dozens because they use cmake way of dependencies not smth I want to do.

[2020-04-15 17:50] #1363 closed

[2020-04-15 17:53] Croydon commented on #1363
You don't need to write any Find*.cmake files manually you can use Conan generators to generate them for you (like the FAQ mentions)

[2020-04-15 20:35] serpent7776 commented on #4
I'd like to join, thanks

[2020-04-15 21:55] SpaceIm opened #1369 "[request] spirv-cross/20200403"
### Package Details
  * Package Name/Version: **spirv-cross/20200403**
  * Website: **https://github.com/KhronosGroup/SPIRV-Cross**
  * Source code: **https://github.com/KhronosGroup/SPIRV-Cross**

### Description Of The Library / Tool

SPIRV-Cross is a practical tool and library for performing reflection on SPIR-V and disassembling SPIR-V back to high level languages.

[2020-04-15 22:27] ArekPiekarz opened #1370 "[request] backward-cpp/1.5"
### Package Details
  * Package Name/Version: **backward-cpp/1.5**
  * Changelog: **https://github.com/bombela/backward-cpp/releases/tag/v1.5**

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

[2020-04-16 03:31] guyfrancoeur commented on #1022
Hello,

Request x2.

Version 4.8.7 lastest stable (not moving) 😉

G

[2020-04-16 07:05] #1364 closed

[2020-04-16 07:21] Croydon commented on #696
No CCI recipe uses 1.1.0 anymore. The remaining use of the 1.0.2 version series is the following:

Recipe | OpenSSL version | Upgraded to 1.1.1 after creating this list
---- | ------ | ----------
boton/all | 1.0.2t | ❌
libpq/all | 1.0.2t | ❌
mysql-connector-c/all | 1.0.2t | ❌
poco/all | 1.0.2t | ❌

[2020-04-16 10:17] #1259 closed

[2020-04-16 10:18] #1078 closed

[2020-04-16 13:35] uilianries commented on #1022
Qt is a big challenge, for now, you can try Bincrafters version: https://bintray.com/bincrafters/public-conan/qt%3Abincrafters

[2020-04-16 14:52] Renari commented on #1022
That's Qt5

[2020-04-16 18:24] gocarlos opened #1377 "Add microsoft GSL 3.0"
### Package Details
  * Package Name/Version: **microsoft gsl/3.0.0**
  * Changelog: **https://github.com/microsoft/GSL/releases/tag/v3.0.0**

Also the find package is now `find_package(Microsoft.GSL)`

[2020-04-17 00:59] AndrewMeadows commented on #4
I request EAP.  I want to add recipes to conan-center-index.

[2020-04-17 09:21] danimtb opened #1386 "[service] Version check not taking into account more than one conandata.yml"
coming from conan-io/conan-center-index#1312 and https://github.com/conan-io/conan-center-index/pull/1385

Currently, there are some checks done to make sure the versions in the config.yml are as well in the conandata.yml. However, it covers only the cases where there is only one conandata.yml and not the one where there is one recipe per library version.

[2020-04-17 09:24] Croydon commented on #1386
Is the `config.yml` file really needed after all?

Can't we just re-iterate over all first-level sub-directories and look into the respective `conandata.yml` files to get a list of versions?

[2020-04-17 09:25] Croydon commented on #1386
Having this duplication of information seems to cause continuously pain 🤔

[2020-04-17 09:29] danimtb commented on #1386
the config.yml can be omitted if the folder contains the *fixed* version of that recipe. However, er are seeing some libs that have a recipe for all of the 6.X.X versions and another one for all the 7.X.X ones.

Parsing the conandata.yml could be an option for this as you pointed out.

[2020-04-17 13:12] prince-chrismc commented on #1348
The license of a project is very important, having that on the first page you see would be an immense help.

The search box results...
![image](https://user-images.githubusercontent.com/16867443/79572398-e2f87f80-808a-11ea-8d13-226792d56b29.png)
is a little cumbersome, displaying duplicates when there are multiple version. Again please display the license.

[2020-04-17 13:51] uilianries commented on #1386
Yes, please!

[2020-04-17 14:36] neobrain commented on #4
I'd like to contribute, so apparently I want to be part of this.

I can take a guess, but it would be great if the documentation mentioned why this step is necessary and what specifically the EAP is.

[2020-04-17 19:54] keysight-daryl opened #1395 "[request] paho.mqtt.c/1.3.2"
### Package Details
  * paho.mqtt.c/1.3.2 & associated paho.mqtt.cpp

The above mentioned version is being released within the next day or two and has already been tagged and merged back to master at the authors github.  this version also has removed the oem conan recipe in favor of assuming conan-center is doing a better job keeping it updated.  Looking to adopt this new version as soon as possib

[2020-04-17 19:56] keysight-daryl commented on #1395
Additionally the lead developer Ian Craggs has indicated an interest in helping steer this recipe to accommodate upcoming changes but isn't sure how to get involved on here... developers maintain their own mattermost channel that might be useful in bringing onboard...

https://mattermost.eclipse.org/eclipse/channels/paho

[2020-04-17 21:28] fulara opened #1396 "[question] sqlite3 default options"
Just tried to take a sqlite3 as my dependency and I see that conan-center-index default options does not match the one in the SQLite documentation:
[code]
Whereas in conan-center-index it is:
https://github.com/conan-io/conan-center-index/blob/master/recipes/sqlite3/all/conanfile.py#L32

What is the aproach here - shouldnt packages try to match default behavior?
If thats the case I can review the

[2020-04-18 01:07] Croydon opened #1397 "[service] corrade/2019.10 has only Linux builds and most are outdated"
For some reason I don't understand `corrade/2019.10` has only Linux builds and most of them are outdated.

Is this an error of the recipe or of the CI?

![corradebuilds](https://user-images.githubusercontent.com/1593194/79624377-94e28b00-8121-11ea-9551-f7acef5017cf.PNG)

https://github.com/conan-io/conan-center-index/tree/master/recipes/corrade

Latest PR: #1335

[2020-04-18 03:22] oxycoder commented on #4
Please put me in, thanks.

[2020-04-18 03:41] timblechmann opened #1399 "[package] jansson/2.12: unable to download sources error 503"
today i ran into:

[code]

it seems that the recipe refers to the tarball on the upstream server, which is (currently?) down. since this kind of issues can always occur, i'm wondering what's the best strategy to avoid them to avoid downtimes? e.g. would it be possible to mirror the tarball on conan servers?

[2020-04-18 12:22] keckxde opened #1400 "package <xerces-c>/<3.2.2>: Link to sources not working any more"
The link in the conandata.yml is outdated, and not working any more

http://apache.rediris.es//xerces/c/3/sources/xerces-c-3.2.2.tar.bz2

A better link would be the following:

https://archive.apache.org/dist/xerces/c/3/sources/xerces-c-3.2.2.tar.bz2

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **xerces-c/3.2.2**
  * Operating System+version:

[2020-04-18 14:10] fulara opened #1401 "[cmake] cmake uses OpenSSL within its recipe but does not depend on it?"
There are mentions of openssl within the conanfile, and cmake can be build with openssl dependency to allow download for https stuff. see:
https://github.com/conan-io/conan-center-index/blob/master/recipes/cmake/all/conanfile.py#L52

However recipe present in this repository has no dependency even conditional one on openssl.
This causes issues like this:
[code]
When trying to build it on the syste

[2020-04-18 16:33] SpaceIm opened #1402 "[request] vulkan-tools/1.2.135.0"
### Package Details
  * Package Name/Version: **vulkan-tools/1.2.135.0**
  * Website: **https://github.com/LunarG/VulkanTools**
  * Source code: **https://github.com/LunarG/VulkanTools**

### Description Of The Library / Tool

Tools to aid in Vulkan development including useful layers, trace and replay, and tests

[2020-04-19 07:37] SSE4 commented on #1401
@uilianries do you remember about this one?
might it be a circular dependency? (cmake -> openssl -> zlib -> cmake)

[2020-04-19 07:40] SpaceIm opened #1404 "[request] vulkan-memory-allocator/2.3.0"
### Package Details
  * Package Name/Version: **vulkan-memory-allocator/2.3.0**
  * Website: **https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator**
  * Source code: **https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator**

### Description Of The Library / Tool

Easy to integrate Vulkan memory allocation library

[2020-04-19 08:02] fulara commented on #1401
Hello @SSE4 , sorry to chip in - anyway according to your wiki:
`We generally consider tools like CMake as a standard tool to have installed in your system. `
So it will only be a problem if someone added `cmake` to build_requires. one could handle it by adding check in configure whether someone has not added `cmake` into build requires and throw an exception this.

raised https://github.com/conan

[2020-04-20 01:12] GamePad64 opened #1406 "[request] winsparkle/0.6.0"
### Package Details
  * Package Name/Version: **winsparkle/0.6.0**
  * Website: **https://winsparkle.org/**
  * Source code: **https://github.com/vslavik/winsparkle**

### Description Of The Library / Tool
Sparkle for Windows
WinSparkle is a heavily (to the point of being its almost-port) inspired by the Sparkle framework originally by Andy Matuschak that became the de facto standard for software

[2020-04-20 09:45] Croydon opened #1408 "[request] pixman/0.40.0"
### Package Details
  * Package Name/Version: **pixman/0.40.0**
  * Changelog: **https://lists.x.org/archives/xorg-announce/2020-April/003043.html**

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

[2020-04-20 11:37] uilianries commented on #1400
Hi @keckxde ! Thanks for reporting!

[2020-04-20 11:56] GamePad64 commented on #1406
Well, this library requires wxwidgets, so we need it in conan-center-index first. I've made a package (using bincrafters repo) and uploaded it to bintray: https://bintray.com/gamepad64/public-conan/winsparkle%3Agamepad64

[2020-04-20 12:01] Croydon commented on #1406
wxwidgets has many dependencies which we need to get ready for CCI first.

If you want to maintain a winsparkle recipe within Bincrafters for the meantime you are very welcome to do so 😄

[2020-04-20 12:11] solvingj commented on #831
GUI matches what `conanfile.py` says.  Just looks like an error when the file was created or added to conan center.  Will correct.

[2020-04-20 12:14] Croydon commented on #831
No, it does not match. The GUI seems to display only the license of the latest version. So it does not reflect a license change between versions like it is the case here

[2020-04-20 12:29] solvingj commented on #831
`bzip2-1.0.6` is correct:

https://spdx.org/licenses/bzip2-1.0.6.html

However, as @uilianries points out, `1.0.8` is not a valid SPDX identifier.

https://spdx.org/licenses/bzip2-1.0.8.html

Nonetheless, the author has technically released 1.0.8 with a new and unique version of the the license which is included in the sources.  The problem is simply that SPDX doesn't have a listing for it.

Sugge

[2020-04-20 12:35] solvingj commented on #1111
Fixed

![image](https://user-images.githubusercontent.com/8557737/79752152-d4f06c00-82e1-11ea-9396-6443bbce87af.png)

@SpaceIm do you approve of ticket closure?

[2020-04-20 12:37] solvingj commented on #1113
Fixed

![image](https://user-images.githubusercontent.com/8557737/79752321-1e40bb80-82e2-11ea-9a59-7c695d56f363.png)

@Croydon do you approve of ticket closure?

[2020-04-20 13:35] SpaceIm opened #1411 "[question] requirements versions in yml?"
Currently, dependencies versions are hardcoded in conanfile.py
For most recipes, it plays well whatever the library version.

But I'm trying to package Vulkan-ValidationLayers.
It has 3 dependencies:
- Vulkan-Headers
- glslang
- SPIRV-Tools

Vulkan-Headers is not backward compatible. The version of Vulkan-ValidationLayers is tightly coupled with Vulkan-Headers one.
glslang and SPIRV-Tools seem to

[2020-04-20 14:42] uilianries commented on #1411
Interesting case, but it's rare for a new feature in conadata.yml. I would prefer keeping conditions in conanfile.py. Also, it would require a new change in Conan hooks to accept that new key.

[2020-04-20 15:33] SpaceIm commented on #1411
Let say it is harcoded with:
- general case: `self.requires("vulkan-headers/{}".format(self.version))`
- specific cases: `self.requires("vulkan-headers/{}".format(_get_vulkan_headers_version(self.version)))`

It requires a modification of conanfile.py each time a new specific case arises, triggering new package build for all versions :/

[2020-04-20 15:34] danimtb commented on #1396
Recipe options do not always resemble 1 to 1 library (build) options. Some of the options might be created on purpose to fit a packaging issue or case not covered by the original library. Default options do not always mean that they have to follow the same defaults of the library. Default options can be changed to use the most common value used by consumers or a value that is relevant for most of

[2020-04-20 16:04] fulara commented on #1396
I've had a read through this.
Reasoning is here:
https://github.com/conan-io/conan-center-index/pull/561
[code]

Thats very ... disturbing?
So one package manager convention is more important than the documentation of the original library?

you say that:
[code]
I am not seeing any arguments/discussion raised on that topic

Anyway - I now understand the 'reasoning' so feel free to close this ticket

[2020-04-20 16:34] ericLemanissier commented on #1396
The fact that sqlitepp requires a specific value does not imply that it has to be the default. It means that it should be built by CCI too.
Keeping defaults consistent with the packaged library should be the rule.
And as @fulara said, vcpkg seems to actually use the actual default value.

[2020-04-20 16:38] uilianries commented on #1401
Because we use Docker for any build. All docker images contain OpenSSL installed, because we need to download using HTTPS.

[2020-04-20 16:42] uilianries commented on #1401
Anyway, no one complained about it as an error, and CMake recipe is pretty old, more than 2 years (we ported from conan-community). Do we really need OpenSSL as requirement? I prefer to leave it as is

[2020-04-20 16:43] uilianries commented on #1401
@fulara So do you have a system without openssl installed and why do need cmake installer, any specific package?

[2020-04-20 16:48] fulara commented on #1401
hello @uilianries  whats my need:
I am using fresh rh7 build.
It does not have libssl-devel installed by default (not sure about libssl ).
I need to build custom cmake because system one is not build against libssl so its unable to fetch packages. (DOWNLOAD does not work with https )
On top of that I would like to build cmake in build_requires because I want to have modern versions.

[2020-04-20 17:34] SpaceIm commented on #1411
It appears that there is only one version of Vulkan-ValidationLayers which requires a different version of Vulkan-Headers than its own version.
Thereby it's acceptable to do something like this:

[code]

[2020-04-20 19:19] uilianries commented on #1396
Unfortunately we needed to use that option because another package (sqlitecpp), but this is a rare can I say. Also, we don't have a feature for storing more than one different option in CCI, or running with building missing.

[2020-04-20 19:22] uilianries commented on #1401
@fulara I see, your case sounds legit. Well, so we need to update the cmake package.

[2020-04-20 19:23] fulara commented on #1396
couldnt that be solved with `def configure`in the sqlitecpp?
Either in `def configure` or default_option depending on the case?

[2020-04-20 19:39] ericLemanissier commented on #1396
@uilianries the author of sqlitecpp said that threadsafe=1 would work fine in post https://github.com/SRombauts/SQLiteCpp/issues/195#issuecomment-488113454
Sure, he said you would get yourself into trouble if you start using objects concurrently in different threads, but you would have the same problems with threadsafe=0, and a LOT more in sqlite itself. Also, how do you get to the conclusion that

[2020-04-20 19:56] uilianries commented on #1411
@SpaceIm thanks for checking it. Yeah, `_get_vulkan_headers_version` looks good enough if possible.

[2020-04-20 20:00] keckxde commented on #1400
Hi @uilianries  - Thank you for fixing!!!!

[2020-04-20 20:44] dvd0101 commented on #4
I would like to join. Thanks :)

[2020-04-20 21:07] anagno commented on #4
Can I join too ? :)

[2020-04-20 21:20] keckxde opened #1413 "flex/2.6.4 - cross-compile on Linux:X64 to Linux:armv7?"
Hi @all ,

sorry, for the possibly stupid question - but I'm not yet sure, if it's my failure, or if it is an error of the flex package.

I am trying to cross compile for ARMV7 on a Linux X64 system using 2 profiles - one for the native "build machine", and the other for the cross-compile. That works nicely with packages like boost, xerces-c and others.

But when trying to cross-compile the thrift

[2020-04-20 22:08] WPMGPRoSToTeMa opened #1415 "[question] boost: how to specify multiple macros in `extra_b2_flags`"
I tried (with a space between `define=X`):
`boost:extra_b2_flags="define=BOOST_BEAST_USE_STD_STRING_VIEW define=BOOST_ASIO_DISABLE_CONCEPTS"`
But this is not working as expected. What is the correct way?

[2020-04-21 00:13] odygrd commented on #4
I have created a recipe for my open source project and I'd like to create a PR, can I please get EAP ?

[2020-04-21 08:45] SSE4 commented on #395
this has been fixed by #1251

[2020-04-21 08:45] #395 closed

[2020-04-21 08:47] SSE4 commented on #1415
could you clarify what exactly doesn't work as expected? what's the resulting b2 command line?

[2020-04-21 08:48] SSE4 commented on #99
@carpajr hello! not yet, but I am looking at OpenSSL issues.

[2020-04-21 08:51] #699 closed

[2020-04-21 08:52] SSE4 commented on #895
maybe I need another try with **fedora:25** here...

[2020-04-21 08:55] SSE4 commented on #1147
@cleeland feel free to submit a simple PR to address this. could be something like:
[code]

[2020-04-21 08:56] SSE4 commented on #1190
duplicates #940

[2020-04-21 08:56] #1190 closed

[2020-04-21 08:57] SSE4 commented on #1361
duplicates #940

[2020-04-21 08:57] #1361 closed

[2020-04-21 08:58] SSE4 commented on #940
@xyz1001 I am going to try adding one more replace for the actual makefile, that's the only safe solution I can imagine right now. in general, this makefile replacement system is very fragile, hopefully it's only 1.0.2x which is EOL.

[2020-04-21 09:11] SSE4 commented on #99
@carpajr in your profile:
[code]
I don't see you're setting custom `CC` environment variable. the commands are executed with regular **gcc** binary, e.g.:
[code]
is this **gcc** binary an actual cross-compiler? could you give me the output of the following commands:
1. `gcc --version`
2. `gcc -dumpspecs`
3. `touch 1.c && gcc -dM -E -x c 1.c`

[2020-04-21 09:19] SSE4 commented on #1401
@uilianries if OpenSSL is required for build, we need to make it a dependency in conan. libssl-dev might not be always available (and even if it's available, it makes build non-reproducible). that's easy to change, but I am very concerned here about introducing a circular dependency here, which is hard to break...

[2020-04-21 12:09] fulara commented on #1401
@SSE4  maybe its worth waiting for @jgsogo' xbuild functionality then?

[2020-04-21 12:20] uilianries commented on #1413
HI @keckxde !

Could you please share your entire log and your profile? We need more details to reproduce your case. Regards.

[2020-04-21 12:24] SSE4 commented on #1399
such issues happen from time to time, we may mirror source to the bintray, as we did for bzip2 in the past

[2020-04-21 12:26] Croydon commented on #1413
Flex is not yet in CCI (#1195) so this is about the Bincrafters package.

[2020-04-21 12:28] Croydon commented on #1399
Jansson has an official GitHub repo. Does the source download differ from there? https://github.com/akheron/jansson/releases

[2020-04-21 14:21] danimtb commented on #1399
sure, we can switch to the GitHub sources instead

[2020-04-21 14:23] uilianries commented on #1401
@SSE4 I think we can use openssl as private dependency to avoid it.

[2020-04-21 14:39] danimtb commented on #4
@BNL-Corp @pyrige @ZaMaZaN4iK @rudolfheszele @philburr @vishsangale @Artalus @vanwinkeljan @renatoGarcia @Nekto89
 @gonestco @xyz1001 @axalon900 @jfalcou @pss146 @zhenlei @datalogics-aarroyo @serpent7776 @AndrewMeadows @neobrain @oxycoder @dvd0101 @anagno @odygrd welcome to ConanCenter EAP!

[2020-04-21 14:45] timblechmann commented on #1399
thanks for all the replies. it seems that the upstream server is back again, but switching to github might reduce the risk of running into server downtimes

[2020-04-21 14:50] carpajr commented on #99
@SSE4, I've defined the profile for cross-compiling:

[code]

It works for armv6 and armv7.

[2020-04-21 15:15] SSE4 commented on #99
@carpajr so do I understand correctly it works for `armv7` and `armv6`, but not for `armv8`?
and you're using `CC=arm-linux-gnueabihf-gcc` for `amrv8`?
then, what's the output of:
`arm-linux-gnueabihf-gcc--version`
`arm-linux-gnueabihf-gcc-dumpspecs`
`touch 1.c && arm-linux-gnueabihf-gcc -dM -E -x c 1.c`

[2020-04-21 15:26] ericLemanissier commented on #1401
regarding the dependency cycle, CMake recipe already requires cmake, so how worse could it become ?

[2020-04-21 17:09] jheaff1 commented on #1361
@SSE4 May I just check that you acknowledge my comment above about potential false positives in the Conan build system?

[2020-04-21 17:11] SSE4 commented on #1361
@jheaff1 I did. GitHub has some connectivity issues, but I've received email notifications.

[2020-04-21 17:13] wodphoenix opened #1422 "[package] libtool/2.4.6: ERROR: Loop detected: 'lzma_sdk/9.20' requires 'msys2/20190524'"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libtool/2.4.6**
  * Operating System+version: **Windows 10**
  * Compiler+version: **Visual Studio 15**
  * Conan version: **conan 1.24.0**
  * Python version: **Python 3.7.7**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)

[2020-04-21 17:13] jheaff1 commented on #1361
@SSE4 Great, thanks for the update

[2020-04-21 17:22] WPMGPRoSToTeMa commented on #1415
Sorry. This is what I'm getting with the option above:
`boost/1.72.0: WARN: C:\Users\XXXXXX\.conan\data\b2\4.2.0\_\_\package\456f15897172eef340fcbac8a70811f2beb26a93\bin\b2.exe target-os=windows architecture=x86 address-model=64 binary-format=pe abi=ms --layout=system --user-config=C:\.conan\79f2bb\1\boost_1_72_0\tools\build\user-config.jam -sNO_ZLIB=0 -sNO_BZIP2=0 -sNO_LZMA=1 -sNO_ZSTD=1 runtime-

[2020-04-21 18:43] SpaceIm commented on #1111
Sure, thanks👍

[2020-04-21 18:43] #1111 closed

[2020-04-21 20:57] jgsogo commented on #1401
Using CMake as `build_requires` in the `cmake` recipe works with the new model 😉  Here you  can find an example for `gcc` using `gcc` (fake recipes, of course 😅 ): https://github.com/jgsogo/conan-xbuild

[2020-04-21 21:39] fulara commented on #1116
I am closing this one.
I learned that I was too naitve in my aproach.
I should have expanded os_build  for my systems. we have only done so for 'os'.
None of the recipes from conan-center-index works on centos6.

I think the choice taken by conan is too naive, it automatically matches too many distributions.

For anyone maybe reading this in the future:
IF you are thinking of using conan on rh6 or

[2020-04-21 21:39] #1116 closed

[2020-04-21 21:41] fulara opened #1426 "[package] <autoconf>/<2.69>: does not build on rh6."
autoconf package does not build on rh6.

adding Magician @madebr  who created original recipes.

I will try to find the rootcause for this magic stuff.

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **autoconf/2.69**
  * Operating System+version: **Red Hat Enterprise Linux Server release 6.10 (Santiago)**
  * Compiler+version: **GCC 8**
  * Dock

[2020-04-21 21:58] fulara commented on #1426
I think my perl is too old.
This is perl, v5.10.1 (*) built for x86_64-linux-thread-multi

Not 100% sure yet - not a perl  wizard.

[2020-04-22 00:44] wangsq157 opened #1427 "[request] openssl/1.1.1g"
### Package Details
  * Package Name/Version: **openssl/1.1.1g**
  * https://www.openssl.org/news/cl111.txt**

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

[2020-04-22 08:14] #1265 closed

[2020-04-22 08:36] Manu343726 opened #1429 "[request] stlab/1.5.2"
### Package Details
  * Package Name/Version: **stlab/1.5.2**
  * Website: **https://stlab.cc/**
  * Source code: **https://github.com/stlab/libraries**

### Description Of The Library / Tool
stlab is the ongoing work of what was Adobe’s Software Technology Lab.

[2020-04-22 08:44] Manu343726 commented on #1429
I'm working on this myself, I've opened the issue so that others can keep track of the work, mainly @FelixPetriconi.

stlab is a set of libraries from Adobe, but right now the GitHub port only includes the Concurrency library. I think the best way to approach this is to build the package with components even if there's just one component available, so that as more libraries are ported to GitHub in

[2020-04-22 08:49] Croydon commented on #1429
Interesting, that they seem to use Conan to get Boost, but don't write a Conan recipe themselves

How many libraries are that in total?

[2020-04-22 08:51] Croydon commented on #1429
See also https://github.com/stlab/libraries/issues/291 & (as you have linked) https://github.com/stlab/libraries/issues/184

[2020-04-22 09:37] Manu343726 commented on #1429
I see there's no support yet for header only components, so I will leave component declaration for later and package as a header only (Since the github port only provides header only concurrency, as noted in the previous comment).

[2020-04-22 09:37] Manu343726 commented on #1429
@Croydon only one, Concurrency, as far I can see.

[2020-04-22 09:44] #1399 closed

[2020-04-22 09:53] jgsogo commented on #831
The original issue was a mismatch in the frontend between the LICENSE and the recipe version. Now the frontend:

![image](https://user-images.githubusercontent.com/1406456/79967574-4a4d6f80-848f-11ea-86b7-59e50c835e7c.png)

![image](https://user-images.githubusercontent.com/1406456/79967657-63eeb700-848f-11ea-9e01-a78738587432.png)

[2020-04-22 14:40] #1400 closed

[2020-04-22 14:41] danimtb commented on #1141
This was fixed by #1291

[2020-04-22 14:41] #1141 closed

[2020-04-22 14:44] #1337 closed

[2020-04-22 14:49] #1427 closed

[2020-04-22 14:52] danimtb commented on #1386
Still, we have to consider if there could be a package in the future without conandata.yml. Something like a _proxy_ or virtual recipe

[2020-04-22 15:05] danimtb commented on #1397
Can this be related to #200?

[2020-04-22 15:13] gocarlos opened #1432 "[conan.io/center] nit pick: title of tab starts always with a capital"
e.g.
* libmodbus -> Libmodbus
* spdlog -> Spdlog

probably the tab should be the same as the library

[2020-04-22 15:18] Croydon commented on #1397
Not sure if this explains the outdated packages, but if so, there would still be the problem of missing Windows and macOS builds

[2020-04-22 16:34] ericLemanissier commented on #1386
in the case of a proxy or virtual recipe, both yml are actually unneeded, because there is no source and no real version. In this case there could be `version = "virtual"` or `version = "proxy"` hard-coded in the conanfile.py.

[2020-04-22 16:46] Croydon commented on #1113
When clicking on one of those available configurations it just says `no data` 🤔

[2020-04-22 16:51] madebr commented on #1426
Hey @fulara
I didn't know the `map` function (or my usage) was relatively new and would break on older perl versions. I'm a bigger perl noob then you, I would say :smile:

Your code looks fine to me!
Thanks for your (future) pr!

[2020-04-22 16:58] datalogics-kam commented on #4
May I have access, please? My company will be contributing a libgd recipe. Thanks!

[2020-04-22 21:29] fulara commented on #1426
@madebr
I am still testing further - however I have a question.
I am slightly worried that the changes you have made are not enough.
This does not work for me across a different directory structure.

the autom4te.cfg file  has hardcoded paths - hence it does not want to work in different build setups.

in my recipes before I have discovered yours I was doing this nasty hackiness, I think this work

[2020-04-22 22:10] madebr commented on #1426
Can you explain what you mean by *different directory structure*?

In `0001-autom4te-relocatable.patch`, I replace all `@XXXX@` variables in `lib/autom4te.in` (that gets converted to `autom4te.cfg`)

The `automom4te.cfg` file is only consumed by `bin/autom4te`.
That's why I choose to use a regex to replace `AUTOCONF_M4DIR` with the correct directory.

I don't know how to reproduce your problem, so

[2020-04-22 22:37] fulara commented on #1426
Okay, I just failed at making diff, that was the rootcause.
Everything works now - thanks for your help, i'll raise pr tmr(!) after i do some more checks.

[2020-04-22 23:13] fulara opened #1435 "[package] <libtool>/<2.4.6>: libtool package contains hardcoded strings."
libtool package needs hacky rewrite as well - similar as autoconf does thing

I've checked and this time i am 99% sure that issue is not with the steps I am doing.
When using a libtoolize across different directory structure when using it in certain scenario you will be met with this error:
[code]

Problem:
libtoolize has hardcoded string from build time.
this can be seen by checking the package o

[2020-04-22 23:39] madebr commented on #1435
@fulara Can you recheck using #1102?

No problem mate. It's good to have an extra set of eyes looking at these packages as they might be used by a lot of people.

[2020-04-22 23:50] fulara commented on #1435
Oh. sorry for spamming with issues then, I should have done the search first - It did not even click that this could be raised and waiting.
Lucky me actually!

I'll download and test, but the changes look good.

[2020-04-23 03:40] solvingj commented on #1113
I see.  There seems to be a bug in the UI.  Please choose the dropdown for "OS" and change it to "Any" and you will see all three.  I will file a bug with the UI team.

[2020-04-23 04:09] solvingj commented on #1256
@SpaceIm this is currently being worked on.

[2020-04-23 04:11] solvingj commented on #831
Indeed as @Croydon says, this seems to be a deficiency in the GUI. I will continue to investigate.

[2020-04-23 09:50] theirix commented on #621
@czoido tesseract is ready via #1149

[2020-04-23 09:51] #1270 closed

[2020-04-23 10:00] #1114 closed

[2020-04-23 10:00] czoido commented on #621
@theirix great! table updated! 🥳

[2020-04-23 12:44] ChaosWars commented on #4
Pull me in

[2020-04-23 13:00] madebr commented on #1432
What do you mean by *tab*?
The only capitalized `Libmodbus` I could find is the name of the conan class.
Names of class are capitalized because of the [PEP-8](https://www.python.org/dev/peps/pep-0008/#class-names) convention

[2020-04-23 13:49] Croydon commented on #1432
https://conan.io/center/libmodbus/3.1.6/?user=_&channel=_

@gocarlos Probably meant the website's `<title>`?

[2020-04-23 16:34] #332 closed

[2020-04-23 17:11] danimtb commented on #891
@akshit-sharma the link was fixed by @Croydon. Check it out again if you wish 😄

[2020-04-23 21:01] gocarlos commented on #1432
@Croydon as others have already noted, we cannot copy paste links from CCI to github comments, as those are not rendered correctly -> probably another issue with CCI

[2020-04-23 21:33] fulara commented on #1435
Hello @madebr  it seems your new recipes does not work for me..
I am still investigating however it seems that your recipe forces the path to be lowercase?
prints:
[code]
but the real directory is...
[code]
note:
CIR-NEOVIM0-JOB1
vs cir-neovim0-job1.

[2020-04-23 21:40] fulara commented on #1435
This seems to be a bug with unix_path.
I am still checking.

[2020-04-24 00:39] fulara commented on #1435
another thing.
got an error while building other package (subversion):

[code]
weird, there is no mention of the LIBTOOL_M4 variable as i see it.

[2020-04-24 01:03] madebr commented on #1435
`LIBTOOL_M4` seems to be a configuration environment variable of `subversion`'s `autogen.sh`, as you've already detected.

I completely agree.

@uilianries
Why is this actually?
It is weird that we have to move the `share` folder to a non-standard location because the hooks don't accept any other root folders then bin, lib and licenses.
This move can introduce subtle bugs.

[2020-04-24 07:46] fulara commented on #1435
the `share` being moved into `bin` is a  common thing for multiple autotools conan packages here.
so two things from me:
1) forced lowercase breaks my build completely, cant use that at all.
2) because of abnormal directory structure some packages willnot work - like subversion already showed not to work, I had to hack the libtoolize and export these variables, this allowed me to go further.. but

[2020-04-24 08:20] #1118 closed

[2020-04-24 12:18] kyllingstad commented on #419
I agree, and would like to add that using Conan for development but not for production is going to be a *very* common use case. For example, I don't foresee that any of the big Linux distros are going to adopt Conan for dependency management in the near future, so anyone who wants their software to be distributed with Debian, Red Hat, etc. are going to be in this situation.

Any deviation from the

[2020-04-24 13:36] ash7777 commented on #4
Please add me

[2020-04-24 16:48] jgsogo commented on #683
Hi! We've been thinking a lot about how to make LLVM into CCI after this PR https://github.com/conan-io/conan-center-index/pull/1075. Our main concern is to not introduce something that we cannot afford in the future. I hope this is understandable to all of you.

#1075 is a concrete request for one _component_ of LLVM, maybe not a core library but we need to think about as it was and the solution

[2020-04-24 17:28] keysight-daryl commented on #1395
paho.mqtt.c 1.3.2 was released by Ian Craggs 3 days ago... hoping this gets some priority

[2020-04-24 19:00] Manu343726 commented on #683
I just want to comment that while I like the approach, I'm worried about disk space (It is a problem if you have multiple versions and toolchains, like it's the case in my company for example). The other approach, re-packaging all the components and writing requirements between them (i.e. modelling the full components dependency graph) solves this issue but makes CI setup harder (For reference che

[2020-04-24 19:11] Manu343726 commented on #683
For reference, this is a `du` output of my laptop conan local cache:

[code]

As you can see, the clang root package is ~3GB (Around 2GB for the build folder, 1GB for the package). But then the different modules are just a few MB each, because these package **each module library only**. If we follow the @jgsogo's approach we will end up with a ~300MB libclang package, a ~300MB libtooling package,

[2020-04-24 19:18] Manu343726 commented on #683
More reference for the debate :) Full clang 6.0.1 dependencies graph: https://github.com/Manu343726/clang-conan-packages/blob/master/clang_6.0.1_lddtree.txt

[2020-04-24 19:22] Manu343726 commented on #683
I'm tempted to write a tool to automate the process. Build llvm/clang/qt/whatever as dynamic libs, extract the dep graph of each compiled library, and automatically generate a repackaging recipe for each.

[2020-04-24 19:48] jgsogo commented on #683
This is a message from the future: from the POV of a user, if I'm going to use several modules of LLVM I won't use the repackaged recipes (n*300Mb) but the _master_ one with all the LLVM (~1Gb).

What about recipes in CCI that require a module of LLVM? Should they be modified to use the _master_ LLVM recipe? Probably yes, but not sure 😓, recipes for modules should be a leaf in the CCI tree to avoi

[2020-04-24 20:00] Manu343726 commented on #683
Trust me, it's exactly the opposite. Because using llvm with current tech is a mess that involves custom CMake macros to find the dependencies of the modules. The main advantage that conan provides is that you can use llvm modules as any other library, just require the library you need, leaving the dependency mess to conan to solve.

With current approaches you end up doing something like this: ht

[2020-04-24 20:11] Manu343726 commented on #683
BTW we need libtinfo (Part of ncurses iirc) for the linux build, it would be awesome if someone from bincrafters could port the package to conan-center-index.

[2020-04-25 09:56] Croydon commented on #683
ncurses is a conan-community recipe, not a Bincrafters' one

Porting is work-in-progress here: https://github.com/conan-io/conan-center-index/pull/994

[2020-04-25 12:21] Croydon commented on #1395
What is required to contribute a 1.3.2 update:
  * if not done yet, request early access here: #4 - this is a one time thing per GitHub user
  * add `1.3.2` locally to `recipes/paho-mqtt-c/config.yml` and  `recipes/paho-mqtt-c/all/conandata.yml`
   * if necessary, rebase existing `1.3.1` patches for `1.3.2` (see  `recipes/paho-mqtt-c/all/conandata.yml` and  `recipes/paho-mqtt-c/all/patches/`
  * i

[2020-04-26 03:04] stephen-webb commented on #99
I believe you are using the wrong tool chain if you want to target aarch64.

You need a tool chain where __SIZEOF_PTRDIFF_T__ is 8

[2020-04-27 07:55] csch0 commented on #4
Please add me to this.

[2020-04-27 08:33] daixian commented on #4
Please add me?

[2020-04-27 14:40] madebr commented on #1435
@fulara
I found some more paths in libtool, that caused problems on msys2 on Windows.
See #807

[2020-04-27 16:11] keysight-daryl commented on #1395
I'll nudge the Paho lead Ian Craggs to this thread since he had expressed interest in contributing to this project over here and getting things integrated properly...

[2020-04-27 17:52] fulara commented on #1435
@madebr  nice.
In the end when doing the apr-utils locally I just decided to `sed -i s@self.package_folder@CONAN_PLACEHOLDER@` and just do it like that as I got super tired of these paths :) so kudos to you for having patience about this.

I checked your build - it builds for me, and I dont see hardcoded paths ( check done by invoking grep -r 'package_hash' )

I had patience while doing `apr` and

[2020-04-27 18:01] madebr commented on #1435
@fulara
Please check #1460 and #1462

I'll add a patch to #807 conditionally calling `tools.unix_path` when on Windows.

That is a limitation set by this repo / hoods / @uilianries .
What problems is it causing you?

[2020-04-27 18:20] fulara commented on #1435
w00t, apr and apr-util.
man you are too good.

I got my build of svn finally working, with my uber hacky recipes.
short headsup what I am doing:
I wanted to have git with git-svn support enabled to went to building svn which turned out to be huge pain.
And I have to support rh6 and rh7 and hey basically dont have anything!

I found here `pcre` and `swig` in the net and they actually saved my botto

[2020-04-27 18:26] madebr commented on #1435
`swig_installer`'s recipe is by bincrafters.
It will probably be ported to here when its dependencies become available.
And indeed, the `_installer` suffix is one of the things that will have to go.

[2020-04-27 19:06] SpaceIm opened #1475 "[conan.io/center] parallel-hashmap/1.31 merged but not found in conan center"
Even though https://github.com/conan-io/conan-center-index/pull/1253 has been merged, `parallel-hashmap/1.31` can't be found in Web UI or with `conan search`

[2020-04-27 20:31] floriansimon1 opened #1476 "[package] openssl/1.1.1d on Windows: strawberry perl error"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **openssl/1.1.1d**
  * Operating System+version: **Windows 10**
  * Compiler+version: **MSVC 15 (Visual Studio 2017)**
  * Conan version: **conan 1.24.0**
  * Python version: **Python 3.7.6**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profil

[2020-04-27 20:41] Murazaki commented on #4
Add me plz

[2020-04-27 20:49] floriansimon1 commented on #1476
With the following patch:

[code]

It shows "ADD STRAW", then `dict_keys([])` when I print `self.deps_cpp_info.deps`.

[2020-04-27 21:46] memsharded commented on #1476
Hi @floriansimon1

Can you please try?:

[code]

I guess your current platform is Windows 64 bits, so you need to provide ``-s arch_build=x86_64``  not ``arch_build=x86`` (there are no binaries for it in ConanCenter)

[2020-04-27 22:08] floriansimon1 commented on #1476
I got the same error when my script was doing "cross building". I've been doing some troubleshooting, and I found out this could be related to this change: https://github.com/conan-io/conan/commit/33652d590a4eb32d0d29d8718c0c624010dae426#diff-763c60e9852172df23dc152b08051e53R496

Why did you add the `if` check here? To check for cross-building? Inconditionally setting `deps_cpp_info`  seems to fix

[2020-04-27 22:16] floriansimon1 commented on #1476
To better answer your request:

[2020-04-27 22:24] floriansimon1 commented on #1476
I am currently retrying the same thing without the `--profile:host` command line parameter.

[2020-04-27 22:53] floriansimon1 commented on #1476
OK, so if you use `--profile:build` or `--profile:host`, then the code inside the `else` branch of the `else` branch mentioned in the previous comment is ran and `deps_cpp_info` is not set.

I suppose it is a bit weird that if I manually copy the profile file in ~/.conan/profiles/default, then run my command with `--profile` it works, but if I use the `--profile:build` and/or `--profile:host` para

[2020-04-28 08:23] garethsb-sony commented on #4
Please add me. Thanks!

[2020-04-28 10:06] jgsogo commented on #683
@Manu343726 , regarding your comment here https://github.com/conan-io/conan-center-index/issues/683#issuecomment-619213342

With the single package and the components® feature in Conan, consuming `clang` will look like:

[code]

[code]

We think this is a better approach and this is what we are trying to achieve (hopefully Conan v1.26), wdyt?

[2020-04-28 11:35] memsharded commented on #1476
Yes, I don't think that any of the ConanCenter recipes is ready to be processed with the new ``--profile:build`` and ``--profile:host``. If they work, it might be luck.

There is still ongoing work for this feature to be complete:
- https://github.com/conan-io/conan/pull/6769/files
- https://github.com/conan-io/conan/pull/6778/files

After that, we hopefully will be able to start improving recipes

[2020-04-28 11:42] #424 closed

[2020-04-28 12:16] SpaceIm opened #1482 "[request] vulkan-tools-lunarg/1.2.135.0"
### Package Details
  * Package Name/Version: **vulkan-tools-lunarg/1.2.135.0**
  * Website: **https://github.com/LunarG/VulkanTools**
  * Source code: **https://github.com/LunarG/VulkanTools**

### Description Of The Library / Tool

Tools to aid in Vulkan development including useful layers, trace and replay, and tests

[2020-04-28 15:02] Austin299792 commented on #4
I'd like to be added, please. Thank you!

[2020-04-28 21:04] uilianries commented on #1435
I can't remember why it's forced to lower case, the last change was 2 year ago ... but for unix systems it doesn't make any sense. unix_path is under windows tools, so we could check before using it, or, skip it when calling under unix system.

[2020-04-28 23:10] fulara commented on #1435
@uilianries  what about this:

share directory should be on the same level as the bin directory.
I think we should rework that.

[2020-04-29 01:34] DominikDeak opened #1490 "[request] boost/1.73.0"
### Package Details
  * Package Name/Version: **boost/1.73.0**
  * Changelog: **https://www.boost.org/users/history/version_1_73_0.html**

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

[2020-04-29 12:22] madebr commented on #1435
@uilianries @danimtb
Can you please give your opinions on the matter of a `share` folder in the root package folder?

[2020-04-29 14:31] Croydon commented on #1435
The Bincrafters community and the community here has a strong overlap.

`_installer` suffixes is an old convention indeed. We won't add it for new recipes anymore.

`swig_installer` can be migrated to to CCI after #1473 is merged and then it will be called just `swig`

[2020-04-29 15:03] Croydon opened #1491 "[service] Consider that the conan-center-bot is minimizing its old PR comments"
The pull requests comments can grow pretty quickly.

The bot is supporting this tendency by posting a comment for every single push. In order to help getting an overview over pull requests, it might be helpful if the bot is minimizing its own old comments when posting the results of a new build.

[2020-04-29 15:18] uilianries commented on #1435
There is not matter, it's a convention because of projects install on the root level, that's it. We remove share folder because it's useless for building, usually contains only documentation. But if it's a requirement for this project, I see no problem adding it.

[2020-04-29 15:20] madebr commented on #1435
@fulara Can you please explain why the `share` folder is needed for your use case?

[2020-04-29 15:20] danimtb commented on #1491
What do you mean by "minimizing"? Like deleting old comments?

[2020-04-29 15:39] Croydon commented on #1491
I meant hiding (which does not completely hide a comment, but actually minimizes it, so that it can be extended on a click)

[2020-04-29 15:42] Croydon commented on #1491
Like this one

[2020-04-29 16:52] floriansimon1 commented on #1476
Thanks!

[2020-04-29 16:52] #1476 closed

[2020-04-29 19:34] fulara commented on #1435
@madebr  @uilianries  sure.
When building subversion it failed with an error:
[code]
Problem here is not about cc build is not removing the `share` directory. its moving it into the `bin` directory. this is the directory structure that your current artifact produces:
[code]
This is unorthodox.
I am not an expert here - but usually these tools would have share dir parallel to the bin.
Becuase of th

[2020-04-29 20:22] madebr commented on #1435
@fulara
I completely agree with you that moving the `share` folder is non-standard.

It looks like subversion misses just 2 environment variables.
I think you can make your recipe build with the current libtool pr by surrounding the build commands with:
[code]

But maybe it is interesting to add `LIBTOOL_M4` and `LIBTOOL_CONFIG` to `package_info` of `libtool`.
Because they are only of use for cert

[2020-04-29 20:42] fulara commented on #1435
@madebr
Is that a good way of doing things tho?
This makes assumption that I will have build_requires against libtool at all times. :)
Adding it to libtool would be ideal actually, thats what I've done.
Alternatively I can just patch the subversion.

[2020-04-29 20:57] Panky-codes opened #1492 "zmq/4.3.2: Error building its dependency libsodium for armv7hf environment"
I initially posted this bug in bincrafters, but I think conan-center-index is the right one as this library has been moved to this repo.

  * Package Name/Version: **zmq/4.3.2**
  * Compiler+version: **ARM GCC 5.4.0**
  * Docker image: **conanio/gcc5-armv7hf**
  * Conan version: **conan 1.24.1**
  * Python version: **Python 3.7.5**

I am trying to build zmq/4.3.2@bincrafters/stable for ARM (using

[2020-04-29 21:19] madebr commented on #1435
@fulara
I'm gonna leave the `share` folder at the location as it is now.
As I see it it: `LIBTOOL_M4` and `LIBTOOL_CONFIG` are variables that are only used by subversion and are thus to be configured in the subversion recipe.

I see that I'm already setting  the `LIBTOOL_PKGAUXDIR` and `LIBTOOL_ACLOCALDIR` environment variables in `package_info` but are not public.
I've just changed that such that

[2020-04-29 21:25] fulara commented on #1435
@madebr cool. I understand.
I saw your changes around unix_path, look good to me.
I have no further problem with the recipe.

[2020-04-29 21:37] fulara commented on #1435
this issue was closed by already merged (14.. ) and my further comments are in #807  closing.

[2020-04-29 21:37] #1435 closed

[2020-04-30 08:02] danimtb commented on #1491
Nice! Sure, that would be a great addition

[2020-04-30 13:20] #1377 closed

[2020-04-30 13:23] pepsiman commented on #1362
I'm using this package: https://github.com/lasote/conan-gperftools
It packages tcmalloc and profiler libraries together, which is a pain as I only want to link with tcmalloc.
A new tcmalloc library is available: https://github.com/google/tcmalloc

[2020-04-30 13:31] uilianries commented on #1492
Hi @Panky-codes the package that you referred is from Bincrafters, it's not a Conan Center Index package. Please, move it to https://github.com/bincrafters/community/issues/

[2020-04-30 14:09] Croydon commented on #1492
Well, I referred to CCI here: https://github.com/bincrafters/community/issues/1183 😄

Put you need to use `zeromq/4.3.2` instead of `zmq/4.3.2@bincrafters/stable`

[2020-04-30 15:21] uilianries commented on #1492
:facepalm:

[2020-04-30 15:24] uilianries commented on #1492
@Panky-codes Could you please, use `zeromq/4.3.2` instead and check the result?

[2020-04-30 16:55] datalogics-robb opened #1498 "[bison] bison/3.5.3: running bison reports error"
When using the bison package, compiled on SPARC Solaris 11, bison reports the error:
[code]
Setting the environment variable `BISON_PKGDATADIR` to `$BISON_ROOT/bin/share/bison` resolves the issue.

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **bison/3.5.3**
  * Operating System+version: **Oracle Solaris 11.3**
  * Compiler+version: **GCC 7**

[2020-04-30 19:00] datalogics-robb commented on #1498
https://github.com/conan-io/conan-center-index/pull/1499

[2020-04-30 20:37] Panky-codes commented on #1492
Haha. I understand the confusion going on.
Anyways, my output for zeromq:
[code]

[2020-04-30 22:15] roalz opened #1504 "Include files path in rapidxml/1.13 package (should they be under include/rapidxml/*.hpp?)"
I'm not sure if this may be better filed as issue, so I just make a question for now.
I'm having problems on any c++ code I write that uses rapidxml and is compiled on both Windows, Linux with distro librapidxml-dev package and other Linux with dependencies managed using conan.

On Windows and Linux with rapidxml installed as distro package,
the library include files are under .../include/rapidxml

[2020-05-01 00:10] solvingj commented on #1475
Indeed, there's something wrong. I will work on this.

[code]
And this page says 1.30 is the only available version:

![image](https://user-images.githubusercontent.com/8557737/80770529-88493400-8b1e-11ea-869d-00cb30ed3a79.png)

Yet... this URL does work:

https://conan.io/center/parallel-hashmap/1.31/?user=_&channel=_

For better or worse, that page agree's that the only available version is 1.30

[2020-05-01 15:07] keysight-daryl commented on #1395
I guess this also implies updating to the paho.mqtt.cpp/1.1.1 that is still in progress...

[2020-05-01 15:23] FranckRJ commented on #4
Hello, can i join the EAP ? Thanks !

[2020-05-02 03:21] danielaparker commented on #4
I'd like to add my open source project [jsoncons](https://github.com/danielaparker/jsoncons) to ConanCenter, so here is my request to join the EAP.

Thanks,
Daniel

[2020-05-02 14:34] jprochazk opened #1509 "[question] conan generates incorrect build info for premake"
I'm trying to use conan to handle dependencies and premake5 to generate vs2019 project files.

The problem is that my project fails to link with 'wsock32.lib'. This is a windows system library, so there should be no problem in finding it.

Upon closer inspection, the error message shows that the library file name has whitespace where there should be none:
[code]
the name is 'wsock32 .lib' instead

[2020-05-02 18:24] davidtazy opened #1511 "[request] kcov/38"
### Package Details
  * Package Name/Version: **kcov/38**
  * Website: **http://simonkagstrom.github.io/kcov/index.html**
  * Source code: **https://github.com/SimonKagstrom/kcov**

### Description Of The Library / Tool
Code coverage tool for compiled programs, Python and Bash which uses debugging information to collect and report data without special compilation options

made a poc : [https://git

[2020-05-03 02:37] markusgod opened #1516 "[request] bgfx/master"
### Package Details
  * Package Name/Version: **bgfx/master**
  * Website: **https://bkaradzic.github.io/bgfx/overview.html**
  * Source code: **https://github.com/bkaradzic/bgfx**

### Description Of The Library / Tool
Cross-platform, graphics API agnostic, “Bring Your Own Engine/Framework” style rendering library, licensed under permissive BSD-2 clause open source license.
https://github.com/fir

[2020-05-03 11:21] ZaMaZaN4iK opened #1518 "[request] libpq/12.2"
### Package Details
  * Package Name/Version: **libpq/12.2**
  * Website: **https://github.com/postgres/postgres/**
  * Source code: **https://github.com/postgres/postgres/**

### Description Of The Library / Tool
`libpq` is a C connector to Postgresql database

[2020-05-03 12:50] ZaMaZaN4iK opened #1519 "[request] msquic/latest_stable"
### Package Details
  * Package Name/Version: **msquic/latest_stable**
  * Website: **https://github.com/microsoft/msquic**
  * Source code: **https://github.com/microsoft/msquic**

### Description Of The Library / Tool
Cross platform C implementation of the IETF QUIC protocol.

[2020-05-03 18:19] 0x8000-0000 commented on #621
I have packaged current version of grpc at https://github.com/0x8000-0000/conan-recipes, tested on Linux only. This is my first effort at packaging, so feedback is welcome. If you want to integrate this grpc package, that would be great, too.

[2020-05-03 18:37] isnullxbh commented on #4
Can I please get EAP? Thanks!

[2020-05-03 22:02] ZaMaZaN4iK opened #1522 "[request] cpr/1.4.0"
### Package Details
  * Package Name/Version: **cpr/1.4.0**
  * Changelog: **https://github.com/whoshuu/cpr/releases/tag/1.4.0**

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

[2020-05-04 00:59] Croydon commented on #621
@0x8000-0000 Thanks for contributing. We are working towards a solid GRPC recipe for a long time now and it is still not there yet that we can include it in CCI. See my quick feedback here: https://github.com/inexorgame/conan-grpc/issues/37

There are also tons of other issues which may or may not block inclusion further afterwards. grpc is unfortunately non-trivial and breaks quite frequently wit

[2020-05-04 01:03] 0x8000-0000 commented on #621
For now I have some interest in keeping the current version packageable, so I am willing to lend some time and perseverance in making it so. I am comfortable with C++ but the nuances of four flavors of CMake generators, and several CMake major revisions and styles give me headaches :)

[2020-05-04 03:00] 0x8000-0000 commented on #4
I would like to join the EAP so I can submit package updates. Thank you!

[2020-05-04 05:49] ah7675 commented on #940
I have submitted a simple solution, it should work as expected.

[2020-05-04 07:30] jmarrec opened #1525 "[package] zlib/1.2.11: crypt.h is in the include directory leading to problems"
A zlib internal-only header is installed at `~/.conan/data/zlib/1.2.11/_/_/package/<SHA>/include/crypt.h`, which is making my build fail when trying to link against python as Python.h is expecting the system crypt(3) at `/usr/lib/crypt.h` but finding the zlib one due to `-isystem `~/.conan/data/zlib/1.2.11/_/_/package/<SHA>/include`

A similar PR is reported upstream FYI (https://github.com/madler

[2020-05-04 07:44] SSE4 commented on #1525
yeah, I think we already run into this several times in the past. this is a general problem with non-namespaced C-style headers. I'd wish we had `#include <openssl/crypto.h>` and `#include <zlib/crypto.h>` instead of just `#include <crypto.h>`. otherwise, I am not sure how to deal with such situations.

[2020-05-04 07:53] SSE4 commented on #1519
we probably package some draft from here:
https://github.com/microsoft/msquic/releases
`latest_stable` is a rolling release

[2020-05-04 07:54] SSE4 commented on #1516
seems like the library has neither releases nor tags. we can't package just `master`, as it's rolling, the best thing we can do is just package some commit hash.

[2020-05-04 07:55] ah7675 commented on #4
Can I please join the EAP? Thanks!

[2020-05-04 08:19] jmarrec commented on #1525
@SSE4 yes ideally that would be the case upstream, with namespaces. Otherwise that can be patched in conan, but that's annoying for sure to maintain.

As for this specific issue, I'm proposing a fix in #1526

[2020-05-04 08:19] jmarrec commented on #4
Can I please join the EAP? Thanks!

[2020-05-04 09:10] icraggs commented on #4
I'd like to join the EAP, as maintainer for the Eclipse Paho C client project: https://github.com/eclipse/paho.mqtt.c.  Thanks.

[2020-05-04 09:15] ZaMaZaN4iK commented on #1519
@SSE4 Yeah, you are right. I meant that we should package something from releases, but they don't use semver :)

[2020-05-04 10:22] Ansoulom opened #1527 "[package] nlohmann_json/3.7.3: No CMake configuration files for cmake_paths generator"
### Package and Environment Details
  * Package Name/Version: **nlohmann_json/3.7.3**
  * Operating System+version: **Windows 10**
  * Compiler+version: **Clang 10.0**
  * Conan version: **conan 1.24.1**
  * Python version: **Python 3.8**

### Conan profile
[code]

### Description
Trying to find the nlohmann_json package in CMake results in failure after installing with the cmake_paths generator.

[2020-05-04 10:41] Ansoulom commented on #1527
I just tried replacing `nlohmann_json/3.7.3` with `jsonformoderncpp/3.7.3@vthiery/stable` in my conanfile.txt and it works now. Though that's a different package for the same library and I had to add
[code]
to my profile for that package to install without an error message.

[2020-05-04 10:47] icraggs commented on #1395
I've requested as per step 1.  Now to figure out the others...

[2020-05-04 11:13] omaralvarez commented on #4
I would also like to join as maintainer for xtensor.

[2020-05-04 12:20] markusgod opened #1533 "[request] DiligentEngine /v2.4.e"
### Package Details
  * Package Name/Version: **DiligentEngine /v2.4.e**
  * Website: **http://diligentgraphics.com/diligent-engine/**
  * Source code: **https://github.com/DiligentGraphics/DiligentEngine**

### Description Of The Library / Tool
Diligent Engine is a lightweight cross-platform graphics API abstraction library and rendering framework. It is designed to take full advantage of Direct3

[2020-05-04 12:39] uilianries commented on #1492
@Panky-codes the correct form is:

    conan install zeromq/4.3.2@ -r conan-center

You need to add `@` after the package reference. It's required because it could be interpreted as <user>/<channel> instead.

[2020-05-04 13:07] danimtb commented on #1475
I have created a new PR for parallel-hashmap in order to regenerate the packages here: https://github.com/conan-io/conan-center-index/pull/1534

Apparently the GitHub webhook failed to notify our CI Jenkins about the merge, and the job was not created and packages were never uploaded.

We are planning to add an internal job that checks for missing packages in ConanCenter in order to minimize this

[2020-05-04 13:10] danimtb commented on #1527
This is not a bug but something intended. We are not relying on CMake generated files but on the ones generated by Conan with generators. You can find more information in the wiki: https://github.com/conan-io/conan-center-index/wiki/FAQ#why-are-cmake-findconfig-files-and-pkg-config-files-not-packaged

[2020-05-04 13:47] Ansoulom commented on #1527
Hmm, so does this mean that the package is simply not intended to work when using the `cmake_paths` generator? Since that generator does not generate any config files and relies on the config files provided by the library author, if I understand it correctly.

Also, I guess this is a matter of opinion, but I don't agree that `find_package()` is something that should be avoided. This is the idiomat

[2020-05-04 13:50] SSE4 commented on #213
@danimtb @uilianries  we need to definitely make some action on this, as it blocks several recipes (e.g. `fribidi`).

[2020-05-04 14:24] Croydon commented on #213
If the CI system would be open sourced... 😉

Random wild guess: Maybe GCC 5 is the first compiler the CI compiles for and therefore uses it for installer packages? Maybe it would be enough to put GCC 4.9 first?

[2020-05-04 14:38] danimtb commented on #1527
That's right, packages cannot be consumed with `cmake_paths` generator for the reasons pointed in the link above.

We have strong experience with CMake files and many of them include hardcoded paths to other libraries or options that do not reflect the desire of consumers. Many others look for libraries in your system and you might not notice. Not to say that a lot of libraries do not provide CMak

[2020-05-04 14:44] danimtb commented on #1504
Sure! Take a look at the PR proposed by @SpaceIm here #1507

[2020-05-04 15:10] Ansoulom commented on #1527
Alright, turns out that I can achieve the same result by using `cmake_find_package` together with `cmake_paths`. I think the documentation for `cmake_paths` could use some updating to make it clear that using it standalone is discouraged and that it should be combined with `cmake_find_package` instead.

I still think it makes more sense to use the CMake configuration files already provided by the

[2020-05-04 15:10] #1527 closed

[2020-05-04 15:13] davidtazy commented on #4
I'd like to join the EAP, just made a pull request for kcov  #1538

[2020-05-04 15:29] danimtb commented on #1527
Thanks a lot for the feedback. We will include that information in the documentation to better explain this. Glad you make it work with the ``cmake_find_package`` generator finally! :smile:

[2020-05-04 15:43] danimtb commented on #1194
Closing this one as #1313 got merged 😄

[2020-05-04 15:43] #1194 closed

[2020-05-04 15:48] #1509 closed

[2020-05-04 16:14] #1504 closed

[2020-05-04 16:14] #1345 closed

[2020-05-04 18:00] paultomas opened #1543 "[request] librdkafka/v1.4.0"
### Package Details
  * Package Name/Version: **librdkafka/1.4.0**
  * Website: **https://github.com/edenhill/librdkafka**
  * Source code: **https://github.com/edenhill/librdkafka**

### Description Of The Library / Tool
the Apache Kafka C/C++ client library

[2020-05-04 18:39] Panky-codes commented on #1492
Thanks for your help. That works. :)

[2020-05-04 18:39] #1492 closed

[2020-05-04 21:15] #1237 closed

[2020-05-04 21:17] #1490 closed

[2020-05-04 22:06] SpaceIm commented on #1023
Now that `PROJ` is in CCI, `GDAL` can be packaged with available drivers. There is a nice `configure.ac` of ~6000 lines to check :p

[2020-05-04 22:29] #1475 closed

[2020-05-04 22:30] sebhmg commented on #1023
@SpaceIm, nice! It does not seem so daunting anymore 😃

[2020-05-05 00:54] kchmck commented on #4
Hello, I'd like to join the EAP please. Thank you!

[2020-05-05 06:27] ericLemanissier commented on #213
another PR blocked because of this: https://github.com/conan-io/conan-center-index/pull/1013

[2020-05-05 08:11] Croydon commented on #674
I think this issue can be closed as the question is answered. Transferring recipes is a long-lasting ongoing task and every help is appreciated 😄

[2020-05-05 08:18] #674 closed

[2020-05-05 08:41] PavelKisliak commented on #4
Hello,
I am author of open source library [BitSerializer](https://bitbucket.org/Pavel_Kisliak/bitserializer/src) and I'd like to have ability to publish new packages to Conan center. Thanks!

[2020-05-05 09:22] vvandrounik commented on #4
Hello,
I'd like to join the EAP. Thanks!

[2020-05-05 09:40] ericLemanissier commented on #674
@dmn-star see https://github.com/conan-io/conan-center-index/pull/1558

[2020-05-05 10:14] Croydon commented on #22
While I would also like the idea that projects keep a conanfile in-source for dev versions, I think that reality is slowly catching up.

For people better familiar with Conan it might be clear which Conan recipe you want to use,  when both CCI and in-source recipes exist, but for the wast majority of people this seems to be confusing. People start reporting bugs in which it isn't clear what they a

[2020-05-05 10:27] SpaceIm commented on #1533
This library has probably a lot of dependencies. Looking at their README, I see at least `vulkan-loader` which is not yet in CCI.

[2020-05-05 16:03] #1089 closed

[2020-05-05 16:03] #1522 closed

[2020-05-05 16:20] #1426 closed

[2020-05-05 16:26] Croydon commented on #1089
Looks like it didn't need crashpad after all?

[2020-05-05 16:27] Croydon commented on #1089
Ah, I see, you raised for those options...

[2020-05-06 03:07] xyz1001 commented on #940
@ah7675 I tried your solution and it works. Thanks

[2020-05-06 03:07] #940 closed

[2020-05-06 08:01] pavanbadugu commented on #4
add me please

[2020-05-06 09:13] newlawrence commented on #683
Maybe a little bit late to the conversation. In my company, we are following the same approach as @jgsogo said above, just we are only using the core libraries though.

I've found that, in this particular case, you don't need to compile any shared libraries to manually resolve the dependency graph for the *package_info* section as @Manu343726 said in [#683 (comment)](https://github.com/conan-io/co

[2020-05-06 11:46] isnullxbh commented on #4
Hello! Can you merge [pull request](https://github.com/conan-io/conan-center-index/pull/1521) or update Asio to 1.16.1 by yourself? Thanks! :)

[2020-05-06 12:33] SpaceIm commented on #1023
Well, after a first attempt of packaging, gdal `configure.ac` seems to be very fragile regarding dependencies (one of the first `AC_CHECK_LIB` fails on PROJ, probably because it doesn't rely on pkg_config to list PROJ dependencies).
It will take time.

[2020-05-06 16:41] datalogics-robb commented on #1498
This issue is now resolved.  Thanks!

[2020-05-06 17:07] #1498 closed

[2020-05-06 17:24] shelper commented on #780
any update on this? i am still seeing error like below on windows.
[code]

[2020-05-06 19:06] datalogics-robb opened #1564 "[package] cmake/3.17.1: binary will not build or run on Red Hat Enterprise Linux 7"
We build on CentOS 7 so that we can support most Linux distros with later GLIBC and libstdc++ versions with no additional runtime requirements.  The binaries for cmake in the public artifactory won't run, and the recipe requires the system to have a newer OpenSSL installed than the one that is present for it to build.

The pre-built binaries will download but not run due to this issue:
https://git

[2020-05-06 19:09] Croydon commented on #1564
See https://github.com/conan-io/conan-center-index/pull/1418

[2020-05-06 19:56] ZaMaZaN4iK opened #1565 "[package] sqlpp11/0.58: Exported CMake config name"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **sqlpp11/0.58**
  * Operating System+version: **Fedora 32**
  * Compiler+version: **GCC 10**
  * Docker image: **conanio/gcc8**
  * Conan version: **conan 1.24.1**
  * Python version: **Python 3.8.2**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if cus

[2020-05-06 20:04] ZaMaZaN4iK commented on #1565
Probably the following lines are missed:
[code]

[2020-05-06 20:25] ZaMaZaN4iK opened #1567 "[request] sqlpp11/0.59"
### Package Details
  * Package Name/Version: **sqlpp11/0.59**
  * Changelog: **https://github.com/rbock/sqlpp11/releases/tag/0.59**

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

[2020-05-06 20:26] Michanne commented on #4
Add myself, thanks

[2020-05-06 20:27] uilianries commented on #1565
@ZaMaZaN4iK Thanks for reporting, I'll provide a fix ASAP

[2020-05-06 23:20] madebr commented on #1396
I've been bitten by this as well in #1570
The poco recipe requires thread safety to be nonzero.

[2020-05-07 06:29] markusgod commented on #4
I'd like to join EAP.

[2020-05-07 08:59] SpaceIm commented on #728
@uilianries The solution is to replace zlib by `minizip` recipe? What would happen if a consumer ends up by having `minizip` and `zlib` with `minizip=True` in its dependency graph?

[2020-05-07 09:56] #1370 closed

[2020-05-07 10:20] markusgod commented on #1533
By the way, can CCI packages depend on bincrafters? There is glew/2.1.0@bincrafters/stable

[2020-05-07 10:23] SpaceIm commented on #1533
No.

[2020-05-07 10:42] Manu343726 commented on #683
@newlawrence you owe me a link to a github repo... :P

[2020-05-07 11:15] SpaceIm commented on #1518
`libpq` is alreay in CCI. You request an `upstream update`, not a `library request`.

[2020-05-07 11:51] ZaMaZaN4iK commented on #1518
@SpaceIm yes, you are right. Sorry for the mistake.

[2020-05-07 11:51] #1518 closed

[2020-05-07 11:52] ZaMaZaN4iK opened #1574 "[request] libpq/12.2"
### Package Details
  * Package Name/Version: **libpq/12.2**
  * Changelog: **https://github.com/postgres/postgres/releases**

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

[2020-05-07 11:54] pgeler opened #1575 "[request] asio/1.16.1"
### Package Details
  * Package Name/Version: asio/1.16.1
  * Changelog: https://github.com/chriskohlhoff/asio/releases/tag/asio-1-16-0

The above-mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

[2020-05-07 11:55] ericLemanissier commented on #1575
https://github.com/conan-io/conan-center-index/pull/1521

[2020-05-07 12:44] SpaceIm opened #1576 "[question] Assimp: use conan recipes instead of internal contribs?"
Assimp does not only depends on `zlib` (with `minizip`, which is not listed in the recipe, there are probably link issues for some specifics options, I'm surprised that linking even works when producing the shared lib) and `irrxml`, but also:
- `utfcpp`
- `zip` (only for 3MF Exporter, but Assimp compile or link it unconditionally): https://github.com/kuba--/zip
- `rapidjson` (only for glTF and glT

[2020-05-07 13:07] SSE4 commented on #1576
we always must use external (conan) library, at least by default.
the reason is that way it's easy to get ODR violations - you may easily have two instances of zlib, one from conan itself, and one from the assimp. it's also likely they could be different versions of the same library.
in that case, you'll probably get strange runtime errors hard to debug.

the plan should be:
- package all mandator

[2020-05-07 13:14] davidtazy opened #1577 "[package] jjnja2cpp/1.1.0: broken by rapidjson target renaming"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **jinja2cpp/1.1.0*
  * Operating System+version: **any*

rapidjson rename its target for cmake_find_package a82e62ce11c9766184619ec1d695bff45ca7cd29

_jinja2cpp/thirdparty/thirdparty-conan-build.cmake_
[code]
"rapidjson" should be renamed  "RapidJSON"

maybe other packages are impacted...

[2020-05-07 13:15] SpaceIm commented on #1576
I totallly agree @SSE4, it was not really a question actually, more a suggestion. But this issue doesn't really fit Bug Report template 😃

[2020-05-07 14:52] SpaceIm commented on #1576
https://github.com/conan-io/conan-center-index/issues/1576

[2020-05-07 17:00] #1567 closed

[2020-05-07 17:35] uilianries commented on #728
@SpaceIm enabling minizip for zlib should be enough, but unfortunately we can't provide custom options in CCI. I'll check if minizip package can be used for this case.

[2020-05-07 18:09] #1396 closed

[2020-05-07 21:52] newlawrence commented on #683
[There you are](https://github.com/newlawrence/Conan-Recipes/commit/1ad3dadccbe297744467f6e109369b274f7891c5) @Manu343726. Sorry it took so long... 😅

As you can see, I use **networkx** to resolve the linking order in just one line. I'm such a lazy person... 😁. So that's it, for the whole **clang+llvm** project the same could be done using the new components to model each one of the tools and libr

[2020-05-07 23:20] Croydon opened #1580 "[service] Build packages for Clang 10"
Now where https://github.com/conan-io/conan-docker-tools/pull/193 is merged, the service should generate packages for Clang 10.

If added, the wiki should be updated as well: https://github.com/conan-io/conan-center-index/wiki/Supported-Platforms-And-Configurations

[2020-05-08 00:21] prince-chrismc opened #1581 "[question] Patches: exports_sources and in conanmanifest.txt but cannot download"
I would like to download the patches for a given recipe.

[code]

Which clearly lists all the various patches. But for arguments sake lets try the conandata file!

[code]

Firstly, I am shocked this does not contain all the data, the other versions are missing! Than I was wondering why **all** the patches are exported.

But regardless, it works as anticipated.

So trying the very last patch in the

[2020-05-08 00:56] gocarlos commented on #952
can this now be achieved after 1.25?

[2020-05-08 09:24] #1577 closed

[2020-05-08 13:36] uilianries commented on #952
@gocarlos Yes, totally!

[2020-05-08 15:21] fulara opened #1584 "[package] <boost>/<1.72.0>: boost build with RelWithDebInfo mode has stripped symbols."
When loading my package into gdb I am seeing this output:
[code]
For boost libraries, other libraries build fine.

I am using `RelWithDebInfo` mode, my boost recipe is about 5 months old.
I will be testing new conan recipe when we are ready to migrate to 1.73.0.

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **boost/1.72.0**
  * Operating System

[2020-05-08 22:28] Croydon opened #1587 "[service] Build packages for GCC 10"
Now where https://github.com/conan-io/conan-docker-tools/pull/199 is merged, the service should generate packages for GCC 10.

If added, the wiki should be updated as well: https://github.com/conan-io/conan-center-index/wiki/Supported-Platforms-And-Configurations

[2020-05-10 06:45] Croydon commented on #1516
@SSE4's comment was just a hint for whoever is going to create a package for this library. If you still wish a recipe for it you should leave the issue open 😄

[2020-05-10 08:50] ArekPiekarz opened #1591 "[request] entt/3.4.0"
### Package Details
  * Package Name/Version: **entt/3.4.0**
  * Changelog: **https://github.com/skypjack/entt/releases/tag/v3.4.0**

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

[2020-05-10 09:18] markusgod commented on #1516
Thanks, i understand. I just think that Diligent #1533 will be preferable over bgfx.

[2020-05-10 22:44] gocarlos commented on #952
humm, so in the [blog](https://blog.conan.io/2020/05/07/New-conan-release-1-25.html) @danimtb presented the solution for component based openssl. can we take this, or is there something missing?

[2020-05-11 10:11] #729 closed

[2020-05-11 11:58] danimtb commented on #1386
The original issue was fixed so I am closing this. Currently removing the config.yml cannot be done. We might reconsider this for the future. Thanks!

[2020-05-11 11:58] #1386 closed

[2020-05-11 13:25] danimtb opened #1600 "[conan.io/center] List of binary packages do not show all packages"
In Mac, you are able to move the pointer to the list of packages and scroll down to show more packages. However, the scrolling is not working in Windows Chrome and you think that there are only 10 packages available in the screenshot below.

![image](https://user-images.githubusercontent.com/10808592/81566498-4086a000-939b-11ea-842e-fa714593ff7a.png)

This should be fixed and I think the scroll ba

[2020-05-11 14:29] uilianries commented on #952
Not all parts. AS described on Components reference, it's not a real case: https://docs.conan.io/en/latest/reference/conanfile/attributes.html#cpp-info. For instance, we don't have components for zlib, also, those defines I think they don't exist.

[2020-05-11 14:58] #1591 closed

[2020-05-11 16:02] danimtb commented on #952
This feature is still not implemented in generators and it still an experimental feature until we got something working. You can still play with it in the cpp_info model but it will take some releases until we got something working in cmake

[2020-05-11 16:52] 0x8000-0000 opened #1606 "[package] openssl/1.1.1g: Fails to build on Windows with Visual Studio 2019 (16)"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **openssl/1.1.1g**
  * Operating System+version: **Windows 10 Enterprise**
  * Compiler+version: **Microsoft (R) C/C++ Optimizing Compiler Version 19.25.28614 for x64**
  * Conan version: **conan 1.25**
  * Python version: **Python 3.8.1**

### Conan profile (output of `conan profile show default` or

[2020-05-11 16:57] 0x8000-0000 commented on #1606
Paging @Croydon :)

[2020-05-11 18:05] aleksa2808 opened #1609 "[question] Usage of shared_library_package_id"
Hi all,

As noted in slack, there is a discrepancy between what's written on [this](https://docs.conan.io/en/latest/reference/conanfile/methods.html#self-info-shared-library-package-id) link and the state of CCI. The docs say that using conanfile.info.shared_library_package_id is "necessary for Conan-center packages that have dependencies to compiled libraries and have the shared option", but it s

[2020-05-11 18:14] dmn-star opened #1610 "[package] libxslt/1.1.34: Conan adds -lpthread for Android"
Conan adds -lpthread for Android, linking failed.

The android libc, bionic, provides built-in support for pthreads, so no additional linking (-lpthreads) is necessary.
So not required to add -lpthreads and remove check also.

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libxslt/1.1.34**
  * Operating System+version: **macOS Catalina 10.15.4*

[2020-05-11 18:15] dmn-star commented on #1610
-licucore cannot be found too.

[2020-05-11 18:20] madebr opened #1611 "[package] boost/all: recipe pulls in environment"
While checking #1606, I noticed the boost recipe pulls in `CFLAGS` and `CXXFLAGS` from the environment.
This can lead to non-reproducible builds.
Shouldn't it just set its flags according to settings?

https://github.com/conan-io/conan-center-index/blob/master/recipes/boost/all/conanfile.py#L777-L784

I would copy the flags from `AutotoolsBuildEnvironment.flags`

### Package and Environment Detail

[2020-05-11 18:28] madebr commented on #1611
Nevermind, I think this behavior is correct.
The `AutotoolsBuildEnvironment` helper also pulls in the environment variables:

https://github.com/conan-io/conan/blob/f361690beae3608d93a8d79dec7abb24f75ddd85/conans/client/build/autotools_environment.py#L363-L387

[2020-05-11 18:28] #1611 closed

[2020-05-11 19:04] SSE4 commented on #1606
this is weird, as **stdlib.h** is standard header shipped with compiler

[2020-05-12 07:58] danimtb commented on #1091
Hi @aleksa2808 and sorry for the late answer.

I have doubIe-checked this and you are right, we are nto generation packages for Linux clang libstdc++11. I am not sure why that configuration is skipped in our code and I would have to check with the team as I think it is a valid and very used one.

Thanks a lot for the request

[2020-05-12 14:39] kunaltyagi opened #1621 "[package] dlib/19.19: Failure to compile on MacOS 10.15.4"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **dlib/19.19**
  * Operating System+version: **MacOS 10.15.4**
  * Compiler+version: **apple-clang 11**
  * Conan version: **1.24.1**
  * Python version: **2.7.16, 3.7.7**

### Conan profile (output of `conan profile show default`)
[code]

### Steps to reproduce (Include if Applicable)

[code]
Then c

[2020-05-12 15:48] intelligide opened #1622 "[request] mattiasgustavsson/libs"
### Package Details
  * Package Name/Version: **???/???**
  * Source code: **https://github.com/mattiasgustavsson/libs**

### Description Of The Library / Tool

Single-file public domain libraries for C/C++

Required by #1544

I don't know how I can name this recipe !!!

[2020-05-12 17:03] danimtb commented on #1321
thanks a lot for the question and sorry for the late response. As reported in  #1091, I think CCI should generated packages for libstdc++11 configuration as well.

Regarding the issue with the ubuntu environment and glibc, we didn't want to model glibc to avoid generating an insane amount of binaries, so we are working towards having the best compatibility possible.

Currently, the ubuntu images u

[2020-05-13 00:34] syoliver commented on #4
Hello I would like to work on PR #1626. Can you add me please?

[2020-05-13 01:09] daravi commented on #4
Please add me.

[2020-05-13 02:38] Croydon commented on #1622
In case of a too generic name we use the owner as a prefix, so it is going to be `mattiasgustavsson-libs`

Since the project makes no releases we use a date based versioning like `20200513`

[2020-05-13 09:25] museghost commented on #4
Please add me as well !

[2020-05-13 12:04] munoah opened #1631 "[request] openal/1.20.1"
### Package Details
  * Package Name/Version: **openal/1.20.1**
  * Changelog: **https://openal-soft.org/**

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

PS: perhaps the package should be renamed to openal-soft?

[2020-05-13 12:38] prince-chrismc commented on #1525
@jmarrec if you could edit ur PR's opening comment with "fixes #1525" so this issue will automatic close, that would be greatly appreciated!

[2020-05-13 15:21] jmarrec commented on #1525
Done,  it was missing the # in the issue number...

[2020-05-13 16:23] pezcode commented on #4
Would appreciate an invite 🤡

[2020-05-13 19:03] jeremy-coulon commented on #1564
There are 2 issues here:
- cmake cannot be built on Centos7
- cmake pre-built binaries from conan-center does not run on Centos7

Concerning the later, here is a log:

/home/jcoulon/.conan/data/cmake/3.16.6/\_/\_/package/44fcf6b9a7fb86b2586303e3db40189d3b511830/bin/cmake: /lib64/libstdc++.so.6: version 'GLIBCXX_3.4.21' not found (required by /home/jcoulon/.conan/data/cmake/3.16.6/\_/\_/package/44f

[2020-05-13 19:11] jeremy-coulon commented on #1564
Note that some other packages (dev tools) have the same issue and doesn't run on Centos7.

For example: ninja/1.9.0:

/home/jcoulon/.conan/data/ninja/1.9.0/\_/\_/package/44fcf6b9a7fb86b2586303e3db40189d3b511830/bin/ninja: /lib64/libstdc++.so.6: version 'GLIBCXX_3.4.20' not found (required by /home/jcoulon/.conan/data/ninja/1.9.0/\_/\_/package/44fcf6b9a7fb86b2586303e3db40189d3b511830/bin/ninja)

[2020-05-13 19:14] ericLemanissier commented on #1564
that's https://github.com/conan-io/conan-center-index/issues/1327  https://github.com/conan-io/conan-center-index/issues/624 and https://github.com/conan-io/conan-center-index/issues/213

[2020-05-13 19:19] datalogics-robb commented on #1564
These solutions will solve the runtime issues with gcc runtime issue, but they won't help with glibc, which also has similar problems.  We use the "devtoolset-7" which is gcc-7.3 but with runtime fixups so that the gcc-4.8 runtime can be used.

[2020-05-13 19:33] jeremy-coulon commented on #1564
How about using static libstdc++ for C++ ABI issues and glibc_version_header/0.1@bincrafters/stable for glibc ABI issues ?

[2020-05-13 19:37] datalogics-robb commented on #1564
That might work if the patch to pull in OpenSSL was also thrown in, or an option to make OpenSSL not always required on Linux.

[2020-05-13 20:31] #1584 closed

[2020-05-13 22:08] madebr commented on #1606
@0x8000-0000
If your problem is still present, can you try repairing your visual studio installation?

[2020-05-14 01:13] 0x8000-0000 commented on #1606
@madebr

The Visual Studio was up to date and working fine, but your suggestion reminded me to check something else. Our IT department has some daemon that periodically (or randomly) changes the local policy to disable registry editing - which breaks Visual Studio command line tools in subtle ways.

I re-run the tool that allows me to edit the registry and now it builds.

So, local problem, now fi

[2020-05-14 01:13] #1606 closed

[2020-05-14 12:09] timblechmann opened #1639 "[package] libxslt/1.1.34: exslt is not linked"
libxslt, has been merged in #1558. however i can only use libxslt, but not libexslt:

building gives me:
[code]

the linker:
[code]

both binaries exist, though:
[code]

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libxslt/1.1.34**
  * Operating System+version: **Linux Ubuntu 19.14**
  * Compiler+version: **GCC 9**
  * Conan version: **conan

[2020-05-14 12:30] SemyonDuB opened #1640 "[service] gperf_installer/3.1@conan/stable: Doesn't compile in FreeBSD"
**gperf** source code doesn't compile using **BSD make** with the key **-jX**, so the best way removes this flag at all, and change function `_build_configure()` and `package()` like this:
[code]
### Conan profile
[code]
### Logs
<details><summary>Click to expand log</summary>

[code]

## Package details
* source code: https://github.com/conan-community/conan-gperf_installer

[2020-05-14 12:58] Croydon commented on #1640
You need to migrate from `gperf_installer/3.1@conan/stable` to `gperf_installer/3.1`

the `@conan/stable` version is an old one

Please report back then if the problem still exists

[2020-05-14 13:55] uilianries commented on #1639
Interesting, it seems be a case for [components](https://github.com/conan-io/conan/issues/5090)

[2020-05-14 13:58] ericLemanissier commented on #1639
also, libexslt should be added to self.cpp_info.libs. @timblechmann do you know if it is always compiled on all platforms ?

[2020-05-14 14:13] timblechmann commented on #1639
@ericLemanissier not sure. in my pre-conan world i've been including the sources directly into my project

[2020-05-14 16:08] SpaceIm opened #1642 "[question] del libxcc settings for C lib depending on C++ lib with C API?"
Recently, in CCI, I've added libstdc++ (or libc++) in system_libs of several C++ lib with C API.

Moreover, I've modified c-blosc recipe (which depends on `snappy`, a C++ lib with C API whose recipe has been modified with above trick), a C library to unconditionally delete `settings.compiler.libcxx`.
(I've also submitted `libgeotiff` which also depends on a C++ lib with C API, `proj`).

I'm wonder

[2020-05-14 21:07] VolnistyPopuguy commented on #1640
`gperf_installer/3.1` package only exists as `@conan/stable`, but `conan-center` have gperf/3,1, which also fails to compile with the same error

[2020-05-14 21:13] hnOsmium0001 commented on #4
Please add me.

[2020-05-14 22:40] madebr commented on #1640
This is weird, as your log shows that a `Makefile` is created in the `src` folder, as is shown by your workaround by disabling parallellism
[code]

Can you share the output of the following make commands? (gmake has `--trace`, BSD make has probably something similar)
[code]
and
[code]

[2020-05-15 05:55] SSE4 commented on #1642
I believe in the case of shared libraries, produced binaries will be different, thus need to have different package ids. e.g., if you're consuming a shared library with **libc++**, you'll need to install **libc++** system package on the Linux system (which is usually not available by default). same for **libstdc++**.

[2020-05-15 09:19] dmn-star commented on #1639
@ericLemanissier, would you please take a look on #1610 too (icu und pthread are linked on Android)?

[2020-05-15 10:18] ericLemanissier commented on #1639
No, sorry

[2020-05-15 13:36] madebr commented on #155
Currently, the logs contain the executed commands.
So the original problem of this issue has been addressed.

[2020-05-15 13:36] #155 closed

[2020-05-15 13:45] madebr commented on #1642
The shared c library will be indeed be different when using different c++ libraries.
I think [full transitive package ids](https://docs.conan.io/en/latest/creating_packages/define_abi_compatibility.html#full-transitive-package-id) addresses the package ids.

[2020-05-15 15:27] dmn-star commented on #1610
I've checked config.log The libxslt recipe will use preinstalled MacOS libxml2.
LDFLAGS='--sysroot=/Users/dmn-star/.conan/data/android_ndk_installer/r21/bincrafters/stable/package/f6b0eb33d20cd181162f2ec6484cedb6822cd62d/toolchains/llvm/prebuilt/darwin-x86_64/sysroot -L/Users/dmn-star/.conan/data/libxml2/2.9.10/_/_/package/5b74a56562cd379957f730639aeaf63dfbda1d90/lib -L/Users/dmn-star/.conan/data/

[2020-05-15 15:33] dmn-star commented on #1639
No problem, I have the rollback option libxslt 1.33 from bincrafters.
It sounds like the libxslt recipe will use preinstalled MacOS libxml2 for Android cross-build, maybe on MacOS itself too?

[2020-05-15 16:45] ericLemanissier commented on #1639
libxslt/1.33@bincrafters/stable has the same package_info method as libxslt/1.34 on CCI
https://github.com/bincrafters/conan-libxslt/blob/stable/1.1.33/conanfile.py#L161-L170 vs https://github.com/conan-io/conan-center-index/blob/master/recipes/libxslt/all/conanfile.py#L160-L169 so they should have the same libraries. what difference do you notice between the two ?

[2020-05-15 18:38] dmn-star commented on #1639
I can build libxslt/1.33@bincrafters/stable for Android without any problems on my Mac and on our CI-Server. libxslt/1.34 won't build. That is the main deference for me.

from generated makefile
1.33
XSLT_INCLUDEDIR = -I${includedir}
XSLT_LIBDIR = -L${libdir}
**XSLT_LIBS = -lxslt -lxml2 -lm**
abs_builddir = /Users/dmn-star/.conan/data/libxslt/1.1.33/bincrafters/stable/build/f5243fee2ec0a5132b2a245

[2020-05-15 18:44] dmn-star commented on #1639
I think LIBXML_CFLAGS = -I/Library/Developer/CommandLineTools/SDKs/MacOSX10.14.sdk/usr/include/libxml2 is wrong in both cases.

1.34
LIBXML_CFLAGS = -I/Library/Developer/CommandLineTools/SDKs/MacOSX10.14.sdk/usr/include/libxml2
LIBXML_LIBS = -lxml2 **-lz -lpthread -licucore -lm**

1.33
LIBXML_CFLAGS = -I/Library/Developer/CommandLineTools/SDKs/MacOSX10.14.sdk/usr/include/libxml2
LIBXML_LIBS = -lxm

[2020-05-15 18:45] ericLemanissier commented on #1639
my remark was about exslt, your comments about failures on android would be better in https://github.com/conan-io/conan-center-index/issues/1610

[2020-05-15 19:15] dmn-star commented on #1610
I can build libxslt/1.33@bincrafters/stable for Android without any problems on my Mac and on our CI-Server. libxslt/1.34 won't build. That is the main difference for me.

from generated makefile
1.33
XSLT_INCLUDEDIR = -I${includedir}
XSLT_LIBDIR = -L${libdir}
XSLT_LIBS = -lxslt -lxml2 -lm
abs_builddir = /Users/dmn-star/.conan/data/libxslt/1.1.33/bincrafters/stable/build/f5243fee2ec0a5132b2a245c77

[2020-05-15 19:16] dmn-star commented on #1610
I think LIBXML_CFLAGS = -I/Library/Developer/CommandLineTools/SDKs/MacOSX10.14.sdk/usr/include/libxml2 is wrong in both cases.

1.34
LIBXML_CFLAGS = -I/Library/Developer/CommandLineTools/SDKs/MacOSX10.14.sdk/usr/include/libxml2
LIBXML_LIBS = -lxml2 -lz -lpthread -licucore -lm

1.33
LIBXML_CFLAGS = -I/Library/Developer/CommandLineTools/SDKs/MacOSX10.14.sdk/usr/include/libxml2
LIBXML_LIBS = -lxml2

[2020-05-16 10:25] derived-coder opened #1653 "[conan.io/center] Upload dependency graph for every package"
Please upload the dependency graph html file (` conan info . --graph=conan_dependency_graph.html  `) for every package on the website.

When I scroll through a package I want to immediately see all the dependencies!

[2020-05-16 10:28] derived-coder commented on #689
@Dattax
So what is the current state here?
Even artifactory has a  `set me up` button. The average user will not know how to install a package for this needed profile....

[2020-05-16 10:57] ericLemanissier commented on #689
maybe we could show the md file generated with markdown generator ? The problem is that it depends on the settings and the options

[2020-05-16 13:13] sinall commented on #1422
Have the same error when I'm trying to install tesseract/4.1.1.

[2020-05-16 18:37] VolnistyPopuguy commented on #1640
`BSD make` has `-T` flag that seems work like --trace in `GNU make` by references from man page, but I get different ouptut from that commands, `make -T trace.log` (without `-jX`), I get something like that:
### BSD make
<details><summary>Click to expand trace.log file</summary>

[code]
</details>
<br><br>

When I try to compile with `gmake -j15 --trace`, all of that compiled pretty well, and I've

[2020-05-16 18:47] SSE4 commented on #1640
if it applies to all GNU autotools projects (not just gperf), this probably requires a general solution, and the fix has to be done in the conan codebase.
e.g. [this](https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=241633#c13) report suggests BSD make might be too aggressive in parallel mode.
the correct fix might be in the **AutoToolsBuildEnvironment** helper, e.g.:
- detect GNU make vs BSD mak

[2020-05-16 18:59] kaihowl commented on #4
Please add me.

[2020-05-17 16:45] SemyonDuB commented on #1640
This applies to not all GNU autotools projects. I tried to compile `nano` and `grep` from sources using `BSD make`, and it's all compiled. Also, I installed `gnulib/20200224` from conan-center pretty easy and fast. It looks like some projects compiled very good, but others have some troubles in FreeBSD. And I think your solution to this problem is the most suitable because I can't come up with ano

[2020-05-17 19:05] ericriff opened #1658 "[question] Crosscompiling protobuf"
Hi guys, I've been looking into integrating `protobuf` to my project and I need to crosscompile.
Right now the recipe fails because it tries to download `protoc` for a non x86 architecture. My first thought was to add `protoc` as a `build_requirement` but I've been looking around into old PRs and I saw that you decided to go this road instead.
What is the reason for this? Having `protoc` as a `bui

[2020-05-17 21:42] Dattax commented on #1600
Thanks - we'll look into this.

[2020-05-18 08:42] danimtb commented on #4
@datalogics-kam, @ChaosWars, @ash7777, @csch0, @daixian, @Murazaki, @garethsb-sony, @Austin299792, @FranckRJ, @danielaparker, @0x8000-0000, @ah7675, @jmarrec, @icraggs, @davidtazy, @kchmck, @PavelKisliak, @vvandrounik, @pavanbadugu, @isnullxbh, @Michanne, @markusgod, @syoliver, @daravi, @museghost, @pezcode, @hnOsmium0001, @kaihowl you have been included in the EAP. Welcome to ConanCenter! 🥳📦

[2020-05-18 10:44] Flig opened #1662 "[request] Hyperscan/5.2.1"
### Package Details
  * Package Name/Version: **Hyperscan/5.2.1**
  * Website: **https://www.hyperscan.io/**
  * Source code: **https://github.com/intel/hyperscan**

### Description Of The Library
Hyperscan is a high-performance multiple regex matching library. It follows the regular expression syntax of the commonly-used libpcre library, but is a standalone library with its own C API.

Hyperscan

[2020-05-18 11:37] SpaceIm commented on #1658
I have the same issue for capnproto packaging. I think that for those 2 similar libs, executables sould go in a separate recipe (always built with static libs).

[2020-05-18 12:20] 0x8000-0000 commented on #1658
Can you please try out https://github.com/0x8000-0000/conan-recipes/tree/master/recipes/protobuf_compiler ?

[2020-05-18 12:41] ericriff commented on #1658
Sure, thanks. But I'm not asking for a `protoc` recipe. There's one on Bincrafters too.
What I'm asking is for the recommended way to address this situation. I'm working on a large codebase and this changes need a lot of approvals so I don't want to use `protoc` as a `build_requirement` and have to change it later if there is a better way to do it.
I'm guessing there is a better (or a least differ

[2020-05-18 12:42] ericriff commented on #1658
I'm trying to keep my conan as Vanilla as possible :)

[2020-05-18 12:55] 0x8000-0000 commented on #1658
Mine is based on the Bincrafters' just updated to match the Protobuf library proper.

I think we're all learning how to use these packages in the C++ world. With the new "components" feature, the Conan developers are working towards generating Conan packages with multiple internal targets. But I don't know how this will combine with the fact that separate profiles create separate binary packages.

[2020-05-18 12:56] 0x8000-0000 commented on #1658
Me too (see that I have just removed the Abseil recipe since my upstream update got merged), but at the same time I have other stuff to do than wait around, plus learning packaging is useful as we are starting to package our internal bits with Conan as well.

[2020-05-18 13:07] 0x8000-0000 commented on #1658
Please this see note https://github.com/conan-io/conan-center-index/pull/1199#pullrequestreview-394573563

[2020-05-18 13:54] #1525 closed

[2020-05-18 14:20] ericriff commented on #1658
I'm talking about [#65](https://github.com/conan-io/conan-center-index/pull/65)

[2020-05-18 14:26] derived-coder commented on #689
Didn't knew about this generator. Nice.
However, without showing example code how to install and how to consume a package I see
a usage problem for the whole site.

[2020-05-18 15:12] #1639 closed

[2020-05-18 16:04] deimi commented on #4
Please add me

[2020-05-18 16:46] SpaceIm commented on #1023
I've made some progress.
- I have a recipe which build and link on Linux with all gcc version >= 4.9, with a minimal set of dependencies (the required ones: json-c, libgeotiff, libtiff, proj, and also libpng + zlib).
- It fails at some point with clang and libc++ (in linking phase of a gdal executable).
- It might work on MacOS, but outputs are so verbose that Travis kills my build even before the

[2020-05-18 19:23] prince-chrismc commented on #1575
@pgeler can you please close this since it's been merged?

Thanks in advance

[2020-05-18 19:24] dheater commented on #496
Solving by adding `libtool` as a build requirement.
See https://github.com/conan-io/conan-center-index/pull/1668

[2020-05-18 19:24] #496 closed

[2020-05-18 20:36] #1575 closed

[2020-05-18 20:36] pgeler commented on #1575
done

[2020-05-18 21:28] tomlankhorst commented on #4
I would like to be added.

[2020-05-18 22:01] memsharded commented on #4
Please add @frek818 to the EAP.

[2020-05-19 03:44] ddalcino commented on #4
I would like to be added, thanks!

[2020-05-19 07:32] saukijan commented on #4
I would like to be part of EAP

[2020-05-19 20:11] hnOsmium0001 opened #1681 "[question] Submitting PR v.s. "Include My Package" on Bintray"
I understand that both the README.md and the wiki states very clearly that
1. This repo is the default package source for Conan
2. This repo simplifies package publishing steps (especially for older libraries that doesn't want to support Conan directly) by having a building service

But I don't think there is a clear guideline for newer packages where the author wants the package to be on Conan. S

[2020-05-20 08:13] danimtb commented on #4
@deimi, @tomlankhorst, @frek818, @ddalcino, @saukijan welcome to ConanCenter EAP!

[2020-05-20 08:29] sandro97git commented on #4
I would like to be part of EAP

[2020-05-20 11:59] uilianries commented on #1681
Hi!

There is a [blog post](https://blog.conan.io/2019/09/04/A-new-binary-building-service-for-Conan-center-packages.html) about Conan Center Index which explains that CCI is the better/easier for distribution.

As described on the post, CCI is the more natural way. Personal Bintray repository are useful for the cases where a package will not be accepted in CCI (big complex and modular packages, o

[2020-05-20 13:22] hoxnox commented on #4
I would like to be part of EAP

[2020-05-20 13:22] madduci commented on #4
Please add me in the EAP

[2020-05-20 13:40] Mirko-von-Leipzig commented on #780
I have run into this issue. Is there a work-around?

[2020-05-20 17:02] #1640 closed

[2020-05-20 18:40] rakai93 opened #1690 "[package] openssl/1.0.2u: Build fails on mingw64: No rule to make target '../include/openssl/bio.h'"
When trying to build openssl/1.0.2u from source on mingw64 using gcc8.1, the build fails.
I remember that a few weeks ago, I was able to build this package.

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **openssl/1.0.2u**
  * Operating System+version: **Windows 10 64 bit**
  * Compiler+version: **GCC 8.1**
  * Conan version: **conan 1.25.2**

[2020-05-20 19:59] rakai93 opened #1691 "[package] glog/0.4.0: Build fails on mingw64: Undefined reference when linking test_package"
When trying to build glog/0.4.0 from source on mingw64 using gcc8.1, the build fails.

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **glog/0.4.0**
  * Operating System+version: **Windows 10 64 bit**
  * Compiler+version: **GCC 8.1**
  * Conan version: **conan 1.25.2**
  * Python version: **Python 3.8.3**

### Conan profile (output of `conan pro

[2020-05-21 06:13] hnOsmium0001 commented on #1681
Thank you for clarification, I think the last part in your response isn't made very clear in the blog post, and it's why I was here.

[2020-05-21 06:13] #1681 closed

[2020-05-21 15:39] SpaceIm opened #1695 "[request] mariadb-connector-c/3.1.8"
### Package Details
  * Package Name/Version: **mariadb-connector-c/3.1.8**
  * Website: **https://github.com/mariadb-corporation/mariadb-connector-c**
  * Source code: **https://github.com/mariadb-corporation/mariadb-connector-c**

### Description Of The Library / Tool

MariaDB Connector/C is used to connect applications developed in C/C++ to MariaDB and MySQL databases.

[2020-05-21 15:50] goranbrkic commented on #4
I'd like to be part of the EAP

[2020-05-21 16:32] SpaceIm opened #1696 "[package] libtiff/all: change option jpeg to allow using libjpeg-turbo"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libtiff/all**

It would be nice to allow using `libjpeg-turbo` instead of `libjpeg` in `libtiff` recipe. Indeed, it prevents to use `libtiff` in combination with others libs where `libjpeg-turbo` can be used.