[2021-01-13 00:32] paulo-coutinho commented on #4220
The other problem is that im trying build the library using gradle default method, that is adding the CMakeLists.txt to it and leave it compile the project:

[code]

Problems found:

1. Android will download NDK (again) with or without ```ndkVersion "21.0.6113669"```, so how to use the Android NDK download from conan (~/.conan/data/android-ndk/...) instead of auto download it?
2. When i leave it d

[2021-01-13 01:00] paulo-coutinho commented on #4220
Another approach, but without success:

[code]

The ndkPath i put manually only to know if it will build, but the same error happen.

More one think to understand: There is any way to pass "ndkPath" from conan "android-ndk" recipe to gradle?

[2021-01-13 01:06] paulo-coutinho commented on #4220
Hi,

I found the bug, but not understand how to solve.

When i run search i get the ID for package armv8, but im building for armv7:

[code]

The arch armv7 use other folder, see:

[code]

And the armv7 packages are not used, only armv8.

Something is pointing wrong.

[2021-01-13 01:10] paulo-coutinho commented on #4220
All conan files are generated with wrong arch:

[code]

[2021-01-13 02:12] paulo-coutinho commented on #4220
I found the problem.

The "gradle" don't pass variables like "PROJECT_CONFIG_ARCH" (and others) to CMakeLists.txt and it keep the default values.

And you cannot pass it as fixed argument in build.gradle, because each ABI need be one ARCH.

I think that we will need something more complex in build.gradle when it be copied to build folder. We can make something predefined from config files (like na

[2021-01-13 08:01] #3393 closed

[2021-01-13 08:29] dmn-star commented on #4220
Gradle pass ANDROID_ABI to your CMake.

I do not understand what you want to achieve. I for example build all third party c++ deps with Conan outside of AS and my C++ SDK with AS.

PS: update  AS ndkVersion "21.3.6528147"

[2021-01-13 09:15] a4z commented on #4220
build the required packages outside of android studio and have it then on your machine, or upload the to a remote
from within cmake of your project, you just download the dependencies for the 1 root c++ project

you can use https://github.com/conan-io/cmake-conan,
there is even an awesome PR that let you use lockfiles, https://github.com/conan-io/cmake-conan/pull/294, somthing I highly recommend.

[2021-01-13 10:52] NiklasJonsson commented on #3928
Sorry for the late reply, long christmas vacation.

Doesn't the fact that it is used in official examples mean that it is supported? Or do all preprocessor defines need to be exposed via cmake? For what it's worth, it's in the official documentation as well: https://raw.githubusercontent.com/bulletphysics/bullet3/master/docs/Bullet_User_Manual.pdf (pages 10-11)

and here is a issue (from 2018) tha

[2021-01-13 11:29] madebr commented on #3928
Indeed, it's documented and `BT_PROFILE` is used more often.
The fact remains that the cmake script does not have profile support.
Perhaps first a pr should be submitted to bullet3 that adds this definition.
e.g. add the following to the main cmake script
[code]

[2021-01-13 12:45] andioz commented on #4220
I have a question about the usage of the new  two-profile (build/host) approach - as @dmn-star suggests - in existing projects: is it guaranteed that everything works as before with older recipes when I change? Because if one recipe like the `android-ndk` forces me to update, but other recipes doesn't work anymore, I' in a deadlock. This feature is still marked as `experimental` in the docs, is it

[2021-01-13 12:49] mathbunnyru commented on #4076
glib has the same issue.

https://conan.io/center/glib
Here the version is 2.67.1

But in config the latest version is 2.67.2
https://github.com/conan-io/conan-center-index/blob/master/recipes/glib/config.yml

[2021-01-13 12:50] mathbunnyru commented on #4076
But the error for glib is a bit different:
[code]

[2021-01-13 12:52] mathbunnyru commented on #4076
Oh, 2.67.2 was merged 4 days. I thought it was enough to get the recipe in CCI, but I might be wrong.

[2021-01-13 12:58] mathbunnyru commented on #3619
@kpk-pl are you still not able to compile mongo-c-driver?

@daravi mongo-cxx-driver was merged into CCI a while ago. Could you please try it out? If it doesn't work, you should create the new issue about it.

[2021-01-13 13:30] fpelliccioni commented on #4
I'd like to take participation with your EAP program.
I would like to add [libdispatch](https://github.com/apple/swift-corelibs-libdispatch/tree/main).

Thanks!
Fernando.

[2021-01-13 13:37] a4z commented on #4220
2 recipes are the future, and I hope and think conan will not change/break them (at least for the version 1)

I did not have any problems when I switched to 2 profiles, about 6 month ago, everything just worked way better and more logical.
Once you play it through, and get it , you will not want to change back anymore.

[2021-01-13 13:51] andioz commented on #4224
I found an interesting issue: https://github.com/conan-io/conan/issues/2956

Would be the usage of `virtualenv` and/or `CMakeToolchain` generators be the way to go?

[2021-01-13 13:52] andioz commented on #4220
Thanks @a4z, so I will try this first, change my whole project to the new approach :smiley:

[2021-01-13 14:49] ericLemanissier commented on #4216
looks like bumping nasm fixed this error in https://github.com/conan-io/conan-center-index/pull/4234
Thanks @dmn-star !

[2021-01-13 15:16] andioz commented on #4220
Hm, I have trouble with `android_ndk_installer/r20@bincrafters/stable` with this approach. Looks like the recipe doesn't take the `build` settings into account?

[code]

[code]

When I add this values (using `-s` or `-s:h`) to the command it works:

[code]

[2021-01-13 15:30] a4z commented on #4220
The bincrafter ndk is not made to work with 2 profiles, the new on in the cci is
https://conan.io/center/android-ndk

[2021-01-13 15:42] andioz commented on #4220
Thanks for pointing this out, i have to change this.

When I try the new one I get a different error:

[code]
[code]

I think the more I try to understand cross-compiling, the less I understand :confused:. I have another issue open with a more general problem, no answer yet, if someone has some idea for me, very appreciated!

https://github.com/conan-io/conan-center-index/issues/4224

[2021-01-13 16:20] paulo-coutinho commented on #4220
Hi @andioz

Check here for an example:
https://github.com/ezored/ezored/blob/master/files/targets/android_aar/verbs/prepare.py#L54-L71
and
https://github.com/ezored/ezored/blob/master/files/targets/android_aar/conan/profile/ezored_android_aar_profile

[2021-01-13 16:24] dmn-star commented on #4220
you don't need to install android-ndk/r21d@_/_  it happens automatically.

see your profile
[build_requires]
*: **android-ndk/r21d**

Build the lib that you need ( here libxml2)
conan install libxml2/2.9.10@ --build missing --profile:host ./conan/profiles/android --profile:build ./conan/profiles/mac

[2021-01-13 16:34] dmn-star commented on #4220
You can install android-ndk manually but keep in mind you need it on your Mac not on Android device.

Simple call

[2021-01-13 16:35] rdeterre opened #4245 "[package] cpr/1.5.2: Running `conan install` on a package that depends on cpr doesn't work on Windows"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **cpr/1.5.2**
  * Operating System+version: **Windows 10**
  * Compiler+version: **Visual Studio 16 (2019)**
  * Conan version: **conan 1.32.1**
  * Python version: **Python 3.9.0**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in us

[2021-01-13 16:54] a4z commented on #4220
The android profile will always run in the context of the build profile, as all build requirements, that is the beauty

you need to run
`conan install android-ndk/r21d@ --profile linux_profile`

[2021-01-13 17:15] rea-yseop opened #4246 "[package] yasm/1.3.0: unhashable type: 'SettingsItem'"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **yasm/1.3.0**
  * Operating System+version: **Windows 10**
  * Compiler+version: **MSVC 2019**
  * Conan version: **conan 1.30.1**
  * Python version: **Python 3.8.5**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)
[code]

##

[2021-01-13 17:19] SpaceIm commented on #4245
you have an old revision of libcurl (without this new option `with_ssl`), please update to the last revision.

[2021-01-13 17:21] rdeterre commented on #4245
Thanks ! After running `conan remove libcurl/7.69.1`, I can install this without any issues

[2021-01-13 17:21] #4245 closed

[2021-01-13 17:24] andioz commented on #4220
I'll try this! I don't dare to explain why I need this command, it's so dirty... But: I use it with `--json` option, read the JSON file and get the package directory. This way I can determine the CMake toolchain file path and use it with cmake command line. Very ugly hack, but I'm searching a better solution.

[2021-01-13 17:25] dmn-star commented on #4245
conan install . --update would also have done

[2021-01-13 17:28] Croydon commented on #4246
I had the same error quite some time ago (don't remember the details)

Are we sure that this isn't a regression in Conan?

[2021-01-13 17:31] #3213 closed

[2021-01-13 17:32] andioz commented on #4220
Thanks, I will check later!

[2021-01-13 17:34] andioz commented on #4220
Yes this is it, looks good!

[2021-01-13 17:36] dmn-star commented on #4220
Do you need to build your own lib, which can already be built with CMake, for Android? Can you describe your problem in more detail, please?

[2021-01-13 17:37] paulo-coutinho commented on #4220
Hi,

There is any problem in keep android-ank requirements in android profile?

[code]

It is working here.

There is any problem?

[2021-01-13 17:38] dmn-star commented on #4220
No there is no problems it is the way to go.

[2021-01-13 17:43] andioz commented on #4220
@dmn-star If you want to spend some minutes to see my very simple problem example, please have a look here: https://github.com/andioz/conan-cmake-multiplatform, I try to explain in this issue: https://github.com/conan-io/conan-center-index/issues/4224. Many thanks!

[2021-01-13 17:46] dmn-star commented on #4220
I'll have a look

[2021-01-13 18:07] paulo-coutinho commented on #4220
Hi @andioz,

What your specific problem?

Why are you defining the toolchain for android?

You only need simples things:

[code]

[2021-01-13 18:20] SSE4 commented on #97
I think it's done by #2097

[2021-01-13 18:20] #97 closed

[2021-01-13 18:21] SSE4 commented on #103
I think it's done by #2097

[2021-01-13 18:21] #103 closed

[2021-01-13 18:24] SSE4 commented on #193
as failing code no longer exists, the issue could be closed, now new reports so far

[2021-01-13 18:24] #193 closed

[2021-01-13 18:25] SSE4 commented on #142
fixed by #2097

[2021-01-13 18:25] #142 closed

[2021-01-13 18:25] andioz commented on #4220
I have to explain more. I cannot use `conan build`, because I am using CLion for development, which works directly with CMakeLists.txt. And I use a script too for CI. And as a next next step, I want to include the conan calls into the CMakeLists.txt too, which would give me a single script to use for all steps.

My simple example is a first step for to understand different alternatives without `co

[2021-01-13 18:26] SSE4 commented on #104
numpy component was added in #2097

[2021-01-13 18:26] #104 closed

[2021-01-13 18:27] SSE4 commented on #100
I don't think it's a problem, python builds fine with newer boost

[2021-01-13 18:27] #100 closed

[2021-01-13 18:28] SSE4 commented on #216
log_setup was added in #2097

[2021-01-13 18:28] #216 closed

[2021-01-13 18:31] SSE4 commented on #620
I think we have most of the things mentioned, probably except emsdk

[2021-01-13 18:38] paulo-coutinho commented on #4220
Hi,

I don't know how clion works, but i use QtCreator that use direct CMakeLists.txt too and build without problem.

In QtCreator i can pass the -D definitions:

<img width="1392" alt="Screen Shot 2021-01-13 at 15 37 13" src="https://user-images.githubusercontent.com/395096/104494503-4c270800-55b5-11eb-8985-722abf06cc0a.png">

You can compile from CLion normally?

[2021-01-13 18:39] andioz commented on #4220
Or, lets say I want to use https://github.com/conan-io/cmake-conan fir all build types (Linux, MacOS, Android, iOS).

[2021-01-13 18:43] andioz commented on #4220
Currently I'm using a script to prepare the build directories, after that I can use CLion, yes. I can add -D options too, yes. But I have to know e.g. toolchain file location in advance, which may vary on changing android-ndk versions.

[2021-01-13 19:01] #4099 closed

[2021-01-13 19:01] paulo-coutinho commented on #4220
Hi,

Humm...i want this feature too 👍

In my case i need it for ```build.gradle``` to change NDK version to the same of conan data folder to prevent it download other. The problem is get the absolute folder of the conan data recipe.

Maybe we will need a python script for this that capture it from .conan/data folder.

I make an example:

**get-ndk-path.py**

[code]

and now you can append to your

[2021-01-13 20:36] SylEze commented on #4
Hello, I would like to join the EAP program please.
I want to submit a port of the [Discord Game SDK with a CMake support](https://github.com/SylEze/cmake_discord_game_sdk).

Thank you,
syl

[2021-01-13 20:47] dmn-star commented on #4220
The alternative without `conan install` is VCPKG. :-)

I wouldn't recommend that, you should build your C++ code separate from the dependencies.

1. Build all dependencies on CI

conan install ./dependcies/conanfile.txt --build --profile:build linux_profile --profile:host android_profile

2. Upload the artifacts to Artifactory

https://docs.conan.io/en/latest/uploading_packages/artifactory_ce.html

[2021-01-13 21:01] dmn-star commented on #4220
I have now tried the following

conanfile.txt
[requires]
cmake/3.19.2
ninja/1.10.1
android-ndk/r22

[generators]
virtualenv

Now you could theoretically access all env vars defined in the android-ndk recipe. This works fine for ninja and CMake but not yet for  android-ndk .

As a workaround

/Users/dmn-star/.conan/data/android-ndk/r22/_/_/package/46f53f156846659bf39ad6675fa0ee8156e859fe/ndk-build

[2021-01-13 21:24] dmn-star commented on #4216
Thanks goes to @SSE4 :-)

[2021-01-13 21:29] a4z commented on #4220
the package folder is exportet so ndk-buid is in the path,
why this is not enough for the virtualenv generator ....
but ndk-build allone might not be enough anyway

but there are many ways to build with the ndk,
for cmake you need the toolchain file, other recipes need some adoptions to work, see openssl for example, some just work, see curl
the best way I think to consume it is cmake, and getting

[2021-01-13 21:35] dmn-star commented on #4220
because of :-)

[code]

is only a workaround to get the NDK root (cut ndk-build)

  ANDROID_NDK_HOME = /Users/dmn/.conan/data/android-ndk/r22/_/_/package/46f53f156846659bf39ad6675fa0ee8156e859fe/

[2021-01-13 21:42] a4z commented on #4220
but the the folder is added to PATH before the return ....

do you think it would help to put this `self.env_info.ANDROID_NDK_HOME = self.package_folder` above the return, would that arrive in the virtualenv?

[2021-01-13 21:49] andioz commented on #4220
Wow, many ideas (including using VCPKG :smiley:; but thanks I want to use `conan install, but not `conan build`). Too much for this evening now, I have to sleep over it, it's late here. Will continue tomorrow, thank you guys.

My resumee for today: not easy, obvious solution...

[2021-01-13 21:53] rdeterre opened #4248 "[package] Using cpr/1.5.2 with WinSSL doesn't work"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **cpr/1.5.2**
  * Operating System+version: **Windows 10**
  * Compiler+version: **Visual Studio 16 (2019)**
  * Conan version: **conan 1.32.1**
  * Python version: **Python 3.9.0**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in us

[2021-01-13 22:20] dmn-star commented on #4220
Yes, I think so. I will change the ndk recipe tomorrow and try to build the example only with virt. dev and CMakel.

[2021-01-14 01:16] sourcedelica opened #4250 "[package] lzma_sdk/9.20: VS2019 - 'ml64' is not recognized as an internal or external command"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **lzma_sdk/9.20**
  * Operating System+version: **Windows 10**
  * Compiler+version: **Visual Studio 2019**
  * Conan version: **conan 1.32.0**
  * Python version: **Python 3.7.4**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use

[2021-01-14 01:24] sourcedelica commented on #4250
Nevermind - I needed to start the Native x64 Tools command prompt.

[2021-01-14 01:24] #4250 closed

[2021-01-14 02:38] prince-chrismc commented on #4248
Shucks, and we do code reviews! 👿

💯 a bug! 🐛

Please open a PR:
- there was a new `validate()` that was added to the Conan in v1.32.0... These throws should be moved there (i can give more details in a PR)

[2021-01-14 02:43] prince-chrismc opened #4251 "[conan.io/center] Missing versions and revisions for cpprestsdk"
Trying to sort out which version and revision to select is a nightmare, there is some noticeable ~1 week gap at the moment.

I am sure there's other's which are missing.

## Command line result

[code]

## Web UI result

![image](https://user-images.githubusercontent.com/16867443/104537514-19e2ce00-55e8-11eb-994d-fd87417ef5a7.png)

[2021-01-14 09:51] dmn-star commented on #4220
-- The C compiler identification is Clang 11.0.5
-- The CXX compiler identification is Clang 11.0.5
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /Users/dmn/.conan/data/android-ndk/r22/_/_/package/46f53f156846659bf39ad6675fa0ee8156e859fe/toolchains/llvm/prebuilt/darwin-x86_64/bin/clang - skipped
-- Detecting C compile features
-- Detectin

[2021-01-14 10:05] SSE4 commented on #4220
there is one-liner to get NDK path:
[code]

[2021-01-14 10:14] dmn-star commented on #4220
I would prefer to use virt env gen  #4253

[2021-01-14 10:46] andioz commented on #4220
I'm just playing with this, looks good so far: using `virtualenv` generator, in `CMakeLists.t.xt` **BEFORE** `project()` line, I read the `environment.sh.env` file and set all environment variables manually. Looks like everything is found then, no need to add any `-D` option for CMake...

[code]

Maybe some kind of "workaround" or "hack", but should work, what's your opinion?

[2021-01-14 11:29] andioz commented on #4220
There is one problem to solve, I have to simulate the "alternative value" feature with this variable settings:

[code]

[2021-01-14 11:43] dmn-star commented on #4220
I just used CMake in my terminal to build the ndk example on CLI.

1. https://github.com/conan-io/conan-center-index/issues/4220#issuecomment-759737462
2. source activate.sh
3. Now ANDROID_NDK_ROOT is already set for you. (to check: echo $ANDROID_NDK_ROOT
/Users/dmn-star/.conan/data/android-ndk/r22/_/_/package/46f53f156846659bf39ad6675fa0ee8156e859fe)
4. call cmake https://github.com/conan-io/cona

[2021-01-14 13:55] a4z commented on #4220
I just think, if you need additional libraries then the build requirements, the conanfile.txt approach will not work
because, basically, it is wrong.
All things you have there are build requirements, not requirements.

The problem is pretty much related to that issue https://github.com/conan-io/conan/issues/7892, that is , info about build requirements are not available out side of conan, and cona

[2021-01-14 14:12] rea-yseop commented on #4246
Thanks. So i tried to change to 1.32.1 and it worked the first time. But when i changed the revision again, it stayed the same as before. And I removed the package and used --update. Tried to mess by reinstalling conan and different versions of it but still fails.

[2021-01-14 14:29] marius-meissner commented on #4
I would also like to participate in the EAP program. One of the reasons is to add pigpio.
Thanks!

[2021-01-14 15:03] andioz commented on #4220
I have a working example now, which works with both "old" single profile/android_ndk_installer and new "new" dual profile/android-ndk recipes. I continued the idea above, to put everything into `CMakeLists.txt`. I short, I run now before CMakes `project()` definition:
* find conan executable (for the case it is installed in a local virtual environment only, required for CLion)
* run `conan install

[2021-01-14 15:37] a4z commented on #4220
actually needed is something like that (details like path may vary)
[code]

and conan should be able to generate exactly that for the user
+ path info for other build requirements to find the required binaries

[2021-01-14 19:24] prince-chrismc opened #4261 "[rfc] When should we use validate() and what goes there"
This is something I've seen a lot of recently. We need a consensus and what is the correct procedure.

In the last 24hrs, the usage of this new method, seems to have unearthed a bug where hooks are failing on projects which do no support the platform.

_Originally posted by @SpaceIm in https://github.com/conan-io/conan-center-index/pull/4133#discussion_r557587265_

[2021-01-14 19:45] klimkin opened #4262 "[request] backtrace/1.0"
### Package Details
  * Package Name/Version: **backtrace/1.0**
  * Website: **https://github.com/ianlancetaylor/libbacktrace**
  * Source code: **https://github.com/ianlancetaylor/libbacktrace**

libbacktrace is one of the options for Boost.Stacktrace that seems to work the best.

### Description Of The Library / Tool

A C library that may be linked into a C/C++ program to produce symbolic backtr

[2021-01-14 23:05] tolstikh opened #4265 "[package] opencv/4.5.1: More options"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **zlib/1.2.8**
  * Operating System+version: **Linux Ubuntu 18.04**
  * Compiler+version: **GCC 8**
  * Docker image: **conanio/gcc8**
  * Conan version: **conan 1.18.0**
  * Python version: **Python 3.7.4**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>`

[2021-01-15 06:25] KevDi commented on #4074
@dmn-star I also encountered that issue. But in my log it also says something about  `unable to start ssh-agent service, error :1058`
Here is my logfile:

<details>
  <summary>Click to expand!</summary>

[code]
</details>

[2021-01-15 08:06] SSE4 commented on #4074
for the record, the error is:
[code]
might it be corrupted MSYS package which didn't include /dev/stdin?

[2021-01-15 08:47] KevDi commented on #4074
@SSE4 should i try to reinstall the msys via conan? On the `x86_x64` build it works without any problems

[2021-01-15 10:33] dmn-star commented on #4074
@KevDi can you change the line 567 in configure of libiconv

to

and try again?

[2021-01-15 12:35] madduci commented on #4203
I've also found out that the version 1.75.0 doesn't work on Apple/clang target. See here for the error as example (previously, with Boost 1.73.0 was working perfectly) https://github.com/madduci/openE57/runs/1707161256?check_suite_focus=true

[2021-01-15 13:09] KevDi commented on #4074
Now i get the following error:

<details>
  <summary>Click to expand!</summary>

[code]
</details>

[2021-01-15 17:37] BrianSipos opened #4271 "[package] protobuf/3.13.0: test_package does not use run_environment"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **protobuf/3.13.0**
  * Operating System+version: **Windows 10**
  * Compiler+version: **MSVC 2015**
  * Conan version: **conan 1.32.1**

### Conan profile
[code]

### Steps to reproduce (Include if Applicable)
Run `conan create` with the current main protobuf/3.13.0 and see that during test_package

[2021-01-15 17:38] BSipos-RKF commented on #4271
Wrapping the compile stage like such will fix the problem:
[code]

[2021-01-15 18:25] uilianries commented on #4261
Hooks can be fixed to accept `validate()` method, no problem.

As any other feature, `validate()` was introduced as experimental, so we can change it without breaking anything on a stable version.

CCI considers the latest Conan version available, so there is no problem using `validate()`.

Anyway, we have to fix it, I'm going to send a fix for Hooks.

[2021-01-15 18:31] SpaceIm commented on #4261
I would prefer to keep early checks in `configure()`, basically any checks not based on:
- dependencies final options values
- dependencies final versions

I avoids to launch unecessary dependency graph resolution under a recipe, and side effects.

[2021-01-15 18:36] ericLemanissier commented on #4261
and version of dependencies are basically not available from configure IIUC, so that leaves only dependencies options values

[2021-01-15 18:38] uilianries commented on #4261
`configure()` still generates a invalid package ID, that's why we are moving to `validate()`.

There is a good explanation about the decision on here: https://blog.conan.io/2020/12/14/New-conan-release-1-32.html

[2021-01-15 20:24] prince-chrismc commented on #4261
Correct me if I am wrong but according to the blog we should **always** throw `ConanInvalidConfiguration` from `validate()`?

I guess it's my inexperience but I do not fully understand the motivation and how the `package_id` is currently being affect when we throw from `configure()`.

I see two distinct uses cases...

#### Why is the recommendation to **always** throw `ConanInvalidConfiguration` f

[2021-01-15 20:31] #508 closed

[2021-01-16 12:02] dmn-star opened #4277 "[package] libdeflate/1.7 Failed to cross compile for Android on Windows"
**libdeflate/1.7: Forced build from source
ERROR: msys2/20200517: Invalid configuration: Only Windows supported**

@SpaceIm

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libdeflate/1.7**
  * Operating System+version: **Win 10 Enterprise 20H2**
  * Compiler+version: **clang 9 / NDK 21r**
  * Conan version: **1.32.1**

### Conan profile (output

[2021-01-17 18:33] Mikayex commented on #4
Hi ! I would like join EAP to add Exiv2 recipe.

[2021-01-17 19:46] dmn-star commented on #4066
run into same problem on Win 64.

pacman -Suy failed with invalid signature, corrupt database error.  https://github.com/msys2/MSYS2-packages/issues/2058
see https://github.com/msys2/MSYS2-packages/issues/2058#issuecomment-663814490 https://www.msys2.org/news/#2020-06-29-new-packagers

[2021-01-18 05:45] Rapatas opened #4290 "[request] paho-mqtt-cpp/1.2.0"
### Package Details
  * Package Name/Version: **paho-mqtt-cpp/1.2.0**
  * Changelog: **https://github.com/eclipse/paho.mqtt.cpp/releases/tag/v1.2.0**

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

[2021-01-18 09:43] danimtb commented on #3285
I think we previously bumped into this issue and we created a package ID mode for that https://docs.conan.io/en/latest/reference/conanfile/methods.html#self-info-shared-library-package-id. However, we were not sure of introducing that in ConanCenter as it is not the Conan default and it has not been widely tested.

As you comment, there are some things missing in the current dependency model of Co

[2021-01-18 09:51] SpaceIm commented on #3285
@danimtb Is it not another issue? `self.info.shared_library_package_id()` doesn't address public/private property of dependencies.

There was a question long time ago about `self.info.shared_library_package_id()` https://github.com/conan-io/conan-center-index/issues/1609. I would love to have this feature in CCI.

[2021-01-18 10:01] #171 closed

[2021-01-18 17:02] #4183 closed

[2021-01-18 20:00] tjwrona opened #4297 "[package] boost/1.75.0: Boost fails to build/install with option "i18n_backend=icu""
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **boost/1.75.0**
  * Operating System+version: **Windows 10**
  * Compiler+version: **Visual Studio 16.9.0 2019 Preview 2.0**
  * Conan version: **conan 1.29.2**
  * Python version: **Python 3.7.1**

### Steps to reproduce (Include if Applicable)
Full source of the code I am working on is located her

[2021-01-18 20:27] tjwrona1992 opened #4298 "[question] boost/1.75.0 - is there an easy way to get just one part of Boost without pulling in the whole thing?"
The `boost/1.75/0` package has the following options:

[code]

I know that I can use the `header_only` option to just get the headers and not any of the other libraries... But what if I just want one of the non-header only pieces of boost? (What if I just want "regex" for example?)

Is there an easy way to just enable `regex` without specifying `without_<library>` for all of the other libraries?

[2021-01-18 21:07] paulo-coutinho opened #4300 "[question] Android NDK libraries has a BIG size when use new recipe"
Hi,

I changed in my project ezored (github.com/ezored/ezored) the android NDK profile to use "android-ndk/r21d" instead of "android_ndk_installer".

After this all libraries is bigger and the final library has 3x more size.

Before Change:

![image](https://user-images.githubusercontent.com/395096/104962389-19b34b80-59b7-11eb-8c1a-bd6d3179e185.png)

After Change:

![image](https://user-images.git

[2021-01-18 21:44] ericriff commented on #4298
At some point the guys at bincrafter worked on packaged each library as a single package. I think it is not being maintained anymore.
Regardless you can link your project only against a subset of of boost if you want to (you're still downloading the whole package though)
[code]

[2021-01-18 21:48] tjwrona opened #4301 "[package] icu/68.2 does not compile on Windows with MSVC"
I am trying to use the ICU library to add unicode support to one of my projects but I get an error when conan install tries to compile it.

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **icu/68.2**
  * Operating System+version: **Windows 10**
  * Compiler+version: **Visual Studio 2019 16.9.0 Preview 2**
  * Conan version: **conan 1.29.2**
  * P

[2021-01-18 21:59] tjwrona1992 commented on #4298
Yeah that's what I've been doing. I was just hoping there was a better solution haha. I feel like the package should be designed so you need to explicitly state which pieces you DO want, not the pieces you don't want.

[2021-01-19 00:57] tjwrona1992 commented on #4301
I created a `conanfile.txt` that does nothing more than require `icu/68.2`.

conanfile.txt:
[code]

Then I did a `conan install . --build` to test it out. I don't think it used the same `profile` settings that the `cmake-conan` run used because it failed for a different reason, but this build also failed. I have attached the log (The conan profile settings are listed at the top)

[log.txt](https:/

[2021-01-19 04:38] paulo-coutinho commented on #4300
ezored

[code]

generate file with size:

[code]

ubook

[code]

generate file with size:

[code]

[2021-01-19 05:18] SSE4 commented on #4300
can you compare vanilla NDK r20 and r21? code generation might have changed between major releases

[2021-01-19 05:21] paulo-coutinho commented on #4300
I tried from version 20 to 22 in different projects and i dont see nothing different.

I have a project called ezored (github.com/ezored/ezored) and when i build a simple file in debug mode it add a lof of data that i see with bloaty tool. But this informations was added recently and i don't know what i changed in my cmake that add it to the compiled binaries:

This is from my private project that

[2021-01-19 05:21] SSE4 commented on #4298
while for you it might easier with `with_` style of options, for others, who need an entire boost, it will be harder, as they will need to specify many `with_` options for each of the boost libraries. seems like there is no silver bullet, both solutions have pros and cons.

[2021-01-19 05:25] SSE4 commented on #4300
if NDK itself doesn't introduce that, then it should be some compiler flag.
it would be helpful if you could, for instance, collect two complete build logs, e.g. for OpenSSL, against bincrafters NDK r20 and conan center NDK r21, so we can find if there is a difference in compiler flags.

[2021-01-19 05:41] paulo-coutinho commented on #4300
I have tested with bincrafters NDK thinking that is it, because this problem only happen now. The first thing that i think is the NDK version from bincrafters to the new recipe. So i make a test compiling it with bincrafters because i need upload the new version of our app that use this C++ SDK.

But google reject it because it have 135MB on Release version. When i see the android .so i see that s

[2021-01-19 05:56] paulo-coutinho commented on #4300
Hi,

Only to you understand how long this is strange. I have on S3:

13 jan 2021
![image](https://user-images.githubusercontent.com/395096/104993527-bdc1e480-5a01-11eb-9a4a-57f1b182c1e2.png)

18 jan 2021
![image](https://user-images.githubusercontent.com/395096/104993564-cca89700-5a01-11eb-8ea7-ef7631e05abd.png)

What?

[2021-01-19 06:02] paulo-coutinho commented on #4300
Im checking here the version 2.0.0 tag to get the android profile and is was:

[code]

So that version with 22.2MB already have android NDK 21 (using recipe).

I don't understand what add a lot of debug info into the binaries.

Im breaking my head for days.

[2021-01-19 06:05] paulo-coutinho commented on #4300
Some recipes that im using here:
https://github.com/ezored/ezored/blob/master/files/targets/android_aar/conan/recipe/conanfile.py

[code]

Changed recently?

[2021-01-19 06:07] paulo-coutinho commented on #4300
I checked and nothing was changed since 1 month ago.

[2021-01-19 08:40] SpaceIm commented on #4301
msys2 fails to build (actually it seems to fail to access several urls). There is no information about icu in this log. Try to build icu only.

[2021-01-19 09:43] danimtb commented on #4
Welcome @marius-meissner and @Mikayex! Also, welcome back @fpelliccioni, you already requested access a long time ago https://github.com/conan-io/conan-center-index/issues/4#issuecomment-545616598 😄

[2021-01-19 10:00] dmn-star commented on #4301
You can try the new msys2 version.
https://github.com/conan-io/conan-center-index/pull/4286

[2021-01-19 10:32] ericLemanissier opened #4306 "[package] gtk/3.24.24: Windows support"
### Package and Environment Details
  * Package Name/Version: **gtk/3.24.24**
  * Operating System+version: **Windows**
  * Compiler+version: **msvc**
  * Conan version: **conan 1.32.1**
  * Python version: **Python 3.8.0**

### Steps to reproduce

Currently gtk recipe does not support windows, because of all the following issues:

1.  compilation of first file fails with:
[code]

this is solved b

[2021-01-19 11:45] #4216 closed

[2021-01-19 12:50] danimtb commented on #4221
Updating the status of the PRs grouped by same issues described above:

- Unexpected error without additional info to fix the PR:
  - #1759 🔴: Failed command error, relaunched CI

- Wrong error reporting a dependency not in the repository:
  - #3624 ✔️: It was fixed eventually,  PR was merged, the recipe was eventually uploaded **but there are missing binaries**

- Website not updated with the lat

[2021-01-19 14:18] ytimenkov commented on #4013
@Croydon any thoughts?

@memsharded Is it legal to have same requirement both as build and an ordinary requirement? It seems to not work well with lockfiles: `conan install --lockfile` complains that it can't find the package in build requirements.

[2021-01-19 14:30] uilianries commented on #4013
@ytimenkov Could you please share your profiles and how you are consuming flatc? Are you using CMake, how? Could you share you cmake file for instance?

[2021-01-19 14:47] ytimenkov commented on #4013
profile `gcc` (for target, requirements):
[code]

Profile `default` (build tools):
[code]

flatc was (and still is) a build requirement, while flatbuffers is an ordinary requirement.

I use CMake in toolchain, so `CMakeLists.txt` is fairly simple. See https://github.com/ytimenkov/eems (conanfile is there too).

[2021-01-19 17:00] IvanRibakov commented on #4
Hi, I would like to join EAP. Thanks.

[2021-01-19 17:33] jgsogo commented on #4221
* #3624 was an error on our side. A bug in the library implementation. It is scheduled to fix (the bug via pull-request to the library and the missing package via a CI job).
 * #4076 will be _fixed_ (not a fix, it creates a new revision) by https://github.com/conan-io/conan-center-index/pull/4087
 * #4251 fix scheduled (if there are missing packages in Artifactory frontend). If it is a frontend is

[2021-01-19 18:58] paulo-coutinho commented on #4300
Hi @SSE4,

Log is attached because too long to post.

[log-openssl.txt](https://github.com/conan-io/conan-center-index/files/5837981/log-openssl.txt)

[2021-01-19 20:00] datalogics-robb opened #4312 "[package] catch2/2.13.4: xclang++ can't build"
IBM's latest XLC compiler for AIX version 16.1.0 has support for nearly all of C++11 using the xlclang++ front-end,
but fails to build catch2 as discussed in issue 2154.
https://github.com/catchorg/Catch2/issues/2154

A PR was created to fix this:
https://github.com/catchorg/Catch2/pull/2155

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **catch

[2021-01-19 20:00] mathbunnyru commented on #4076
After forcing rebuild by changing the recipe, the issue seems to be resolved.
It's more like a hotfix, so CI changed are still needed, but I will close the issue, it's about a particular recipe.

[2021-01-19 20:00] #4076 closed

[2021-01-19 20:42] dmn-star commented on #4300
My AAR and .so have exactly the same size with old and new ndk. Just checked in our CI.

[2021-01-19 21:04] dmn-star commented on #4300
<img width="295" alt="android-ndk_openssl" src="https://user-images.githubusercontent.com/52277783/105092814-07faa280-5aa2-11eb-9e81-3062ea79db39.png">

openssl built locally

[2021-01-19 21:05] paulo-coutinho commented on #4300
This is too much crazy.

[2021-01-19 21:08] dmn-star commented on #4300
if everything would always work as expected where would be the fun. :-)

[2021-01-19 21:15] dmn-star commented on #4300
My C++ standard library libc++, your c++_static. :-)

compiler.libcxx=libc++ vs. compiler.libcxx=c++_static

[2021-01-19 21:35] paulo-coutinho commented on #4300
I used libc++ too, but it make no effects:

[code]

It has the same size.

[code]

It only affect final .so file and not dependencies, since my dependencies are not recompiled when change it on profile.

[2021-01-20 00:01] tolstikh opened #4316 "[package] libarchive/3.5.1: Compile error on iOS clang"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libarchive/3.5.1**
  * Operating System+version: **macOS 11**
  * Compiler+version: **apple-clang 12 / XCode 12**
  * Docker image: **N/A**
  * Conan version: **conan 1.32.0**
  * Python version: **Python 3.9.0**

### Conan profile (output of `conan profile show default` or `conan profile show <pro

[2021-01-20 00:07] paulo-coutinho commented on #4300
Hi,

I removed all from my cmakelists and i added it in parts and openssl and other dependencies are both the same size, so it is not the problem.

The big size only happen when i include my custom c++ files, maybe because the files include my other files, but is is simple c++ code.

[code]

There is something when generate my final .so that is bloating my library with debug info but it is release

[2021-01-20 00:39] paulo-coutinho commented on #4300
Hi,

I think that i have a tip.

If i strip release version with "target property LINK_FLAGS_RELEASE -s" i go from 10MB to 500KB.

Maybe striping is not happen.

[2021-01-20 06:10] Enhex commented on #4203
the offending code is this for loop:
https://github.com/conan-io/conan-center-index/blob/fb7071db584ccc4685c753f34683160249b27cd9/recipes/boost/all/conanfile.py#L1291

@madebr @mathbunnyru @axalon900 you guys are shown as the authors of the commit it was added in, perhaps
one of you is familiar with the code and know how to fix it?

[2021-01-20 07:26] SSE4 commented on #4300
just downloaded NDKs `r21d` and `r22` from the official web-sites and made builds:
[code]
seems to be no difference in size.
I'll try to compare vanilla R22 with one from conan center index now

[2021-01-20 07:32] dmn-star commented on #4300
You can try standolone llvm-strip from ndk too. For me performs Gradle the final stripping.

The .so from .../build/intermediates/stripped_native_libs/debug/out/lib/arm64-v8a is only 22M vs. 125M unstripped.

[2021-01-20 07:37] dmn-star commented on #4300
@SSE4 with android-ndk/r22 https://github.com/conan-io/conan-center-index/issues/4300#issuecomment-763140036

In our production build all test were successful, everything is  fine.

[2021-01-20 07:38] SSE4 commented on #4300
checked NDK R22 from CCI as well:
[code]

[2021-01-20 07:40] SSE4 commented on #4300
@paulo-coutinho do you have maybe CFLAGS or something similar set locally or in default profile? or maybe another build requires in your profile?

[2021-01-20 08:14] paulo-coutinho commented on #4300
Hi @SSE4 and thanks for the help.

I solve it near now using strip flag. I think that old NDK installer from bincrafters is striping final library automatically and this behaviour changed on new recipe for NDK because i need strip it.

https://github.com/ezored/ezored/blob/master/files/targets/android_aar/cmake/CMakeLists.txt#L176

I do't know that it is the best way to do it, but after search a l

[2021-01-20 08:46] jgsogo commented on #4251
Hi! I've checked and packages are in `conan-center` (accessible to Conan client). This is GOOD.

Indeed there is missing information on the frontend side (BAD). I'll bring attention to this issue to the team in charge of that development. We could send information about those packages, but, as you said, I'm sure there could be more missing information, so we need to design a process to keep everyt

[2021-01-20 08:57] db4 opened #4318 "[package] xz_utils/5.2.5: Cannot build with Visual Studio Build Tools"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **xz_utils/5.2.5**
  * Operating System+version: **Windows 10**
  * Compiler+version: **Visual Studio Build Tools 2017**
  * Conan version: **conan 1.32.1**

I'm trying to rebuild the package from sources using `conan install xz_utils/5.2.5@ --build xz_utils`. On Visual Studio Professional 2017 it bu

[2021-01-20 09:56] mathbunnyru commented on #4203
Thanks for the tip, @Enhex, that was helpful.
I made the PR, which will resolve the issue.

@Enhex @madduci @TheStormN it would be great, if you could test my patch on your machine, but I think everything should work great.

[2021-01-20 10:24] TheStormN commented on #4203
@mathbunnyru Thank you for the fix! I hope it gets merged soon. However I have a question. For example why the previous version of the Boost package didn't had that issue if the caching was not present there?

[2021-01-20 10:25] madduci commented on #4203
hi, thanks for the fix, I don't have myself a mac system, I was relying on the official recipe of boost on GitHub Actions.

[2021-01-20 10:30] mathbunnyru commented on #4203
The number of libraries increased.
`_all_dependent_modules` in a way that it doesn't reuse previous computations.
So, if you have a new module added and it depends on the previous modules, you will end up reading the file much more times, than you expected.
And I think 1.75 was a version, where a number of file reads was so big, that we started to notice it.

Note: it is possible to implement cach

[2021-01-20 10:32] mathbunnyru commented on #4203
It happens not only on Mac, but on all platforms. So if you have a setup where you can check it, it would be great.

[2021-01-20 10:34] TheStormN commented on #4203
@mathbunnyru I see, thank you for the explanation! After this gets merged I wouldn't mind to also do caching for the other function. :P

[2021-01-20 13:17] jargonzombies opened #4322 "[package] pybind11/2.6.1: Build modules inclusion causes target conflict with Conan 1.33.0"
### Package and Environment Details
  * Package Name/Version: **pybind11/2.6.1**
  * Conan version: **conan 1.33.0**

### Conan profile
[code]

### Steps to reproduce
Use the `cmake_find_package` generator in a recipe with the pybind package and the newest Conan version.

### Logs
CMake Error:
[code]

<details><summary>CMake cause traceback</summary>
Generated Findpybind11.cmake:

[code]

In inclu

[2021-01-20 15:16] gopaldappdev opened #4325 "librdkafka/1.5.2: SASL option as shared library on Ubuntu generates linking error"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **librdkafka/1.5.2**
  * Operating System+version: **Linux Ubuntu 20.04**
  * Compiler+version: **GCC 9**
  * Docker image: **conanio/gcc8**
  * Conan version: **conan 1.31.3**
  * Python version: **Python 3.8.5**

### Conan profile (output of `conan profile show default` or `conan profile show <prof

[2021-01-20 15:21] andioz opened #4326 "[package] ios-cmake/3.1.2: cmake-wrapper wrong parameter handling"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **ios-cmake/3.1.2**
  * Operating System+version: **MacOS Big Sur 11.1**
  * Compiler+version: **clang 12.0.0**
  * Conan version: **conan 1.32.1**
  * Python version: **Python 3.9.1**

### Conan profiles

[code]

### Steps to reproduce

[code]

[code]

As you can see, we get an interesting error mes

[2021-01-20 16:08] danimtb commented on #1609
Sorry, that message is misleading in the documentation. It was added there because we found the issue after checking some cases in Conan Center. We are not that package ID to Conan Center to avoid any other issues that are not the default behavior of Conan. Also, there are other cases that are well covered by the current graph model and that we would address in a future Conan 2.0

[2021-01-20 16:20] danimtb commented on #3285
@SpaceIm yes, it is not the same cases but I was trying to say that the issues exposed are similar in the sense that the current graph model should be improved in order to properly support the cases described here as well as the cases that `shared_library_package_id()` tried to mitigate.

[2021-01-20 16:25] mathbunnyru commented on #4097
@DominikDeak could you please check current master?

https://github.com/conan-io/conan-center-index/pull/3977 should have fixed the issue.

[2021-01-20 16:38] SpaceIm commented on #1609
@danimtb I don't understand why shared_library_package_id() is not added by default in all CCI recipes generating a lib depending on another lib?

Currently, when we want all shared, it downloads shared libs linked to static libs, instead of building from source a shared lib linked to shared libs. There is no `default_package_id_mode`value with this behaviour.

[2021-01-20 20:45] Enhex commented on #4203
tested it and there's no noticeable delay now :+1:

[2021-01-20 20:46] mathbunnyru commented on #4203
Great, thanks for the test 👍

[2021-01-20 21:06] tolstikh commented on #4326
I had the same issue, and had to fork the recipe. It's too bad, because otherwise this package works great.

What I ended up doing was swapping
[code]
with simply
[code]
I guess storing the command you're about to run in a var is useful for debugging, but at the end of the day isn't really necessary.

[2021-01-21 02:43] ntw-au opened #4329 "[package] proj/7.2.1: build with overlapping requirements and build_requirements fails when cross-compiling"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **proj/7.2.1**
  * Operating System+version: **Linux Ubuntu 20.04 LTS x86_64 (WSL2)**
  * Compiler+version: **Build: GCC 9.3 x86_64 (Ubuntu package `gcc`); Host: GCC 9.3 aarch64 (Ubuntu package `gcc-aarch64-linux-gnu`)**
  * Docker image: **N/A**
  * Conan version: **conan 1.32.0**
  * Python version

[2021-01-21 02:52] ntw-au commented on #4329
Workaround:
* Install `sqlite3` system-wide package
* Add the line `self._cmake.definitions["EXE_SQLITE3"] = "/usr/bin/sqlite3"` to `_configure_cmake` in `conanfile.py`
* Rebuild the package

This diverts the `sqlite3` binary loaded from `build_requirements` and uses the system binary instead.

[2021-01-21 03:37] DominikDeak commented on #4097
Unfortunately, the issue is still not resolved on my end (see log snippets below). The only way I can build boost is by explicitly setting `-s compiler.cppstd=14` switch (as mentioned above by @dmn-star), OR disabling the affected libraries using options `boost:without_fiber`, `boost:without_json`, and `boost:without_nowide`. Perhaps I'm doing something wrong here?

Ran the commands:

[code]

Resu

[2021-01-21 06:41] #3760 closed

[2021-01-21 07:50] dmn-star commented on #4097
Setting cppstd is the only correct way when building for macOS (for any libs).  I have added compiler.cppstd=14 to my default profiles. CCI uses C++03 default mode to build the libs but recent Xcode C++14.

https://github.com/conan-io/conan/issues/8304
https://github.com/conan-io/conan-center-index/pull/3977#issuecomment-763606529

[2021-01-21 09:10] SpaceIm commented on #4329
It's an issue in conan dependency graph resolution. I hope conan v2 will improve this situation. There should be a strong separation between `build_requirements` and `requirements`.

It's also one of the drawbacks of CCI policy to not create 2 distincts recipes for the libs and executables (the other drawback is when the lib is shared, executable linked to it and is used as a build requirement on

[2021-01-21 09:25] dmn-star commented on #4028
1.33 is out and I can build zlib now.

Compressed size is: 21
Compressed string is: Conan Package Manager
Compressed size is: 22
Compressed string is: x┌s╬¤K╠HL╬NLOU­M╠♥RE
ZLIB VERSION: 1.2.11

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)
[code]

### Logs (Include/Attach if Applicable)
<details><summary>Click to expand log

[2021-01-21 11:37] andioz commented on #4326
@tolstikh You are right, this is enough to change to make it run. I'll create a PR for this.

[2021-01-21 13:01] #4203 closed

[2021-01-21 19:10] redradist commented on #4049
@SpaceIm @madebr Can somebody check it, and also is there a way to add external recipe from other github repository like in my case ?

[2021-01-21 20:43] egendron93 opened #4331 "[package] ms-gsl/2.1.0: Same package id regardless of options for versions less than 3.0.0"
This issue is due to the package id function using the ```self.info.header_only()``` method which clears the options, settings and the requires. The ```on_contract_violation``` option is used to update the cpp info components definitions for the package.

When specifying the ```on_contract_violation``` option, for ms-gsl package versions less than 3.0.0, the package id remains the same no matter t

[2021-01-21 21:29] mathbunnyru commented on #4097
Oh, I see, `conan install` doesn't work for me too (even with `--update`).
But `conan create` works fine, because after the PR was merged, some libs are not built be default on apple-clang.

That's why the default will work in these cases, when the CCI artifactory gets a new revision.

[2021-01-21 22:52] codewithpassion commented on #1316
I've got the same error as @Minimonium  and @sujankota.
`BOOST_ROOT must be set`

@madebr There are no pre-built packages available for ARM based linux.

[2021-01-21 22:59] ericriff opened #4333 "[Eigen] Licensing issues"
Eigen recipe advertises itself as being `MPL-2.0` licenced.
https://github.com/conan-io/conan-center-index/blob/b19b07beef5915423f6571db1045fb0bd7bab92f/recipes/eigen/all/conanfile.py#L11

This is only true if `EIGEN_MPL2_ONLY` is defined. Otherwise it includes code licenced under `LGPL`
http://eigen.tuxfamily.org/index.php?title=Main_Page (See Licence entry)

We could enforce the licence by addin

[2021-01-21 23:24] tolstikh commented on #4326
@andioz thanks for going ahead with the PR

[2021-01-22 00:22] madebr opened #4334 "[package] cmake does not build without... cmake"
While trying #2463 on my raspi2,
I added `cmake/3.19.2` to the build requirements of the default recipe.
Building it fails with the following error because I didn't have cmake installed on my system.
Of course `apt-get install cmake` works, but that might not always be the case.
I think the `cmake` conan package should be the only package that can expect `cmake` to not be present on the system.

#

[2021-01-22 00:26] madebr commented on #4318
Feel free to open a pr removing the option.
Your suggested fix looks fine to me.

[2021-01-22 00:29] madebr commented on #4306
I think this is a bug/(missing) configuration option of meson.
MSVC probably allows a maximum sized string buffer for parsing the arguments.
Googling for LNK1170 shows me that the command line files (.rsp files?) can be split in multiple lines.

[2021-01-22 00:43] intelligide commented on #4333
Yes and (probably) no. I don't think it is possible to change the value of the `license` field based on an option (however, the `license` field can be a list of string in case of multiple licenses). But it's possible to define `EIGEN_MPL2_ONLY` with an option.

[2021-01-22 00:47] madebr commented on #4261
@uilianries

[`BINARY_INVALID`](https://docs.conan.io/en/latest/search.html?q=BINARY_INVALID&check_keywords=yes&area=default) and [`INVALID`](https://docs.conan.io/en/latest/search.html?q=INVALID&check_keywords=yes&area=default) are currently not well documented.

Where should the following checks be placed?

1. Invalid os:
[code]
2. Invalid option:
[code]
3. Invalid option of dependency:
[code]

[2021-01-22 00:48] SpaceIm commented on #4331
What do you mean? You can still specify on_contract_violation from a consuming project. I guess I miss something.

As soon as an option doesn't change package content (binaries, headers), it should be removed from package_id.

[2021-01-22 00:53] Croydon commented on #4334
Yes, that is more a missing feature than a bug.

I think the way to go is to add an option `bootstrap` and if it is `True` then use the bootstrapping possibility with `make`. If bootstrap is `False` assume that a CMake version is around to build CMake.

What I think should be avoided is dynamically flipping `bootstrap` on/off because this can lead to unwanted surprises and reproducibility issues.

[2021-01-22 00:55] Croydon commented on #4334
If someone wants to pick this up I would appreciate it, if not I will eventually come back to this as it ties in with my work at https://github.com/conan-io/conan-docker-tools/pull/241 and a few other things

[2021-01-22 01:01] madebr commented on #4334
How about the following?
[code]

The `bootstrap` option is set automatically by default, but can be forced to a value.

[2021-01-22 05:37] ericLemanissier commented on #4306
Yes, also meson does not de-duplicate the arguments for visual studio, contrary to other compilers

[2021-01-22 06:31] dfontenot commented on #4
Hello, I would like to join the EAP.

[2021-01-22 07:10] superschnecke opened #4338 "[package] boost/1.75.0: Build fails on windows"
Build of the latest boost package fails on windows using visual studio 19 with the following config:

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: boost/1.75.0
  * Operating System+version: Windows 10
  * Compiler+version: Visual studio 19/14.2
  * Docker image:
  * Conan version: conan 1.33.0
  * Python version: Python 3.9

### Conan profile (

[2021-01-22 08:06] SSE4 commented on #4261
there are different cases for invalid options, e.g.:
- option conflicts with another option
- option is invalid for the given settings
- option is not implemented (e.g. missing dep in conan center)

but, perhaps, they all are equivalent in terms of the implementation. in any case, the option could be overridden, e.g.:
- passing option value in command line
- passing option value in profile
- overr

[2021-01-22 08:34] #4326 closed

[2021-01-22 08:37] DominikDeak opened #4339 "[package] boost/1.75.0: Undefined symbols for boost_fiber with option boost:shared=True"
When I try building shared libraries for `boost` via the Xcode toolchain, I get undefined symbols errors for `boost_fiber` library. See more verbose log snippets at the bottom of this post.

[code]

### Package and Environment Details
  * Package Name/Version: **boost/1.75.0**
  * Operating System+version: **macOS Catalina 10.15.4 (19E287)**
  * Compiler+version: **Xcode Version 12.3 (12C33)**
  *

[2021-01-22 09:24] SpaceIm commented on #1347
I've a recipe for `1.2.154.0` which seems to work (except with MinGW): https://github.com/SpaceIm/conan-vulkan-validationlayers

[2021-01-22 10:26] TheStormN commented on #4203
Does someone know when the fix will show up in Conan repo?

[2021-01-22 11:06] andioz commented on #4203
Normally it should be available after some hours, at least on next day. Don't forget to use `--update` flag with `conan install`, or remove `~/.conan/data/boost/1.75.0` to be sure.

[2021-01-22 12:24] TheStormN commented on #4203
I've deleted all the cache but still no luck. I also verified the revision here https://conan.io/center/boost and it's still only one. From my observations a new revision should come up when the new recipe is published.

[2021-01-22 13:42] andioz commented on #4203
Yeah, sometimes it takes more time as expected, depending on CD system overload... Especially `boost` is a huge library with many versions supported, and for 3 platforms with different compilers... Pre-building takes time.

If you are in a hurry, make a local copy of the recipes repo and install it from local filesystem, should work the same way.

[2021-01-22 14:42] ericriff commented on #4333
In that case we can make
[code]
If the comunity is OK with this I'll open a PR.

[2021-01-22 14:47] intelligide commented on #4333
Looks good to me. (use lowercase option like `mpl2_only`)

[2021-01-22 14:59] ericriff commented on #4333
I know that the convention is lowercase for options, but I think MPL being an acronym should be capitalized.

[2021-01-22 16:02] Minimonium commented on #1316
@codewithpassion Do you build on the native Raspberry Pi4 system? My issue was related to the compatibility breakage in the glibc which was fixed in the new version of Qemu.

[2021-01-22 16:21] egendron93 commented on #4331
Although the option does not change the ms-gsl package contents, the option will change a consuming packages contents. This leads me to believe it would be beneficial to reflect that within the ms-gsl package id and not pass off the burden to ms-gsl consuming packages. I think the[ conan-io docs issue](https://github.com/conan-io/docs/issues/1351) describes the problem better than I can.

[2021-01-22 17:43] tjwrona1992 commented on #4298
I'd argue that most users are expecting the wrong behavior. Including the world when you don't need it is quite inefficient and is not the C++ way. 😉

Even something like adding `with_` options where if any `with_` options were provided it would automatically set all other `without_` items to `True` would suffice. It just seems WAY too verbose to require the user to specify every single package th

[2021-01-22 17:48] ericriff commented on #4298
I also agree. Most of the time you only need only a very small subset of boost.

[2021-01-22 19:30] #4333 closed

[2021-01-22 21:31] #4000 closed

[2021-01-23 13:18] Neargye opened #4346 "[request] nameof/0.10.0"
### Package Details
  * Package nameof/0.10.0
  * Changelog: https://github.com/Neargye/nameof/releases/tag/v0.10.0

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

[2021-01-23 19:31] JonasProgrammer commented on #4
Hi, I would also like to join the EAP. I'm trying to get elsid/resource_pool and yandex/ozo in a state so they can be included.

[2021-01-23 20:15] dmn-star commented on #4339
try to patch /Users/xxxx/.conan/data/boost/1.75.0/_/_/source/source_subfolder/libs/fiber/build/Jamfile.v2

add <link>shared:<library>.//boost_fiber

[code]

[2021-01-24 04:30] #4346 closed

[2021-01-24 16:09] plopp commented on #4
Hi! I would like to join EAP to add Avro-C++!

[2021-01-24 23:58] codewithpassion commented on #1316
@Minimonium No, I'm building inside a Docker environment using Qemu.
Good to hear that it's fixed in a newer version. I will give this a try and let you know the result.

[2021-01-25 01:39] codewithpassion commented on #1316
@Minimonium I've updated to qemu-arm-static version 5.2 and b2 is still failing to find "boost-build.jam.
This is a docker build environment for a ARM based debian image for a Raspberry Pi

[2021-01-25 10:14] fakedrake opened #4351 "[request] taocpp-json/1.0.0-beta.12"
### Package Details
  * Package Name/Version: **taocpp-json/1.0.0-beta.12**
  * Changelog: **https://github.com/taocpp/json/releases/tag/1.0.0-beta.12**

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

This conanfile seems to work (please don't trust me implicitly)

[code]

[2021-01-25 10:49] nminkov commented on #950
The problem persists. Any solution insight?

[2021-01-25 11:04] Minimonium commented on #1316
The original issue is that if you have a x64 host with a x32 guest - you'll
get an overflow on some system calls, because Qemu propagates them through
to the host system. In Boost case in particular it breaks build script
globbing, but it'd be an issue on literally any project.
It's interesting that the latest version doesn't solve the problem, was not
aware of that.
I suggest to try an old workar

[2021-01-25 13:37] SpaceIm opened #4353 "[request] moltenvk/1.1.1"
### Package Details
  * Package Name/Version: **moltenvk/1.1.1**
  * Website: **https://github.com/KhronosGroup/MoltenVK**
  * Source code: **https://github.com/KhronosGroup/MoltenVK**

### Description Of The Library / Tool

MoltenVK is a Vulkan Portability implementation. It layers a subset of the high-performance, industry-standard Vulkan graphics and compute API over Apple's Metal graphics fram

[2021-01-25 13:53] sebastian-bergt commented on #4
Hi,  I would like to join the EAP. Thank you!

[2021-01-25 14:10] sturmf opened #4355 "[package] msys2/20200517: build fails, with lots of 404 errors"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **msys2/20200517**
  * Operating System+version: **Windows 10**
  * Compiler+version: **Visual Studio 2019 (should not matter for this)**
  * Conan version: **conan 1.33.0**
  * Python version: **Bundle with Conan installer, Python 3.6?**

### Conan profile (output of `conan profile show default` or

[2021-01-25 14:52] #3948 closed

[2021-01-25 15:09] dmn-star commented on #4355
Will hopefully be fixed by #4286  But it is not so easy with CCI. You can use my branch locally until the PR is merged.

[2021-01-25 16:00] sourcedelica commented on #4355
I had the same problem.  I thought it was a proxy/firewall problem on my end at the time.

[2021-01-25 16:29] sturmf commented on #4355
@dmn-star ok thanks, I hope that gets merged soon since by now it even blocks building boost through the new libiconv dependency that pulls in msys2 :-(

Once it works with internet access again I will try to get it working offline. Normally this is as easy as downloading the source tarball and changing the URL in conandata.yml. But not in this case of course. There seem to be ways do deal with it

[2021-01-25 17:47] andioz commented on #3992
@madebr
I tried the newest package(s) on Mac for iOS, but still get errors. I add the output of the second run, it's shorter. I want to build boost with default settings, I think it should work.

Extra note: fir Android, I get a similar error but only for `boost_stacktrace_addr2line`.

[code]

[2021-01-26 01:12] #4248 closed

[2021-01-26 07:05] xguerin commented on #4
Hello, I would like to request access to the EAP. Thanks !

[2021-01-26 08:03] NiklasJonsson commented on #3928
While looking at creating an MR on the bullet repo I noticed that the BT_PROFILE macro doesn't seem to resolve to any real function call by default. If I follow the call chain, it's `BT_PROFILE -> CProfileSample -> btEnterProfileZone ->bts_enterFunc -> btEnterProfileZoneDefault`, it resolves to an empty function regardless of if BT_NO_PROFILE is set. It seems like it is not supported after all.

J

[2021-01-26 08:03] #3928 closed

[2021-01-26 08:28] Croydon commented on #1867
We now have a gfortan package which re-packages official binaries for Windows, Linux and macOS. Better than nothing

https://github.com/conan-io/conan-center-index/pull/4249

[2021-01-26 11:01] #4318 closed

[2021-01-26 12:47] planetmarshall commented on #4151
I'm still seeing this issue in a local build:

[code]

[code]

While I could just delete the local data folder entirely, I'd like to know what's causing the issue otherwise I can't really trust that packages are being properly updated. I'm not seeing this issue on CI where everything is downloaded from scratch - is there some additional caching behaviour going on?

[2021-01-26 13:54] Croydon opened #4364 "[request] dav1d - AV1 decoder"
### Package Details
  * Package Name/Version: **dav1d/latest**
  * Website: **https://github.com/videolan/dav1d**
  * Source code: https://github.com/videolan/dav1d - https://code.videolan.org/videolan/dav1d

### Description Of The Library / Tool

AV1 is an open codec from the [Alliance For Open Media](https://aomedia.org)

[2021-01-26 14:13] claremacrae opened #4365 "[request] cpputest/4.0"
### Package Details
  * Package Name/Version: **cpputest/4.0**
  * Website: **http://cpputest.github.io**
  * Source code: **https://github.com/cpputest/cpputest**

### Description Of The Library / Tool

This is a C and C++ unit testing framework.

It's already listed as desirable in #621 - which says it had 710 stars, although it's up to 865 stars now.

[2021-01-26 14:14] claremacrae commented on #4365
I've created this as I'm having a go at implementing it.

[2021-01-26 14:15] claremacrae commented on #4365
See also https://github.com/cpputest/conan-cpputest/issues/21 - where I initially explored whether there was already Conan support fo cpputest.

[2021-01-26 15:08] claremacrae opened #4367 "[service] Request table of contents in markdown docs in conan-center-index"
When looking at long pages like [how_to_add_packages.md](https://github.com/conan-io/conan-center-index/blob/master/docs/how_to_add_packages.md) it's currently necessary to scroll down the entire page, looking at headings, to establish whether the content one is looking for is present.

It would be really nice to be able to glance at a table of contents to quickly the structure and content of any

[2021-01-26 15:10] claremacrae commented on #4367
If acceptable, I'm happy to add a pull-request to automate this, on every push to the main branch, using [mdsnippets](https://github.com/simonCropp/MarkdownSnippets)...

[2021-01-26 15:12] claremacrae commented on #4367
Other good example pages:

https://github.com/conan-io/conan-center-index/blob/master/docs/faqs.md
https://github.com/conan-io/conan-center-index/blob/master/docs/error_knowledge_base.md

[2021-01-26 15:34] memsharded commented on #4367
I think this would be a nice feature.

[2021-01-26 15:34] claremacrae commented on #4367
Thanks - I've implemented it for several projects - it would be really easy for me to do...

[2021-01-26 15:34] claremacrae commented on #4367
And I'd love to help :-)

[2021-01-26 15:56] 3ddiddE opened #4407 "[pybind11] Error with duplicated pybind11::pybind11 target (Conan 1.33)"
I am using the cmake_find_package method to include conan installed packages.
One of the package is pybind11, Now I immediately get an error after calling find_package(pybind11 REQUIRED)

||   another target with the same name already exists.
|| Call Stack (most recent call first):
/home/x/.conan/data/pybind11/2.6.1/_/_/package/5ab84d6acfe1f23c4fae0ab88f26e3a396351ac9/lib/cmake/pybind11/pybind11In

[2021-01-26 15:59] danimtb commented on #4367
agree this could be very convenient

[2021-01-26 16:01] claremacrae commented on #4367
One issue to be aware of is the special way that anchors are provided in the knowledge-base page... to make sure the links in to that from the hooks are kept working...

[2021-01-26 16:13] prince-chrismc commented on #3171
Fixed by #3711

https://conan.io/center/folly?os=Windows&tab=configuration

//cc @SSE4

[2021-01-26 16:42] matheusgomes28 opened #4369 "[package] glfw/3.3.2: cannot specify link libraries for target "glfw""
GLFW fails to build on my pipeline, failing at the CMake configure stage with the following error:

[code]
It is interesting because the very same project pulls `glfw` fine with `conan`. So when I build this project on my local machines (Windows and Ubuntu, both have the same version of `conan` as specified below), there are no issues.

Is my runner missing something? As far as I know, I have inst

[2021-01-26 17:30] SpaceIm commented on #4369
Interesting.

I can't reproduce this error with `cmake`, `cmake_find_package` or `cmake_find_package_multi` on Windows with Visual Studio.

Which conan generators? Could your `CMakeLists.txt`?

[2021-01-26 18:39] matheusgomes28 commented on #4369
I cannot reproduce it on my local machines either. However, when `ssh`ing into my [pipeline's docker image](https://hub.docker.com/layers/134542567/mattgomes28/wavytune/comp86_64v1/images/sha256-a4b85d9df3eace48fa37f073444374279a0f3348a8bbc2c4b13b3f58d1ff48e8?context=explore), then I can reproduce it when cloning and trying to build my personal project.

The generator I am using is `cmake_find_pac

[2021-01-26 18:48] matheusgomes28 commented on #4369
Digging a little deeper, the contents of the CMake file where it's failing is copied below.

[code]
This implies that the target `glfw` is not being set by the `add_library(glfw INTEFACE IMPORTED)` line. Perhaps it's expecting the target to be set somewhere else? Is there a system dependency it's looking for? Maybe my runner is missing something.

[2021-01-26 18:59] SpaceIm commented on #4369
This is a recent addition to glfw recipe, allowing to provide official CMake importe target for glfw (which is not `glfw::glfw` but `glfw` without namespace). I don't understand why it fails in this specific environment.

[2021-01-26 19:12] matheusgomes28 commented on #4369
I saw the addition and I was also trying to understand why it was failing only in my basic runner. I can see that my runner doesn't have any system `glfw` targets interfering.

If I understand well, lines 2 & 3 of that `cmake` file are aliasing `glfw::glfw` to `glfw`. Perhaps using the `add_library(<name> ALIAS <target>)` version would help.

I'll try this and let you know what happens.

[2021-01-26 19:35] matheusgomes28 commented on #4369
Did not realise you cannot alias an imported target with CMake. Another great random restriction by CMake :smile:

[2021-01-26 20:58] matheusgomes28 commented on #4369
@SpaceIm I think I figured out what the issue is. It is not a bug on the recipe or the CMake files you created/edited.

### Aliases Restrictions On Imported Targets

It turns out that CMake didn't allow aliases to be created for imported targets until recently. Googling "cmake alias imported targets"  will bring up quite a few forum querries with the same issue. Perhaps, under the hood the `add_li

[2021-01-26 20:58] #4369 closed

[2021-01-26 21:11] SpaceIm commented on #4369
Does it work with `set_property(TARGET glfw PROPERTY INTERFACE_LINK_LIBRARIES glfw::glfw)` instead of `target_link_libraries(glfw INTERFACE glfw::glfw)`?

[2021-01-26 21:26] claremacrae commented on #4367
I closed that PR due to bot policies... will create two separate ones instead....

[2021-01-26 21:29] matheusgomes28 commented on #4369
@SpaceIm  it does indeed. Tried with CMake 3.10 where the alias is not being allowed. Good thinking, you might want to push that.

[2021-01-26 21:50] SpaceIm commented on #4369
Great ! I've opened https://github.com/conan-io/conan-center-index/pull/4374

[2021-01-26 22:00] claremacrae commented on #4367
Based on bot feedback on the first PR, I created 3 separate ones:

- https://github.com/conan-io/conan-center-index/pull/4372
- https://github.com/conan-io/conan-center-index/pull/4373
- https://github.com/conan-io/conan-center-index/pull/4375

Please can I ask someone here to look at the builds of those issues - I suspect I'm touching directories that users are not expected to touch - I've done t

[2021-01-27 03:49] timblechmann commented on #4093
having control over symbol visibility in static libraries is something that might be worth rethinking in general: when linking a static library into a shared library, one typically wants to compile the static library with hidden visibility to avoid static lib symbols to be exported from the shared lib

[2021-01-27 06:30] sturmf opened #4379 "[package] m4/1.4.18: test_package requires different msys2 than m4 itself"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **m4/1.4.18**
  * Operating System+version: **Winows 10**
  * Compiler+version: **Visual Studio 2017**
  * Conan version: **conan 1.30.1**
  * Python version: **Python 3.8**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)
[code

[2021-01-27 10:18] SpaceIm commented on #4369
@matheusgomes28 Could you confirm that the latest revision of glfw recipe in conan-center fixed your issue?

[2021-01-27 10:41] matheusgomes28 commented on #4369
@SpaceIm It does. I tried it again this morning with the latest revision of the recipe and it worked like a charm. Just to be clear, I linked both `glfw::glfw` and `glfw` libraries, and my project built on CMake 3.10 just fine. Either way, I have also updated my runner's CMake because why not.

If anyone was having this issue before, it should have now disappeared.

[2021-01-27 13:09] Dobiasd commented on #4
Hi, in order to be able to see why the build of [my PR](https://github.com/conan-io/conan-center-index/pull/3993) is failing, I would like to join the EAP too. Thanks. :slightly_smiling_face:

[2021-01-27 14:01] #4379 closed

[2021-01-27 14:28] Nekto89 opened #4386 "[request] minizip-ng/3.0.0"
### Package Details
  * Package Name/Version: **minizip-ng/3.0.0**
  * Website: **https://github.com/zlib-ng/minizip-ng**
  * Source code: **https://github.com/zlib-ng/minizip-ng**

### Description Of The Library / Tool
Fork of minizip (cross-platform zip manipulation library written in C) which already has recipe here with bugfixes and new features.

It has 738 stars currently.

### Additional in

[2021-01-27 18:13] axalon900 commented on #4298
This is probably something for the Conan folks, but couldn't this be solved with support for wildcards within option names? In other words like you can do on the left side of the colon with cross-library options. For example:
[code]

[2021-01-27 18:17] axalon900 commented on #4298
Due to a lack of this feature, I ended up making a script that emulates the opt-in behavior by iterating over all the `without_*` options and setting them to `False` unless otherwise specified by some input. In my case I'm using the `cmake-conan` integration like a heathen and do it within CMake but you can just as well do that in your `conanfile.py`. It is susceptible to breaking changes when the

[2021-01-27 18:36] akshit-sharma opened #4388 "[request] restc-cpp/0.10.0"
### Package Details
  * Package Name/Version: **restc-cpp/0.10.0**
  * Website: **https://github.com/jgaa/restc-cpp**
  * Source code: **https://github.com/jgaa/restc-cpp**
  * Link to existing recipe: **https://github.com/rhard/restc-cpp-conan**

### Description Of The Library / Tool
The magic that takes the pain out of accessing JSON API's from C++

What it does:
-   It formulates a HTTP request

[2021-01-27 19:23] danimtb commented on #4
Nice to have you in conan-center-index @n-stone, @IvanRibakov, @dfontenot, @JonasProgrammer, @plopp, @sebastian-bergt, @xguerin and @Dobiasd. Thanks a lot for joining and looking forward to your contributions!

[2021-01-27 23:14] SpaceIm commented on #4325
@gopaldappdev I can't rembember, does it work if you add `-o pkgconf:shared=False` (all requirements and build requirmeents shared, except `pkgconfig`)?

[2021-01-27 23:42] SpaceIm commented on #4325
I think I understand what's wrong. `target_link_directories(rdkafka PRIVATE ${SASL__LIBRARY_DIRS})` is missing in underlying build files of rdkafka...

[2021-01-28 01:47] akshit-sharma opened #4396 "[request] lest/1.35.1"
### Package Details
  * Package Name/Version: **lest/1.35.1**
  * Website: **https://github.com/martinmoene/lest**
  * Source code: **https://github.com/martinmoene/lest**
  * Conan recipe: **https://github.com/martinmoene/lest-conan-package**

### Description Of The Library / Tool
A modern, C++11-native, single-file header-only, tiny framework for unit-tests, TDD, and BDD (includes C++98 variant)

[2021-01-28 08:23] gikari opened #4397 "[request] KF5Config/5.78"
### Package Details
  * Package Name/Version: **KF5Config/5.78**
  * Website: **https://develop.kde.org/products/frameworks/**
  * Source code: **https://invent.kde.org/frameworks/kconfig**

### Description Of The Library / Tool

Persistent platform-independent application settings.

KConfig provides an advanced configuration system. It is made of two parts: KConfigCore and KConfigGui. KConfigCore

[2021-01-28 12:10] ChGen commented on #4
Hello, I'd like to add something to Conan too. Thanks!

[2021-01-28 14:54] jayjupdhig commented on #3760
Similar problem here:

https://github.com/eclipse/paho.mqtt.c/issues/1059

[2021-01-28 16:38] jmarrec opened #4400 "[package] readline/8.0: Provide support for Visual Studio"
Readline does not support MSVC https://github.com/conan-io/conan-center-index/blob/8c69557071cf79e94a6807c7b44a101c843da6ea/recipes/readline/all/conanfile.py#L47-L48

`vcpkg` on the other hand provides readline (granted, it's an old one). I tracked down the vpckg PR that added it: https://github.com/microsoft/vcpkg/pull/3504/files, which led me to the repo that enabled MSVC support for readline 5,

[2021-01-28 20:23] Jonathan-Eid commented on #4
Hey I would like to enter this repo: https://github.com/zapproject/zpp in the Conan Center EAP

It will be an API Library that allows C++ developers to interact with the Zap Smart Contracts on the Ethereum Blockchain

[2021-01-29 05:31] #3956 closed

[2021-01-29 05:31] #1346 closed

[2021-01-29 06:01] #3723 closed

[2021-01-29 06:01] #4325 closed

[2021-01-29 06:37] ericLemanissier commented on #1833
qt 5.15.2 is now on conan-center: https://conan.io/center/qt

[2021-01-29 10:37] SpaceIm commented on #4407
Yes last pybind11 modifications were too fragile: https://github.com/conan-io/conan-center-index/pull/3305#discussion_r512819055

[2021-01-29 10:59] SpaceIm commented on #4049
You mean a submodule? Doesn't seem to be used during build. Anyway in CCI we download archive.

[2021-01-29 14:02] prince-chrismc opened #4414 "[service] Boost PR are never marked stale"
It seems the amount of Boost PR is causing some conflicts each time one gets merged https://github.com/conan-io/conan-center-index/commit/a9e2407fbcb374e22c6575b04057fcc80d1ad467. This has the side effect of force an update in the GItHub API and there can never be marked stale.

All of them got update when the commit above was merged.
![image](https://user-images.githubusercontent.com/16867443/106

[2021-01-29 15:11] mathbunnyru opened #4415 "[package] mongo-cxx-driver/3.6.2: this version appears twice"
@qchateau created a PR, which adds version 3.6.2 to the list of versions.

His commit was originally created 27 days ago (2 Jan 2021):
https://github.com/conan-io/conan-center-index/pull/4403/commits/32c42a596149bc72855e5175ec1d13f1afbe3776

The PR was created 29 Jan:
https://github.com/conan-io/conan-center-index/pull/4403

But I have already added version 3.6.2 before PR was accepted on 18 Jan:

[2021-01-29 15:12] mathbunnyru commented on #4415
@qchateau I think it's your bot is misbehaving, because it allowed you to create the PR for the recipe updated a while ago.

[2021-01-29 15:13] mathbunnyru commented on #4415
Right now version 3.6.2 appears twice:
https://github.com/conan-io/conan-center-index/blob/master/recipes/mongo-cxx-driver/config.yml

[2021-01-29 16:24] madebr commented on #1316
Using the following profile, I was able to build boost on a raspberry pi 2:
[code]

[2021-01-29 17:25] ericLemanissier opened #4416 "[question] Modularized packages"
How should modularized packages be handled on Conan-Center-Index ? The situation I have in mind is when a set of packages share a significant part (think about modularized boost or modularized qt for example).
I can see the following possibility:
- make the recipes completely independent by copy/pasting most of the content. In other works, keep a 1 to 1 relationship between recipes and packages. T

[2021-01-29 17:41] ericLemanissier commented on #4416
pinging @grafikrobot  @Manu343726 and @Croydon who worked on modularized boost and llvm (using python_requires I think)

[2021-01-29 23:40] prince-chrismc commented on #4400
I like that vcpkg just made a new package for the fork with windows support.

I think this is a Library Request 👍

[2021-01-30 11:15] SpaceIm opened #4419 "[package] meson/all: silent hooks"
When meson is in `build_requirements()` of a recipe, hooks always report:

[code]

Sometimes CI incorrectly reports these hooks as an error in PRs.

[2021-01-30 12:16] qchateau commented on #4415
Hey, I tried to find out what happened. Thankfully CCB keeps [the history of all its statuses](https://github.com/qchateau/conan-center-bot/commits/status/prod), but it seems that between the 18th of January and the 29th of January, the bot was correctly reporting the latest version to be "3.6.2", and did not link anymore to the branch it built on the 2nd of January.

When I opened #4403, I did it

[2021-01-30 17:51] andioz commented on #4016
I played with this for a few days now. Not so easy, because:
* OpenCV typically uses it's own copy of `protobuf`, which is an older version. I'm sure we don't want to use this.
* If we want to use an external (and newer)  `protobuf` library, we need to recompile the `proto` files
* Therefore, we need a `protoc` compiler, for native build this if fine, but not for cross building. Currently we have

[2021-01-30 18:27] Croydon commented on #4016
There is no protobuf-compiler package and never will be because protoc is part of the protobuf package. IIRC you can also add the same requirement as a regular dependency and as a build_requirement at the same time (disclaimer: I have never done that)

To make it easier to provide feedback I would suggest that you open a pull request as a draft

[2021-01-30 18:32] andioz commented on #4016
I'm sure I tried this first, but if I remember right the build requirement is not used in this case.

[2021-01-30 20:23] #3361 closed

[2021-01-30 21:06] ihsandemir commented on #4
Hello, I would to add our open source [Hazelcast C++ client](https://github.com/hazelcast/hazelcast-cpp-client) project for in-memory database Hazelcast. Can you please give me access?

[2021-01-30 21:17] mathbunnyru commented on #4415
My suggestion - maybe it would be helpful to delete update branches to make sure no one else makes a mistake like that.

[2021-01-30 21:40] qchateau commented on #4415
It's a technical solution which also brings its fair share of corner cases. And to be completely honest, I don't have much free time to allocate to CCB at the moment.
On the other hand I think there is no reason for this to happen again as it is the combination of singular events:
- There was no merge conflict
- The bot had removed the merge "quick link" but we kept it in the comments of an issue

[2021-01-30 22:02] mkviatkovskii opened #4425 "[package] cairo/1.17.4: cannot build on Windows with Visual Studio with 'cairo:with_freetype=False'"
I try to build cairo/1.17.4 on Windows as a static library with minimal set of dependencies (no freetype, no glib). It fails during conan `build` step.

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **cairo/1.17.4**
  * Operating System+version: **Windows 10 20H2**
  * Compiler+version: **Visual Studio 2019**
  * Conan version: **conan 1.33.0**

[2021-01-30 22:47] SpaceIm opened #4426 "[request] opencl-icd-loader/2020.06.16"
### Package Details
  * Package Name/Version: **opencl-icd-loader/2020.06.16**
  * Website: **https://github.com/KhronosGroup/OpenCL-ICD-Loader**
  * Source code: **https://github.com/KhronosGroup/OpenCL-ICD-Loader**

### Description Of The Library / Tool

Khronos official OpenCL ICD Loader.

[2021-01-30 22:57] SpaceIm opened #4427 "[request] cpuinfo/cci.20201217"
### Package Details
  * Package Name/Version: **cpuinfo/cci.20201217**
  * Website: **https://github.com/pytorch/cpuinfo**
  * Source code: **https://github.com/pytorch/cpuinfo**

### Description Of The Library / Tool

CPU INFOrmation library (x86/x86-64/ARM/ARM64, Linux/Windows/Android/macOS/iOS)

(dependency of libtorch)

[2021-01-30 23:01] SpaceIm opened #4428 "[request] fbgemm/cci.20210130"
### Package Details
  * Package Name/Version: **fbgemm/cci.20210130**
  * Website: **https://github.com/pytorch/FBGEMM**
  * Source code: **https://github.com/pytorch/FBGEMM**

### Description Of The Library / Tool

FBGEMM (Facebook GEneral Matrix Multiplication) is a low-precision, high-performance matrix-matrix multiplications and convolution library for server-side inference.

The library provi

[2021-01-30 23:07] SpaceIm opened #4429 "[request] tensorpipe/cci.20210131"
### Package Details
  * Package Name/Version: **tensorpipe/cci.20210131**
  * Website: **https://github.com/pytorch/tensorpipe**
  * Source code: **https://github.com/pytorch/tensorpipe**

### Description Of The Library / Tool

The TensorPipe project provides a tensor-aware channel to transfer rich objects from one process to another while using the fastest transport for the tensors contained ther

[2021-01-31 03:04] skannan89 opened #4432 "[package] libnetfilter_queue/1.0.5: Build fails"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libnetfilter_queue/1.0.5**
  * Operating System+version: **Linux Ubuntu 20.10**
  * Compiler+version: **GCC 10**
  * Conan version: **conan 1.32.1**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)
[code]

### Steps to reprodu

[2021-01-31 03:06] skannan89 commented on #4432
`libmnl` works, `libnetfilter_queue` doesn't. I might have made a mistake in adding the dependencies properly in the recipe.

[2021-01-31 04:08] prince-chrismc commented on #4432
All green in build 2 (`2485235d9c1842b6bcd07a48ce7666080d1bee3a`)! :blush:
- `libnetfilter_queue/1.0.5`: Generated 52 packages. [All logs here](https://c3i.jfrog.io/c3i/misc/logs/pr/4392/2/libnetfilter_queue/1.0.5/)

_Originally posted by @conan-center-bot in https://github.com/conan-io/conan-center-index/issues/4392#issuecomment-768641411_

the logs say it was built... might be a case of missing

[2021-01-31 10:57] mathbunnyru commented on #4415
Thanks, that's a good explanation. I will create a PR to remove the version duplication, which will close this issue.

[2021-01-31 11:28] mkviatkovskii opened #4436 "[package] cairo/1.17.4: build on macOS 10.15 as a static library fails"
I try to build cairo/1.17.4 on macOS 10.15 as a static library with minimal set of dependencies (no freetype, no fontconfig, no glib). It fails during conan `build` step with lots of `undefined symbols` errors.

### Package and Environment Details
  * Package Name/Version: **cairo/1.17.4**
  * Operating System+version: **macOS 10.15**
  * Compiler+version: **Apple clang 12.0**
  * Conan version: *

[2021-01-31 11:42] kpk-pl commented on #3619
@mathbunnyru Everything was fine after unsetting the env variable for me. Switched now to official cxx driver and for now works like a charm. Had some problems when compiling it with Debug, but don't have logs on me at the moment. If I try again I will post another issue. Thanks!

[2021-01-31 15:53] mathbunnyru commented on #3619
@kpk-pl 👍
@madebr @SpaceIm let's close this issue.

[2021-01-31 16:47] mkviatkovskii commented on #4436
For some reason the problem disappears if option `cairo:with_glib=False` is removed. Probably could be used as a workaround (anyway don't understand why it works).

[2021-02-01 06:11] GenuineAster opened #4443 "[package] bison/3.7.1: Implicit dependency on system libreadline.so"
bison has a dependency on libreadline, but that dependency isn't in conan so it uses a system dependency instead. I guess it should probably use a conan libreadline dependency instead.

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: bison/3.7.1
  * Operating System+version: Linux Debian Bullseye
  * Compiler+version: Clang 10.0.1
  * Docker image

[2021-02-01 14:04] ericLemanissier opened #4450 "[service] windows sdk"
@jgsogo @danimtb
what version of the windows SDK are available on C3I workers building for Visual Studio 2019 (16.4.4+29728.190) ? (it would be interesting to get the SDK for other Visual Studio configurations too)

I'm asking this because https://github.com/conan-io/conan-center-index/pull/4412#issuecomment-769973980 has a surprising failure on Visual Studio 16 : `Windows SDK 10.0.18362.0 : 'C:\P

[2021-02-01 15:00] jgsogo commented on #4450
Hi, @ericLemanissier

I'm creating another job in the CI to check this kind of things, but as I'm not a Windows dev and I'm not running in Windows, it is a bit hard the try-fix-try loop. Maybe you (or someone) knows and can help.

I'm testing in the **staging environment** (production might have other versions), but I need first to know how to get the information.

If I list that directory I get d

[2021-02-01 15:31] Marks101 commented on #4
Hello there, my company would like to contribute a recipe for the [CGNS](https://github.com/CGNS/CGNS) library.
Could I get access to the EAP?

[2021-02-01 15:53] ericLemanissier commented on #4450
it looks like the sdk used depends on the build system. it seems cmake uses the most recent one by default, which led to my surprise that `10.0.18362` is not available while it should have been installed with Visual Studio 2019.

[2021-02-01 16:53] danimtb commented on #4
Welcome @ChGen, @Jonathan-Eid, @ihsandemir and @Marks101 to conan-center-index 😃

[2021-02-01 17:04] floriansimon1 opened #4451 "[package] argon2: Add support for RelWithDebInfo with MSVC"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **argon2**
  * Operating System+version: **Windows 10 x64**
  * Compiler+version: **MSVC**

### Steps to reproduce
Try building a RelWithDebInfo version. See that the solution in the Argon2 repository does not allow building that type.

### Potential fix
One way to address this would be to patch the

[2021-02-01 17:34] jgsogo commented on #4450
Maybe VS 2019 was installed before that Win SDK was available... and then it's been only updated.

In the new job, I can check that the Windows machines have some Win SDK available. Do you think if it is enough to check for the latest one? Right now I can hardcode `10.0.18362.0`, and when needed I can start to check for `10.0.19041.0`. I really don't know, but I would expect that the newer SDK _in

[2021-02-01 17:37] jgsogo commented on #4195
Having a look to this link: https://devblogs.microsoft.com/cppblog/finding-the-visual-c-compiler-tools-in-visual-studio-2017/ I see there are different ATL components:

 * Visual C++ ATL support - Microsoft.VisualStudio.Component.VC.ATL
 * MFC and ATL support (x86 and x64) - Microsoft.VisualStudio.Component.VC.ATLMFC

Are both needed?

[2021-02-01 18:02] skannan89 commented on #4432
Yeah. Adding `--build missing` to conan install cmd fixed the error.
`Can't find a 'libnetfilter_queue/1.0.5' package for the specified settings, options and dependencies`
I assumed since libmnl and libnfnetlink worked for the specified settings, it would work for libnetfilter_queue too. Anyways, closing this issue.

[2021-02-01 18:02] #4432 closed

[2021-02-01 18:31] #4419 closed

[2021-02-01 19:01] #4364 closed

[2021-02-01 19:44] prince-chrismc commented on #4432
@ericLemanissier can you please add this too #4221 🙏

[2021-02-01 20:01] #4415 closed

[2021-02-01 20:05] ericLemanissier commented on #4221
current issues are:
#4214  and #4205: the bot marks some builds failed, whereas the log indicates they succeeded. It happened also on #4174 (comment), but disappeared when restarting the build
#4251: cpprestsdk missing versions and revisions. once again, merge commit f9e6015 is marked green
#4193: ConanInvalidConfiguration is thrown on Windows in validate(self), but the bot reports some errors on

[2021-02-01 20:08] ericLemanissier commented on #4450
I'm sorry, I don't know enough about windows sdks :/ I just know that there seem to be an "incompatibility" between `10.0.17763.0` and Visual Studio 2019. I don't know if there is some kind of forward or backward (or something else?) compatibility between different versions of the sdks.

[2021-02-01 21:01] axalon900 commented on #4093
The fact that the `-fvisibility` setting doesn't factor into package ID without custom settings is quite frustrating for projects which vend their third-party dependencies by statically linking them into their dynamic library. We do this at my work for preparing dynamic frameworks for Apple platforms and I imagine it's a not-too-uncommon use case for Conan users on Mac and iOS due to the peculiari

[2021-02-01 21:31] #4425 closed

[2021-02-01 21:31] #4436 closed

[2021-02-02 08:03] SSE4 commented on #4195
`ATL` is an Active Template Library, it's collection of wrappers for Microsoft COM technology (e.g. smart pointers to work on COM Objects)
`MFC` is a Microsoft Foundation Classes, it's GUI library containing wrappers for Windows Controls (e.g. buttons, check boxes)
`MFC` depends on `ATL`, that's why component is named `ATLMFC`
many applications use `ATL` or `MFC`, so we need to have both installed

[2021-02-02 08:22] SSE4 commented on #4450
[code]

[2021-02-02 08:49] k0zmo commented on #1982
Let's compare boost package in terms of size and "debug functionality" you get from them:

1) Boost, gcc, debug + shared : 112MB .so
2) Boost, msvc, debug + shared: 14MB .dll and 3.26MB import .libs

If we strip the first configuration we end up with 13MB of .so files which is very close to the MSVC configuration without .pdb files packaged. Instead of stripping the debug data altogether we can se

[2021-02-02 09:03] #4426 closed

[2021-02-02 09:34] SSE4 commented on #4450
seems like there are no traces of Windows SDK `10.0.18362` on the CI, neither in registry, nor in file system.
perhaps, it's coming from the Qt itself?
https://github.com/qt/qt5/blob/420d7f809c2b133456b24d047e54e29936d0180b/coin/pre-provisioning/qtci-windows-10-x86_64/msvc2019.txt#L69
https://github.com/qt/qt5/blob/ab23bc2ecf45c6003fdfac9c96cd56c268170648/coin/pre-provisioning/qtci-windows-10-x86/

[2021-02-02 10:17] whuji commented on #4
Hello, I have improved several recipes for a project I just joined + I have created one (for apreq2). I would like to give back my changes.
Thanks !

[2021-02-02 11:33] ericLemanissier commented on #4450
`/on` means it processes folders in alphabetical order, and the loop keeps the last item found, so it means that cmake (is this cmake code?) actually uses the latest sdk

`Windows SDK 10.0.18362.0 : 'C:\Program Files (x86)\Windows Kits\10\include\10.0.18362.0\um' not found or was incomplete` happens only when [I specify the sdk version in the recipe ](https://github.com/conan-io/conan-center-index

[2021-02-02 11:46] SSE4 commented on #4450
no, it's from vcvars implementation

it says it's included, it doesn't necessarily mean it's installed by default (it needs to be checked)

[2021-02-02 13:53] SpaceIm opened #4464 "[package] cyrus-sasl/2.1.27: configure fails if openssl shared on Macos"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **cyrus-sasl/2.1.27**
  * Operating System+version: **Macos Catalina**
  * Compiler+version: **apple-clang 12**
  * Conan version: **conan 1.33.0**
  * Python version: **Python 3.8.2**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in

[2021-02-02 14:20] SpaceIm commented on #4464
with `self._autotools.libs = []`, it works, but it could have side effects for others options.

[2021-02-02 23:12] jiangdawhy commented on #4
I'd like to join your EAP program! Please add me in.

[2021-02-03 14:48] jgsogo commented on #4450
There is always some default Win SDK that is installed together with Visual Studio, they are rolling that default version... and then you can optionally install more version. In the beginning, the newer version is optional and, once components start to depend on this new WinSDK version it is the default (you cannot opt-out it) and the older ones are optional (sorry I don't have the link, but it wa

[2021-02-03 15:52] Mightrider commented on #3461
Hey Forbinn, I ran into the same problem. Did you come up with a workaround?

[2021-02-04 06:35] dfontenot opened #4476 "[request] pegparser/2.1.1"
### Package Details
  * Package Name/Version: **pegparser/2.1.1**
  * Source code: **https://github.com/TheLartians/PEGParser**

### Description Of The Library / Tool

C++17 parser generator. I'm willing to add it myself (would be my first contribution)--looking to help out.

[2021-02-04 06:40] SSE4 commented on #4221
seems like package upload is not atomic/transactional, e.g. there are situations when a new version of the recipe is there, but not all binaries are uploaded yet. for zlib time window is small enough (but still noticeable), for larger packages like boost it will be much more problematic. I am not sure if there is an easy solution for that (that might be, conan API or artifactory isn't supporting t

[2021-02-04 08:35] IvanRibakov opened #4479 "[service] Package dependencies not recognised"
I'm working on a project that requires [`jinja2cpp/1.1.0`](https://conan.io/center/jinja2cpp?version=1.1.0&revision=c1fd782f8a12618796e506d4ab37ed3a&tab=configuration&os=Linux) library.

Reason for opening the ticket is that the library is being built locally from sources each time. I'm not sure why that happens when there seem to be available binary package that fit my requirements:
[code]

One t

[2021-02-04 09:57] theirix opened #4480 "[service] Upgrade conan version on Windows builders to 1.29.1"
A lot of recipes have required_conan_version at least 1.29.1. Some Windows builders still have 1.28.0 (see #4437 for example). Could we bump Conan version?

Some analysis of versions (ascending):
56 required_conan_version = ">=1.28.0"
 3 required_conan_version = ">=1.29.0"
23 required_conan_version = ">=1.29.1"
 1 required_conan_version = ">=1.31.0"
15 required_conan_version = ">=1.32.0"
 1 requir

[2021-02-04 10:07] ericLemanissier commented on #4480
isn't it already [1.32.1](https://github.com/conan-io/conan-center-index/blob/master/docs/changelog.md#29-december-2020---1718-cet) ?

[2021-02-04 10:19] Forbinn commented on #3461
Hi @Mightrider. Unfortunately no, for the moment I compiled without using the docker image, directly on device to avoid the cross-compile flag issue. This is far from ideal because it takes a very long time for some project.

[2021-02-04 10:29] Croydon commented on #4476
Pull requests are always welcome. Feel free to go ahead

[2021-02-04 10:33] SpaceIm commented on #4479
Do you override transitive requirements versions (specifically with different major versions)? Could you fill the standard template for issues?

[2021-02-04 10:41] SpaceIm commented on #4476
You'll have to remove CPM mechanism from upstream CMakeLists.

[2021-02-04 11:01] SSE4 commented on #4480
please wait, it will be fixed today.

[2021-02-04 11:08] jgsogo commented on #4480
We have provisioned another Windows machine (too much `qt` and `boost` PR these days 😅 )... they've responded right away (great), it looks like it is a copy of some snapshot and it contains the right tools (great), only the Conan version is wrong.

[2021-02-04 11:09] IvanRibakov commented on #4479
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **jinja2cpp/1.1.0**
  * Operating System+version: **CentOS 8.3.2011**
  * Compiler+version: **GCC 8**
  * Docker image: **centos:centos8.3.2011** ([Official Docker image](https://hub.docker.com/layers/centos/library/centos/centos8.3.2011/images/sha256-dbbacecc49b088458781c16f3775f2a2ec7521079034a7ba4

[2021-02-04 11:34] SpaceIm commented on #4479
In https://conan.io/center/jinja2cpp?tab=configuration&os=Linux, there is a package_id for this profile and options: `e498b464ff241890359cb08d05f8537c35618290`

But your conan client computes this package id `0aed18ca276465e99a3990f78a7d9d02bf731e7d`, that's weird (maybe similar issue than https://github.com/conan-io/conan-center-index/pull/3436#issuecomment-772703564).

[2021-02-04 11:35] IvanRibakov opened #4481 "Extending list of available binary packages"
I've been reading up on the [`ERROR: Missing prebuilt package`](https://docs.conan.io/en/latest/faq/troubleshooting.html#error-missing-prebuilt-package) Conan error and the documentation says following:

But as far as I can see, Conan does store **some** binaries which typically can be seen in the "Configurations" tab under "List of available binary packages:"

![image](https://user-images.githubu

[2021-02-04 11:42] IvanRibakov commented on #4479
@SpaceIm thanks for taking a look and sharing your thoughts.

Judging by your comment in #3436 you're just as puzzled by this as I am and have no idea how to further approach/debug this issue, right?

[2021-02-04 11:42] anton-dirac opened #4483 "[package] protobuf/3.13.0: Unable to use with cross compilation"
I'm unable to use the protobuf package when cross compiling from Windows to Android.
It seems like the rules to delete the fPIC option screws up things.
Or maybe I use it incorrectly, more details below.

### Package and Environment Details
  * Package Name/Version: **protobuf/3.13.0**
  * Operating System+version: **Windows 10**
  * Compiler+version: **Visual Studio 16/Android Clang 11**
  * Cona

[2021-02-04 13:25] anton-dirac commented on #4483
I was able to get this part working by moving the logic that removes fPIC from `config_options` to package_id`:
[code]
Feels like a hack though...

[2021-02-04 17:01] MichelleHetzel commented on #4
I'd like to join your EAP program as well. Thanks :)

[2021-02-04 17:11] #3747 closed

[2021-02-04 17:11] #4093 closed

[2021-02-04 17:19] rconde01 commented on #4093
This bug was changed to be specific to boost in conan-center, but it's NOT specific to boost. The fix which closes this maybe addressed the specific issue, but not the general issue. Can we open a new bug to address the general issue?

[2021-02-04 18:02] dfontenot commented on #4476
@SpaceIm good call out, I did not see that dependency explicitly called out. I can start with that one. In general, should there always be a package request issue created for each package to add to the CCI? When I made this issue, that was my understanding of the contributors' guide.

[2021-02-04 18:05] SpaceIm commented on #4476
AFAIK, it's not required. You can open a PR without an associated issue.

[2021-02-04 19:36] SpaceIm commented on #4479
Could come from issue described by @jgsogo in https://github.com/conan-io/conan-center-index/pull/3436#issuecomment-773488563.
Several boost recipes options may have been added or removed by the time, so you compute a different jinja2cpp package id than the one computed at the time when this recipe was modified the last time.

[2021-02-04 21:29] sourcedelica opened #4484 "[request] caf/0.18"
### Package Details
  * Package Name/Version: **caf/0.18**
  * Website: **http://www.actor-framework.org**
  * Source code: **https://github.com/actor-framework/actor-framework**

### Description Of The Library / Tool

CAF is an open source implementation of the actor model for C++ featuring lightweight & fast actor implementations, pattern matching for messages, network transparent messaging, and

[2021-02-04 21:59] anton-dirac commented on #4483
The:
[code]
pattern is used in almost all recipes which means that all recipes break when I try use the
new `--profile:host/--profile:build` logic to cross compile on Windows...

[2021-02-04 22:21] anton-dirac commented on #4483
Since this seems like a problem that belongs to Conan rather then CCI I created this ticket instead:
https://github.com/conan-io/conan/issues/8443

[2021-02-05 05:13] SSE4 commented on #4093
@rconde01 yes, please. as the title was saying boost, and your description was talking about boost specifically, I had an impression it's all about the boost. if there are more recipes affected, please open an issue.

[2021-02-05 05:24] rconde01 commented on #4093
@SSE4 please read the discussion in this issue. It affects ALL recipes.

[2021-02-05 08:32] #4329 closed

[2021-02-05 11:01] Pro commented on #4
I'd like to join your EAP program to contribute some package recipes. Thanks!

[2021-02-05 13:15] jgsogo commented on #4450
After https://github.com/conan-io/conan-center-index/pull/4490 we have a job to run some checks against the nodes in the infrastructure. We have a version number hardcoded in the library/checks and we will check it is available in all the nodes:

[code]

We think (not 100% sure) that the latest number `.0` is something we don't need to check. I've seen some WinSDK version ending with `.1` and `.0`

[2021-02-05 13:17] jgsogo commented on #4450
Now that we have this check, and we understand what is happening here, does Qt6 needs a newer version of Win SDK? ... and, will it affect (break) other recipes? Is this the `glibc` for Windows 😅 ?

[2021-02-05 13:22] Mightrider commented on #3461
That's to bad.
I managed to add the `--with-cross-build` option by modifing the conanfile.py but only with an hardcoded path to the x86_64 build dir.
I did not manage to build the x86_64 build inside the recipe...

[2021-02-05 14:17] danimtb commented on #2857
I think we should add a section to the documentation when we talk about the reviewers and how are PRs merged. Where do you think we should add that section?

[2021-02-05 14:21] jgsogo commented on #4480
The version has been upgraded. All Windows nodes now have 1.32.1.

[2021-02-05 14:21] #4480 closed

[2021-02-05 15:09] prince-chrismc commented on #2857
🤔 There's a few places that seem to related to the topic...

1. docs/contributing.md#dev-flow--pull-requests
3. docs/how_to_add_packages.md
3. 🆕 docs/review_process.md (link from dev flow)

For bots, it would be really nice to have a seperate file with the the community reviewers 🙏

[2021-02-05 15:20] anton-dirac commented on #4
I'd like to join EAP to fix recipes that breaks when cross building to Android and iOS. Thanks :)

[2021-02-05 15:53] TheLartians commented on #4476
Hey, I just discovered this issue by accident, happy to see my library added to Conan!

Unfortunately, I have no experience with Conan myself, but one of the goals of CPM.cmake is to be easy to integrate with external PMs. E.g. if you set the CMake or Env variable `CPM_USE_LOCAL_PACKAGES`, then `CPM.cmake` will try `find_package()` before downloading the dependency. If you need another way to over

[2021-02-05 16:18] SpaceIm commented on #4476
@TheLartians Thanks for the tips.

Other problem: in https://github.com/TheLartians/PEGParser/blob/master/cmake/CPM.cmake, at configure time it downloads CPM.cmake file from another github repo unless found locally. It should be avoided in conan-center.
I guess we could first create a package for CPM 0.28.0 (build requirement of PEGParser 2.2.0, to avoid to patch pegparser's CMakeLists).
We can't

[2021-02-05 16:36] TheLartians commented on #4476
Good catch! Yeah, creating a recipe for CPM.cmake and setting `CPM_SOURCE_CACHE` sounds like a good approach to for projects using CPM.cmake dependencies to be added to Conan. That way no source modification should be necessary.

On that topic, as CPM.cmake uses GitHub actions for release management, would it make sense to use [Minimonium/conan-request-action](https://github.com/Minimonium/conan-r

[2021-02-05 17:11] dmn-star commented on #4450
You could always use the latest Windows SDK version.

1)  Update Visual Studio
2)  Install the latest SDK from VS installer

No, it should not.

[2021-02-05 17:17] ericLemanissier commented on #4450
Its not really specific to qt, the compilation error happens when all of these are true:
- the project uses `permissive-` flag
- the project compiles under visual studio 2019
- the sdk used is `10.0.17763` or earlier
-  the project includes `winrt\wrl\module.h`

[2021-02-05 17:31] #1843 closed

[2021-02-05 17:31] #2145 closed

[2021-02-06 11:11] redradist commented on #4049
@SpaceIm I mean someway to add link to externally supported recipe for package
This recipe is proper !! I tested it separately, I will added it in build system later

Why should I remove `author` ?
Why should I add option `fPIC` ?

[2021-02-06 16:14] theodelrieu commented on #4073
I've dug a bit and I've another build issue on Windows, Boost.Locale ICU detection is broken for several reasons:

* It looks for `icuXX` lib names, but on Windows ICU adds prefixes and suffixes
* One could pass `ICU_LINK` to workaround that, but Boost.Regex emits an error when `ICU_LINK` is defined (https://github.com/boostorg/regex/commit/fc4dc17dc745a9fc4ab1849cef3710354a6b7782#diff-322788b77c7

[2021-02-07 13:34] andioz opened #4503 "[request] pybind11/2.6.2"
### Package Details
  * Package Name/Version: **pybind11/2.6.2**
  * Changelog: **https://github.com/pybind/pybind11/releases/tag/v2.6.2**

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

[2021-02-07 17:12] SpaceIm commented on #4481
conan client doesn't build from source by default (without options -b or -b <recipename> or -b missing etc).

`conan-center` remote provides pre build binaries of `conan-center-index` recipes for these triplets: https://github.com/conan-io/conan-center-index/blob/master/docs/supported_platforms_and_configurations.md

Does this answer your question?

[2021-02-07 18:20] IvanRibakov commented on #4481
Thanks, this is what I was looking for (apparently in the wrong place).

[2021-02-07 18:20] #4481 closed

[2021-02-08 06:33] objectx opened #4505 "[package] rapidcheck/20200131: Compile error when using the C++20 enabled MSVC"
This issue was resolved in https://github.com/emil-e/rapidcheck/pull/269

-----

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **rapidcheck/20200131**
  * Operating System+version: **Windows10**
  * Compiler+version: **MSVC 2019**
  * Conan version: **conan 1.33.0**

### Steps to reproduce (Include if Applicable)
Use rapidcheck with C++20 enable

[2021-02-08 07:45] Jihadist commented on #4
Hey, I'd like to join EAP to add https://github.com/fralx/LimeReport because author ignores package managers. Thanx )

[2021-02-08 10:09] petiaccja commented on #4
Hey, I'd like to publish some of my open-source projects and dependencies that are not yet available on conan. Cheers!

[2021-02-08 10:15] IvanRibakov opened #4506 "[question] Bincrafters package marked as legacy"
I just noticed that a `@bincrafters/stable` package that I have been using for about 6 months is marked as "legacy" in the Conan-center: https://conan.io/center/sqlite_orm

I don't think it had this label when I started using it a while ago.

2 Questions:
1. Can someone explain or point me to the relevant part of the docs where the implications of the "legacy" label are explained?
2. Is it ok to s

[2021-02-08 11:33] erikzenker opened #4508 "[package] gtest/1.8.1: fatal error LNK1120: 21 unresolved externals"
### Package and Environment Details
  * Package Name/Version: **gtest/1.8.1 + gtest/1.10.0**
  * Operating System+version: **  Microsoft Windows Server 2019 10.0.17763**
  * Compiler+version: **MSVC 19.28.29336.0**
  * Conan version: **conan-1.33.1**
  * Python version: **Python 3.9.1**

### Steps to reproduce

- This issue was already reported and not resolved in the bincrafter repo (https://gith

[2021-02-08 11:35] SSE4 commented on #4450
very unlikely, it should not.

in general, Windows SDK contains the following:
- Windows API headers (e.g. windows.h, winsock.h, etc.)
- import libraries (no actual libraries, only stubs)
- some tools (rc - resource compiler, mt - manifest tool, signtool, debugging tools, etc.)

in theory, Microsoft could break something in headers, but it will be a massive disaster not just for us :)

I guess it'

[2021-02-08 11:36] Expander commented on #4
I'd like to participate in the EAP program.
I'd like to contribute a recipe for GM2Calc 1.7.4, see PR #4507

[2021-02-08 11:39] SSE4 commented on #4450
not exactly. with Windows SDK, you may choose which Windows version to target: https://docs.microsoft.com/en-us/windows/win32/winprog/using-the-windows-headers. we currently don't model that in conan (we could, by adding `os.version`, but so far, no-one requested it).

[2021-02-08 12:09] kdsx commented on #4
I'd like to join EAP. I'm going to update gdbm to 1.19.

[2021-02-08 12:15] leha-bot opened #4509 "[request] lapack/3.7.1"
It is archived in [conan-community](https://github.com/conan-community/conan-lapack)
I think we should move it to conan-center to continue recipe polish :)

[2021-02-08 12:34] wolfram77 commented on #4
I want to subdivide my programs into neater modules (OCD?).
Please add me to EAP, and i hope you automate the package publishing process.

[2021-02-08 14:33] SpaceIm commented on #1411
@jsgogo I didn't know what to answer.

Now I think that it's still required in order to document compatible versions and raise in `build()` (`validate()` later) if depencencies compatible versions are not honored. Sort of version range without true version range implementation of conan client.

we could allow this in conandata.yml:

[code]

in conanfile.py:

[code]

[2021-02-08 14:36] czoido commented on #4483
I'm closing this one, the discussion about this will continue here: https://github.com/conan-io/conan/issues/8443

[2021-02-08 14:36] #4483 closed

[2021-02-08 14:49] claremacrae commented on #4365
This is now implemented and was merged in 22eb76828f89b798ef1aab9782328434fb1da624.

The package is in Conan Center: https://conan.io/center/cpputest

Closing this ticket.

[2021-02-08 14:49] #4365 closed

[2021-02-08 14:51] claremacrae commented on #621
Please could someone mark cpputest above as complete, as #4366 has been merged. Thanks.

[2021-02-08 15:05] Croydon commented on #4506
All packages that are included in conan-center, but are not in conan-center-index, are marked as legacy

sqlite_orm can be ported to conan-center-index as all dependencies are in it already. Helping hands are welcome, just give credits to the [original source](https://github.com/bincrafters/conan-sqlite_orm) when opening a PR

[2021-02-08 15:10] jgsogo commented on #1411
This is interesting, but it can get complicated. Maybe there are different version ranges for different configurations or OSs. For example, if you activate option XXX that enables some feature then you will use a different version range... and this is not tractable in a declarative way (it can become hard).

This declarative way could serve most of the cases, but not all. Still some checks will be

[2021-02-08 15:35] SpaceIm commented on #1411
The issue I have with Vulkan ecosystem (specifically the branch with spirv-headers, spirv-tools, glslang, shaderc and vulkan-validationlayers) is that version range of dependencies is different for each new version.

Version range value depending on configuration is the edge case of edge case I believe 😉

There are also cases with conditional dependencies, but the check `req_name in self.deps_cpp_

[2021-02-08 16:42] AndreyMlashkin opened #4513 "[package] autoconf/2.69: can't build on windows"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **autoconf/2.69**
  * Operating System+version: **windows 10**
  * Compiler+version: **msvc 2019**
  * Conan version: **conan  1.33.1**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)
[code]

### Steps to reproduce (Include if

[2021-02-08 17:02] jgsogo commented on #1411
It doesn't run, but it is something we need to consider. If someone starts to use Conan and ConanCenter and creates a `conanfile.txt` with two unrelated dependencies, it is possible that Conan fails with a version conflict or that there are missing binaries due to some version override. We want to improve the experience for beginners. In order to do that we need to ensure that the whole graph is c

[2021-02-08 18:47] SpaceIm commented on #4506
Saw this issue and submitted https://github.com/conan-io/conan-center-index/pull/4514 few minutes ago.

[2021-02-08 20:11] ericriff commented on #3990
I found an unoficial recipe for this here https://github.com/inexorgame/conan-grpc
Which seams to be mainly maintained by @Croydon
Is there a reason why you haven't merged that package here? It looks like al the requirements are already available.

[2021-02-09 01:00] Croydon commented on #621
libvpx done via https://github.com/conan-io/conan-center-index/pull/4477

[2021-02-09 03:39] dsakilesh commented on #4
Hi, Could you please add me to EAP. Thanks in advance!

[2021-02-09 07:31] #4503 closed

[2021-02-09 08:01] #3446 closed

[2021-02-09 09:56] mdavezac commented on #4
Hello, could you please add me to EAP? thank-you!

[2021-02-09 11:35] Croydon commented on #4506
The package is now migrated. You should use now `sqlite_orm/1.6` (without username and channel) instead of the Bincrafters' packages

Thanks @SpaceIm

[2021-02-09 12:00] IvanRibakov commented on #4506
Thank you, @SpaceIm! 👏🏻

[2021-02-09 12:00] #4506 closed

[2021-02-09 13:54] intelligide opened #4517 "[request] rapidcheck/20210107"
### Package Details
  * Package Name/Version: **rapidcheck/20210107**
  * Changelog: No changelog

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

Linked issues; #4505

[2021-02-09 14:06] kpk-pl opened #4518 "[pkgconf] pkgconf/1.7.3 Cannot build package - sha256 changed for sources"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **pkgconf/1.7.3**
  * Operating System+version: **Centos 7**
  * Compiler+version: **GCC 9**
  * Conan version: **conan 1.32.1**
  * Python version: **Python 3.6.10**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)
[settings]
a

[2021-02-09 15:44] #4262 closed

[2021-02-09 19:31] TallesRodrigues opened #4521 "Error installing cpr on Conan-Visual Studio"
09/02/2021 16:27:50: strawberryperl/5.30.0.1: ERROR: Package '11e6a84a7894f41df553e7c92534c3bf26896802' build failed
09/02/2021 16:27:50: strawberryperl/5.30.0.1: WARN: Build folder C:\.conan\78b373\1
09/02/2021 16:27:50: ERROR: strawberryperl/5.30.0.1: Error in build() method, line 24
09/02/2021 16:27:50: 	tools.get(url, sha256=sha256)
09/02/2021 16:27:50: 	AuthenticationException:
09/02/2021 16:

[2021-02-09 20:58] mathbunnyru commented on #621
Could someone please mark mongo-cxx-driver as done via #3681?

[2021-02-10 05:08] sotoahsAlto opened #4526 "[request] sentry-native/0.4.7"
### Package Details
  * Package Name/Version: **sentry-native/0.4.7**
  * Changelog: **https://github.com/getsentry/sentry-native/blob/master/CHANGELOG.md**

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

I try but I am not at early access program. Some one with rights granted trigger it? I did it through https://g

[2021-02-10 09:43] danimtb commented on #4
Wow, many people requested access. Happy to welcome @whuji, @jiangdawhy, @MichelleHetzel, @Pro, @anton-dirac, @petiaccja, @Expander, @kdsx, @wolfram77, @dsakilesh, and @mdavezac to conan-center-index! 🥳

[2021-02-10 13:45] intelligide commented on #4521
Can you provide more information about this ? (Like conan profile, more complete logs if you can...)

[2021-02-10 14:07] dmn-star commented on #4521
I was able to install both x64 and x86  perl without any problems (on win64).

strawberryperl/5.30.0.1: Forced build from source
Installing package: strawberryperl/5.30.0.1
Requirements
    strawberryperl/5.30.0.1 from 'conan-center' - Cache
Packages
    strawberryperl/5.30.0.1:11e6a84a7894f41df553e7c92534c3bf26896802 - Build

Cross-build from 'Windows:x86_64' to 'Windows:x86'
Installing (download

[2021-02-10 15:57] ericriff opened #4529 "[package] <Qt/5>: Components support"
Now we have a recipe for Qt5 (and Qt6 is on the way!) :partying_face:
Unfortunately there is no support for components in them.
I'm not familiar enough with components & Qt to drive this so I'm leaving this request here hoping that someone from the community takes it.

Keep up the good work!

[2021-02-10 16:43] floriansimon1 opened #4530 "[package] mariadb-connector-c/3.1.11: Missing includes"
### Package and Environment Details
  * Package Name/Version: **mariadb-connector-c/3.1.11**
  * Operating System+version: **Windows 10 x64**
  * Compiler+version: **MSVC 15 and 16**
  * Conan version: **conan 1.32.1**
  * Python version: **Python 3.8.5**

### Conan profile
[code]

If you look at the includes in the package, you'll find that [the mysqld_error.h header](https://github.com/mariadb-c

[2021-02-10 21:31] #4518 closed

[2021-02-11 08:02] #4517 closed

[2021-02-11 20:06] #4505 closed

[2021-02-11 20:17] rawbby opened #4541 "[request] flecs/v2.3.1"
### Package Details
  * Package Name/Version: **flecs/v2.3.1**
  * Website: **https://github.com/SanderMertens/flecs**
  * Source code: **https://github.com/SanderMertens/flecs**
  * Platform/Compiler:
     * Windows: msvc
     * Ubuntu: gcc (7, 8, 9, 10), clang (8, 9)
     * MacOS: gcc 10, clang 9
  * Conan recipe repository: https://github.com/rawbby/conan-flecs
    (As I am new to the Conan Com

[2021-02-11 20:39] Croydon commented on #4541
Since you already have a recipe, feel free to create a pull request

[2021-02-11 21:29] helmesjo opened #4542 "[question] Where is Boost::process?"
So after _component support_ [was added to the Boost package](https://github.com/conan-io/conan-center-index/pull/2097), I figured I'd use `Boost::process` directly instead of linking everything, but then noticed [it's missing](https://github.com/conan-io/conan-center-index/blob/9c73f9463f38a38aa7ce4bd95ec6acbec0529dff/recipes/boost/all/conanfile.py).

How come?

[2021-02-11 22:19] SpaceIm commented on #4542
AFAIK, there is no `Boost::process` imported target nor `process` component in official FindBoost. It's part of `Boost::headers`

[2021-02-11 22:19] plopp commented on #621
Avro done via #4393

[2021-02-12 01:07] madebr commented on #4513
Is this run in a `cmd`, powershell or bash console?

[2021-02-12 01:12] madebr commented on #4443
We have a libreadline package that can be used.
I didn't check bison's configure script, but maybe it is also possible to disable readline support.
(readline is mostly used for command history in cli utils)

[2021-02-12 01:20] madebr commented on #4479
@IvanRibakov
Can you try `conan install` with the `--update` option?
Or even completely remove `jinja2cpp` and try again?

[2021-02-12 07:09] AndreyMlashkin commented on #4513
I ran it in powershell

[2021-02-12 07:46] helmesjo commented on #4542
Oh, I knew it was something trivial... Thanks!

[2021-02-12 07:46] #4542 closed

[2021-02-12 07:49] helmesjo opened #4545 "[request] thrift/0.14.0"
### Package Details
  * Package Name/Version: **thrift/0.14.0**
  * Changelog: **https://github.com/apache/thrift/blob/v0.14.0/CHANGES.md#0140**

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

[2021-02-12 07:50] helmesjo commented on #4545
Related to this is that thrift should nowadays only require `Boost::headers`. [No need to link the runtime libraries](https://thrift.apache.org/lib/cpp.html#dependencies).

[2021-02-12 08:21] Talkless opened #4546 "[request] libpq/13.2, 12.6, 11.11"
### Package Details
  * Package Name/Version: **libpq/13.2, 12.6, 11.11**
  * Changelog: https://www.postgresql.org/docs/13/release-13-2.html https://www.postgresql.org/docs/12/release-12-6.html https://www.postgresql.org/docs/11/release-11-11.html

I'll work on the PR unless someone provide update faster than me.

[2021-02-12 08:58] SpaceIm commented on #4098
In your profile, could you try to explicitly set CC and CXX environment variable to the absolute path of your gcc and gcc++ executable?
I've successfully built this recipe many times with MinGW, but I always set CC and CXX.

[2021-02-12 11:42] IvanRibakov commented on #4479
@madebr

When I ran `conan install --update` I got the same result as without it:

[code]

When I removed `jinja2cpp` from `conanfile.py` all together, `conan install` step predictably succeeded but the overall build failed due to missing dependencies.

[2021-02-12 17:11] madebr commented on #4479
I meant removing `jinja2cpp` completely from the conan cache. e.g. `rm -rf ~/.conan/data/jinja2cpp`.

[2021-02-12 17:55] rawbby commented on #4
I'd like to join EAP. I'm going to add flecs/v2.3.1.
Thanks in advance!

[2021-02-12 18:04] IvanRibakov commented on #4479
I'm executing `conan install` as part of a Dockerfile `RUN` step and I'm NOT preserving conan cache through a mounted volume so `rm -rf ~/.conan/data/jinja2cpp` doesn't really make sense in my case.

[2021-02-12 18:15] madebr commented on #4479
Then I suggest only installing `jinja2cpp`, and add other packages and see where a prebuilt package is not available anymore.

[2021-02-13 01:31] #4526 closed

[2021-02-13 09:05] SpaceIm commented on #4530
closed by https://github.com/conan-io/conan-center-index/pull/4532

[2021-02-13 13:09] wuzhiguocarter commented on #4
i'd like to join EAP, and I'm going to add gperftools

[2021-02-13 13:34] SpaceIm opened #4555 "[request] powershell/7.1.2"
### Package Details
  * Package Name/Version: **powershell/7.1.2**
  * Website: **https://github.com/PowerShell/PowerShell**
  * Source code: **https://github.com/PowerShell/PowerShell**

### Description Of The Library / Tool

PowerShell Core is a cross-platform (Windows, Linux, and macOS) automation and configuration tool/framework.

[2021-02-13 13:36] SpaceIm commented on #4555
This recipe is required as a build requirement of https://github.com/microsoft/glTF-SDK

[2021-02-13 22:33] sfhacker commented on #4098
I have read on several fora the conan should be avoided since it does not work very well.
OpenSSL builds just fine under MinGW.
I will try to build poco and report back.

[2021-02-14 00:06] helmesjo opened #4559 "[request] cppcheck: Include cppcheck-htmlreport"
### Package Details
  * Package Name/Version: **cppcheck/2.x**

cppcheck is already available, but it's missing to bundle the [cppcheck-htmlreport](https://github.com/danmar/cppcheck/blob/f08dde1140f6f73369c80e3bd95683f146304f72/htmlreport/cppcheck-htmlreport) tool. This python script should simply be extracted to the `bin` folder and can then be picked up by eg. cmake `find_program(<VAR> cppcheck

[2021-02-14 00:41] sfhacker commented on #4098
Just built poco 1.9.4 under MinGW. No issues at all.
I have also built this code snippet:

    md5.cpp

     #include "Poco/MD5Engine.h"
     #include "Poco/DigestStream.h"

     #include <iostream>

     int main(int argc, char** argv){
         Poco::MD5Engine md5;
         Poco::DigestOutputStream ds(md5);
         ds << "abcdefghijklmnopqrstuvwxyz";
         ds.close();
         std::cout << P

[2021-02-14 04:08] ericriff commented on #970
This is no longer blocked since Qt5 is already merged (and Qt6 is under review)

[2021-02-14 04:19] Croydon commented on #970
This never passed CI, but maybe it is of help in some way https://github.com/bincrafters/conan-quazip

[2021-02-14 05:56] ericriff commented on #970
https://github.com/conan-io/conan-center-index/pull/4562

[2021-02-14 14:55] SpaceIm opened #4568 "[request] colmap/3.6"
### Package Details
  * Package Name/Version: **colmap/3.6**
  * Website: **https://colmap.github.io**
  * Source code: **https://github.com/colmap/colmap**

### Description Of The Library / Tool

COLMAP is a general-purpose Structure-from-Motion (SfM) and Multi-View Stereo (MVS) pipeline with a graphical and command-line interface. It offers a wide range of features for reconstruction of ordered

[2021-02-15 06:03] szigetics opened #4574 "[package] qt/5: qt5_add_resources cmake function is missing"
* Package Name/Version: **qt/5.15.2**
  * Operating System+version: **MacOS 10.15.4**
  * Compiler+version: **apple-clang 12.0**
  * Conan version: **conan 1.33.0**
  * Python version: **Python 3.8.2**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is in use)
[code]

The `qt5_add_resources` cmake function is missing.
It was provided f

[2021-02-15 09:12] dmn-star commented on #4098
OpenSSL don't set  OPENSSL_SYS_WINDOWS for MinGW cross-compilation. This is a well known bug. But I agree with you mingw, msys2, autoconf & co. should generally not be used on Windows. :-)

[2021-02-15 13:59] crazyi opened #4579 "[package] openblas/0.3.12: includedirs error"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **openblas/0.3.12**
  * Operating System+version: **Linux Ubuntu 20.04**
  * Compiler+version: **GCC 9**
  * Conan version: **conan 1.33.1**
  * Python version: **Python 3.8.5**

### Conan profile
[code]
The conanbuildinfo.txt give the **_includedirs_**  like this:
[code]
and the actual **_includedir

[2021-02-15 15:30] SpaceIm commented on #4579
Correct: https://github.com/xianyi/OpenBLAS/blob/f9aaf22fc3aa63fd74c0f268826235a65d12cf4c/CMakeLists.txt#L184

[2021-02-15 18:41] anton-danielsson commented on #4
Sorry, I changed my username and it seem I need to re-apply for the EAP.

[2021-02-16 08:19] jgsogo commented on #4
Welcome aboard @anton-danielsson (again), @rawbby and @wuzhiguocarter 🎉

[2021-02-16 12:13] jgsogo commented on #4479
Using your profile:

[code]

and with the latest revision:

[code]

the package-id you are computing is not the same. ✔️   Trying to reproduce, with equivalent `conanfile.txt`, with your profile, and ensuring `semver_direct_mode` is being used. Same error.

This is probably due to the known-bug mentioned above. The last time we did a [PR to `jinja2cpp` was five months ago](https://github.com/conan

[2021-02-16 13:28] sfhacker commented on #4513
We haven't had any issues building autoconf on Windows 10 x64.

![image](https://user-images.githubusercontent.com/25817529/108068981-ee577580-70b6-11eb-94cb-8d3d3c380aca.png)

Perhaps your environment is broken somehow. Try reinstalling it.

[2021-02-16 14:30] floriansimon1 opened #4588 "[question] Abseil: Path length error when building grpc"
Hi!

I tried building gRPC with the inexorgame ([see my message in the grpc recipe issue tracker](https://github.com/inexorgame/conan-grpc/issues/38#issuecomment-779870162)) recipe, but `abseil` prevents me from building it because it doesn't have the `short_paths` option set to `True`. Is that an error that should be fixed in abseil or an error with the grpc recipe?

[2021-02-16 15:15] sfhacker commented on #4508
We are new to gtest project. Just built gtest 1.10.0 from source on Windows 10 x64 without issues.

![image](https://user-images.githubusercontent.com/25817529/108082065-c7ed0680-70c5-11eb-9b8d-faaf988b698a.png)

![image](https://user-images.githubusercontent.com/25817529/108082095-cfacab00-70c5-11eb-93c3-bbba8b5bc19d.png)

Now building 1.8.1. Will report back soon.

[2021-02-16 18:02] floriansimon1 commented on #4588
My username is actually 7 characters long, so I don't think it's a lot.

I didn't know about the conan.conf option, I'll try it, thanks!

Should we consider the abseil thing to be a bug in the abseil recipe? I guess having a 7 chars long username is not that uncommon.

[2021-02-16 18:11] SpaceIm commented on #4588
I would say that short_paths True or False in a recipe is never a bug, it's a workaround for windows users who can't enable long paths in Windows.

But yes, I guess that short_paths could be enabled in abseil recipe.

[2021-02-16 18:14] floriansimon1 commented on #4588
Should I submit a PR for that?

Sorry for asking silly questions, I want to make sure I got it right :)

[2021-02-16 18:41] SpaceIm commented on #4588
Sure

[2021-02-16 18:49] #4530 closed

[2021-02-16 20:31] dheater opened #4592 "[request] openssl/1.1.1j"
### Package Details
  * Package Name/Version: **openssl/1.1.1j**
  * Changelog: **https://www.openssl.org/news/openssl-1.1.1-notes.html**

The above mentioned version is newly released by the upstream project and not yet available as a recipe. Please add this version.

[2021-02-16 21:11] anton-danielsson commented on #3845
The work in https://github.com/conan-io/conan-center-index/pull/4412 looks pretty great :)

[2021-02-17 00:09] claremacrae commented on #4367
I'm closing this, 3 weeks on...

The PR for adding the tables of contents was added - thanks! - And I've closed the tickets around automating the update process.

I can do the updating manually, periodically - using the mdsnippets command. See the description of #4594.

[2021-02-17 00:09] #4367 closed

[2021-02-17 14:52] danimtb opened #4599 "[service] Error in conan create: PREV for <reference> is None"
In some jobs, the `conan create` command fails at some point when installing dependencies with the following message:

[code]

For example, this is the full message:

[code]

Pull request affected at some point:

- https://github.com/conan-io/conan-center-index/pull/4589#issuecomment-780051228
- https://github.com/conan-io/conan-center-index/pull/4577#issuecomment-779269979
- https://github.com/co

[2021-02-17 14:54] ericLemanissier commented on #4599
could it be linked to https://github.com/conan-io/conan/issues/6379 or https://github.com/conan-io/conan/issues/8172 ?

_Originally posted by @ericLemanissier in https://github.com/conan-io/conan-center-index/issues/4577#issuecomment-779287854_

[2021-02-17 15:00] SSE4 commented on #4599
might be related to https://github.com/conan-io/conan/pull/8517

[2021-02-17 15:02] #4172 closed

[2021-02-17 15:23] danimtb commented on #4599
Yes, Javier is investigating this on the Conan side.

Not sure if related, but thanks for pointing it out.

[2021-02-17 16:35] jgsogo commented on #4599
I'm proposing this change (https://github.com/conan-io/conan/pull/8519). I think we are writing that `metadata.json` without package-revision at some point, but I can't figure out when... if we merge the into `1.32.x` we can try it in ConanCenter soon.

[2021-02-17 16:36] GaryN4 commented on #4
Please add me to the EAP, I would like to contribute new recipes.

[2021-02-17 21:31] #1347 closed

[2021-02-18 08:07] TheSalvator commented on #4
Hello everyone, i'd like to join your party

[2021-02-18 08:50] mathbunnyru commented on #2232
Yep, all the existing recipes are finally fixed 🎉

But as soon as we merge the PRs to hooks and update the hooks in the cci, there will be new errors, which is totally fine.

[2021-02-18 11:27] jgsogo commented on #4479
I did trigger the build because, indeed, we need to rebuild that reference to get the new package-ids (...that bug). But, it is failing to build, so we need someone to create an actual PR and fix the issues:

https://c3i.jfrog.io/c3i/misc/summary.html?json=https://c3i.jfrog.io/c3i/misc/logs/TapaholesList/65/summary.json

[2021-02-18 11:35] SpaceIm commented on #4479
Here is the issue: https://github.com/jinja2cpp/Jinja2Cpp/blob/78673bc72bb5b1953bbf7f954ee2260773659fcf/CMakeLists.txt#L29
Therefore it forces MD if shared, even if for shared/MT profile.

[2021-02-18 12:57] SpaceIm opened #4606 "[conan.io/center] libtorrent: missing version"
libtorrent 2.0.1 was added in CCI in December (https://github.com/conan-io/conan-center-index/pull/3699), but this version is not displayed in https://conan.io/center/libtorrent

At least, it is avaible through command line:

[code]

[2021-02-18 15:58] sourcedelica commented on #4355
I just built the x86 version of msys2/20190524 using @dmn-star's fork.  You're doing God's work!  Bless you.

[2021-02-18 16:20] danimtb commented on #2857
Glad to announce that we are adding one more community reviewer to conan-center-index! Welcome @mathbunnyru and thanks a lot for the hard work. See https://github.com/conan-io/conan-center-index/pull/4608

[2021-02-18 16:22] ericLemanissier commented on #2857
congrats @mathbunnyru, slayer of the hooks error !

[2021-02-18 16:33] mathbunnyru commented on #2857
Hooray 🎉

[2021-02-18 16:55] ericriff opened #4609 "[package] <openCV/2.x|3.x: Usage of Lena image on test_package"
Hi all,

This is not really a bug report but just a comment on the openCV recipes. On version 2.x and 3.x the test packages include the very controversial 'Lena' (or 'Lenna') test image.

https://github.com/conan-io/conan-center-index/blob/master/recipes/opencv/2.x/test_package/lena.jpg

This has been an accepted test image forever but lately it is being replaced with other alternatives due to lic

[2021-02-19 10:25] SpaceIm commented on #4606
I also see that cern-root (https://github.com/conan-io/conan-center-index/pull/3732) is available through command line but not displayed in conan-center Web UI.

[2021-02-19 12:44] jgsogo commented on #4599
We keep trying to figure out what is originating these errors.  https://github.com/conan-io/conan/pull/8519 is a good place to follow it. They are not deterministic, so the best we can do is to trigger again those PRs and eventually they (or other PRs) will fail with the same error.

We are adding more logs to the CI that hopefully will help us to figure out what is happening there.

[2021-02-19 14:28] intelligide commented on #4609
Although I don't completely agree with the criticism, there are no valid technical reasons not to change the image. I think you can open such a PR. ;)

[2021-02-19 14:34] uilianries commented on #4609
I don't care about the picture, actually we don't need that. You can open a PR not only removing (not replacing), but also simplifying the test package. Usually pictures are larger files and CCI is getting weight fast as we are receiving new PRs.

[2021-02-19 14:47] ericriff commented on #4609
I don't really care about the picture either, but I had to remove it from an internal mirror due to company policies. Some other developer may encounter the same issues.

[2021-02-19 15:04] uilianries commented on #4609
Please, go ahead, feel free opening a PR. Thank you for reporting it.

[2021-02-19 15:32] vaind opened #4616 "Binary-only/closed-source packages"
What is the policy for publishing a binary-only library, i.e. one that is built from closed-source but provides public APIs via a header file and a shared library available for multiple platforms. Are there any such packages already in the repo to have a look at the conanfile?

Specifically, I'm looking for a way to publish [objectbox-c](https://github.com/objectbox/objectbox-c) to conan.io/center

[2021-02-19 15:32] #4574 closed

[2021-02-19 16:01] ericLemanissier commented on #2232
The current task seems to call `conan export` but this cannot cover all hooks, because the binaries are not inspected. The coverage would improve if the task used `conan install` instead.

[2021-02-19 16:13] jgsogo commented on #2232
The problem is that `conan install` depends on the configuration/profile, and we cannot afford to run it for all the profiles... and still, it won't cover hooks that are executed before/after build or package. Here it is just a quick check, something cheap, PRs are the ones that execute every hook.

[2021-02-19 16:26] mathbunnyru commented on #2232
It would be actually great if all the recipes were easily PR'able.

Because sometimes infrastructure changes or the dependency changes in an incompatible way (we try to avoid this, but I think there might be some bad cases), and it becomes painful to implement a new feature in a recipe because you need to understand what's wrong with the existing recipe.

But I think the computation cost is enormo

[2021-02-19 16:29] ericLemanissier commented on #2232
I don't understand, why is the bot reporting 1642 recipes?

[2021-02-19 16:30] mathbunnyru commented on #2232
@ericLemanissier because it's the number of versions of all recipes, I suppose.

[2021-02-19 16:31] mathbunnyru commented on #2232
And the number I gave is the number of actual configurations, which is much higher.

[2021-02-19 16:52] intelligide commented on #4616
Binary packages are allowed only if the license allows redistribution. For example, Conan Center already have some binary-only packages like [AGS](https://github.com/conan-io/conan-center-index/tree/master/recipes/ags).

[2021-02-19 17:16] vaind commented on #4616
Thanks @intelligide, that should be fine then with the Apache license.

[2021-02-19 17:31] jgsogo commented on #4616
Hi, @vaind

Here it is the [packaging policy](https://github.com/conan-io/conan-center-index/blob/master/docs/packaging_policy.md#sources). We need to understand that ConanCenter is not a place to redistribute binaries, but binaries that are the product of some reproducible process (building from sources). We can make exceptions, but they will always be considered exceptions.

In this case, I see

[2021-02-19 17:40] vaind commented on #4616
Hey @jgsogo,

thanks for the explanatation. As far as I understand [Bintray is going to be shut down in the near future](https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/). That's why we're looking for an alternative solution to get our libraries to users. Maybe I've missed something and no conan packages on bintray are affected?

[2021-02-19 17:57] intelligide commented on #4616
There is some alternative for proprietary or personal packages:
 - [JFrog Platform ](https://jfrog.com/platform/) Paid (with a limited free plan)
 - [Artifactory Community Edition for C/C++](https://docs.conan.io/en/latest/uploading_packages/artifactory_ce.html) Free but you must install it on your own servers.
 - [conan_server](https://docs.conan.io/en/latest/uploading_packages/running_your_serve

[2021-02-19 18:03] jgsogo commented on #4616
@vaind, the sunset of Bintray is something that will happen and will affect all repositories. We understand it can be an inconvenience, like closing other centers, but on the other hand, it means that now JFrog will dedicate more resources to Conan and ConanCenter. Please, read our blog post about the topic: https://blog.conan.io/2021/02/05/JFrog-announces-sunset-bintray.html

I didn't realize you

[2021-02-19 22:01] #4579 closed

[2021-02-19 22:13] erikzenker commented on #4508
Did you also link against gtest installed from conan from another project? For me it looks like you just build google test on windows.

[2021-02-19 22:52] sfhacker commented on #4508
Can you provide a simple test case? Cheers.

[2021-02-20 05:31] #4588 closed

[2021-02-20 06:31] #4592 closed

[2021-02-20 08:37] jgsogo commented on #4616
Hi @greenrobot ! JFrog has decided to sunset the centers and Bintray, this is a strategical decision after a deep analysis. Bintray has been used as a free and transparent binary storage for years, ConanCenter is not the substitute, it is not a platform to [just] redistribute binaries.

We keep offering and supporting in-house solutions like Artifactory CE and commercial ones like the JFrog Platfo

[2021-02-20 14:03] #4479 closed

[2021-02-20 16:04] SpaceIm commented on #1249
I think I can close this issue.

[2021-02-20 16:04] #1249 closed

[2021-02-21 05:25] wuzhiguocarter commented on #4
Thanks a lot!

[2021-02-21 08:31] #4546 closed

[2021-02-21 21:20] TheSalvator commented on #990
@gocarlos Waiting for EAP access for liburing/0.7 contribution. If this specific version is so important, i can add a recipe for it as well.

[2021-02-22 08:52] fcelda commented on #4
I would like to be added. I have a need for a few libraries that I would like to contribute.

[2021-02-22 12:28] Croydon commented on #1587
Done via https://github.com/conan-io/conan-center-index/pull/4636

Thanks!

[2021-02-22 12:28] #1587 closed

[2021-02-22 12:28] Croydon commented on #3269
Done via https://github.com/conan-io/conan-center-index/pull/4636

Thanks!

[2021-02-22 12:28] #3269 closed

[2021-02-22 12:28] Croydon commented on #1580
Done via https://github.com/conan-io/conan-center-index/pull/4636

Thanks!

[2021-02-22 12:28] #1580 closed

[2021-02-22 12:41] jgsogo commented on #4616
Thanks for your interest.

The bests alternatives would be JFrog Platform or running your own Artifactory CE. Both will allow your users to keep consuming your library as a Conan package in a transparent way. If you move to open-source we will be willing to store and build your library in ConanCenter.

Hope to see you soon!  👋

[2021-02-22 12:41] #4616 closed

[2021-02-22 15:51] toge commented on #4
I want to join EAP to add some recipes.
Please add me.

[2021-02-22 16:58] jgsogo commented on #4
Welcome to `conan-center-index`, @GaryN4 @TheSalvator @fcelda and @toge! 🎉

[2021-02-22 20:40] maksim-0 commented on #4529
This is a must have for production use

[2021-02-22 21:04] solvingj commented on #620
@SSE4 do you see any issue with submitting emscripten_installer to CCI?

It's also needed here:

https://github.com/conan-io/conan/issues/7816

[2021-02-22 23:26] maksim-0 commented on #4
I would like to join, thank you!

[2021-02-23 00:55] blackencino commented on #4
Hi, my name is Christopher Horvath and I'd like to be added to the Early Access Program, so that I can contribute the Alembic geometry file format library, and also contribute to OpenEXR and eventually Pixar's Universal Scene Description, if possible.

[2021-02-23 02:51] lukaszlaszko commented on #4
Hi, I would like to join EAP and contribute to conan center index. Please add me.

[2021-02-23 07:56] gocarlos commented on #990
specific version is not important

[2021-02-23 08:00] jgsogo commented on #4062
I've proposed the changes to the CI library. If any configuration raises a `ConanInvalidConfiguration` the CI will fail asking the user to move the checks from `build()` method to `validate()`. Anyone submitting a PR, even if this error is unrelated to their changes, should be able to fix it 🚀

[2021-02-23 08:05] mathbunnyru commented on #4062
Great, thanks!

[2021-02-23 08:17] pichi-router commented on #4
i'd like to join EAP, and I'm going to submit some PRs.

[2021-02-23 08:19] jgsogo commented on #4062
...and we need to spread the word 🗣️  https://github.com/conan-io/conan-center-index/pull/4634

[2021-02-23 12:34] Marcin-Radecki opened #4652 "[boost] <boost>/<1.75.0>: build with python cannot find python include files"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **boost/1.75.0**
  * Operating System+version: **CentOS Linux release 7.8.2003 (Core)**
  * Compiler+version: **GCC 9**
  * Conan version: **conan 1.32.1**
  * Python version: **Python 3.6.8**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profi

[2021-02-23 15:49] rdeterre commented on #3476
The problem seems to be that the default certificate directory on Conan's OpenSSL is set to a location inside the conan package instead of being system-wide. To test this, I've built and run the following test program in a few different ways:

[code]

Depending on the OpenSSL that I use, I get the following paths on an Ubuntu 20.04 system:

- System OpenSSL (v1.1.1f): `/usr/lib/ssl/certs` (this is

[2021-02-23 17:58] dernasherbrezon commented on #4
Hi, I would like to join EAP and contribute to conan center index. Please add me.

[2021-02-23 18:13] bsergean commented on #4
Hi, I would like to join EAP and contribute to conan center index. Please add me.

[2021-02-23 18:30] blackencino opened #4654 "[question] Best Practices for versioning within a package is part of its source repo"
All of my experience creating conan packages so far has been for packages where the source came from a separate git repo. In this case, each different version in the conan package points to a different github tarball for its source.

I am working on a repository that I can turn into a conan package directly - however I'm unclear on how to handle the releasing of separate versions. Ideally, I'd lik

[2021-02-23 18:42] FiniteReality opened #4655 "[package] BZip2/1.0.8: Invalid CMake module path when using cmake_paths generator"
### Package and Environment Details
  * Package Name/Version: BZip2/1.0.8
  * Operating System+version: Windows 10 20H2 19042.631
  * Compiler+version: MSVC 19.28.298.0
  * Docker image: None?
  * Conan version: conan 1.33.1
  * Python version: Python 3.9.2

I'm reporting this on behalf of @RubyNova as we are working together on a project.

### Conan profile
[code]

### Steps to reproduce

Use the

[2021-02-23 19:37] ericriff opened #4657 "[package] nasm: Pulling sources from non-https url"
On `nasm` we're pulling the sources from the official webpage, which is not `https`.
https://github.com/conan-io/conan-center-index/blob/master/recipes/nasm/all/conandata.yml#L1-L13

This was fine before but now it is giving me issues
[code]

And if you try to manually download the sources with a browser you get a similar warning.

According to the official webpage they moved the sources to github

[2021-02-23 20:19] permoberg-vs opened #4659 "[package] gtest/1.10.0: gcc version 4.8.5 should be ok"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **gtest/1.10.0**
  * Operating System+version: **Linux Centos 7**
  * Compiler+version: **GCC 4**
  * Docker image: **conanio/gcc8**
  * Conan version: **conan 1.18.0**
  * Python version: **Python 3.7.4**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if

[2021-02-23 20:24] ericriff commented on #4657
This is what fails on version 2.14, the one I was using
https://bugzilla.nasm.us/show_bug.cgi?id=3392557

2.15 fails during autoreconf.

[2021-02-23 22:01] #3801 closed

[2021-02-23 22:42] ericriff commented on #4657
It looks like the nasm site is now fixed and it's not being flagged as insecure anymore. Regardless I think we should consider switching to github anyways.

[2021-02-23 22:43] krzysztof-jusiak commented on #4
Can I please be added to EAP, thanks :pray:

[2021-02-24 00:07] SpaceIm commented on #4657
We can replace http by https in urls.

[2021-02-24 06:17] paulo-coutinho commented on #3124
I made an isolated project for desktop and mobile for this and can be used for reference:
https://github.com/paulo-coutinho/pdfium-lib

[2021-02-24 09:22] SpaceIm commented on #4655
Is it better if you replace `self.cpp_info.builddirs= [self._module_subfolder]` by `self.cpp_info.builddirs.append(self._module_subfolder)` in bzip2 conanfile?

[2021-02-24 09:46] riebl commented on #4
Hi, @mathbunnyru suggested in #4618 that I should ask for EAP access. I am looking forward to it.

[2021-02-24 10:25] SpaceIm commented on #4655
@SSE4 @uilianries
Why do we have to set both builddirs and build_modules?
I understand that:
- builddirs are appended to CMAKE_PREFIX_PATH and CMAKE_MODULE_PATH.
- build_modules are included in cmake files generated by conan generators.

If a build_module is not supposed to be included directly by consumers, but used for internal purpose, what's the point of builddirs since build_modules already h

[2021-02-24 10:25] OliverHaag opened #4665 "[package] boost/1.75.0 + many others: Deleting lib/cmake breaks cmake_paths"
## Package and Environment Details
- Package Name/Version: boost/1.75.0 (and others)
- Operating System: Linux CentOS 8  / Windows 10
- Compiler: GCC 9.2 / VS 2015
- CMake: 3.18.2
- Conan: 1.33.1
- Python: Python 3.6.8

## Steps to reproduce
Pull boost/1.75.0 via a conanfile.py and use the conan_paths generator:
[code]

Write a little CMake-Project just doing a:
[code]

CMake will print a warning

[2021-02-24 11:02] SpaceIm commented on #4665
Sure, CCI recipes are designed for cmake_find_package and/or cmake_find_package_multi, not cmake_paths generator.

[2021-02-24 11:42] ruilvo opened #4668 "[package] fftw/3.3.9: Missing SIMD options in the recipe"
### Package and Environment Details
  * Package Name/Version: **fftw/3.3.9**
  * Operating System+version: **Windows 10**
  * Compiler+version: **MSVC 2019**

### Steps to reproduce
So, I'm using these settings in my `conanfile.txt`
[code]
which are not part of any readily available package, so conan goes to compile it from source. The problem is that the compiled output does not make use on any S

[2021-02-24 11:47] uilianries commented on #4668
Please, take a look on my answer: https://github.com/conan-io/cmake-conan/issues/311#issuecomment-785016025

It would be great if you could open a PR with that change.

We have other recipes that can be used as example for your case: https://github.com/conan-io/conan-center-index/blob/689e2663fe41689259f61a5dbd3fe245e24c03b9/recipes/gf-complete/all/conanfile.py#L27

[2021-02-24 11:58] ruilvo commented on #4668
I'll give it a shot. Thanks.

[2021-02-24 12:16] SpaceIm commented on #4655
Recipes overriding `cpp_info.builddirs` (package folder removed from builddirs) instead of appending new paths:
bzip2
catch2
cereal
cern-root
corrade
extra-cmake-modules
glfw
ignition-cmake
jinja2cpp
libgeotiff
meson
mfast
open62541
pybind11
raylib
swig
verilator

[2021-02-24 12:58] SpaceIm commented on #4668
Looking at fftw CMakeLists, there should not be auto value, just `[True, False]`.

[2021-02-24 13:02] #4541 closed

[2021-02-24 14:02] #4353 closed

[2021-02-24 14:08] ruilvo commented on #4668
I fixed it with PR#4671. It was more work than I expected, but seems to be working.

[2021-02-24 14:12] ruilvo commented on #4
I would like to be added so my contribution #4671 is valid.

[2021-02-24 14:20] skrah opened #4672 "[request] mpdecimal/2.5.1"
### Package Details
  * Package Name/Version: **mpdecimal/2.5.1**
  * Changelog: **https://www.bytereef.org/mpdecimal/changelog.html**

It would be nice to update to `2.5.1`.  `libmpdec++` has changed the exception hierarchy in order to ensure a `nothrow` copy constructor.  As a result, both `libmpdec` and `libmpdec++` have had an `soversion` increment.

`mpdecimal-2.5.1` is compatible with recent

[2021-02-24 14:57] OliverHaag commented on #4665
Thanks for the quick response. I don't see a drawback in just leaving the find-scripts there and not forcefully breaking conan_paths. The linked answer doesn't really describe that decision, since there shouldn't be any collision between the packages own cmake-config and the CONAN_PKG:: targets. CMake just won't care about that files unless you issue find_package so I don't see any problems for th

[2021-02-24 15:01] #4657 closed

[2021-02-24 15:07] SpaceIm commented on #4665
cmake_find_package and CONAN-PKG::targets are completely differrent things.
cmake_find_package emulates find modules files, and cmake_find_package_multi emulates find config files. If you keep config files in a recipe, they will conflict.
Use cmake_find_package or cmake_find_package_multi, it's the way to go (+ generate() eventually) for transparent integration of conan in CMake projects.

[2021-02-24 15:18] OliverHaag commented on #4665
Sorry mixed up cmake_find_package and cmake generators there. But CMake wont search in the package folder anyway when using cmake_find_package so it will definitely not use any cmake-files included in the package and can't have any collision or am I wrong?

[2021-02-24 15:27] SpaceIm commented on #4665
It depends.
`cmake_find_package` and `cmake_find_package_multi` don't append anything in `CMAKE_PREFIX_PATH` and `CMAKE_MODULE_PATH`, they just generates .cmake files where conan install was executed.
On the other hand, nothing prevents someone to use more generators, like `cmake` generator, or to use a toolchain file generared by `generate()`, which will append all package folders in `CMAKE_PREFI

[2021-02-24 16:22] OliverHaag commented on #4665
Okay thanks, I see the problem in some scenarios.
I tried out cmake_find_package now and it seems to not cause any problems with the find_package calls (and even avoids writing some Find-scripts for libs lacking those).
One thing before closing this issue: Could the [docs](https://docs.conan.io/en/latest/integrations/build_system/cmake/cmake_paths_generator.html) indicate that cmake_find_package s

[2021-02-24 16:37] sourcedelica opened #4674 "[package] odbc/2.3.7: sysconfdir is in Conan local cache"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **odbc/2.3.7**

### Steps to reproduce (Include if Applicable)

The odbc library has a configuration option called `--sysconfdir` that specifies the default location for configuration files.  By default the value is `${prefix}/etc`.  The problem is that `${prefix}` ends up being a location in the Con

[2021-02-24 16:45] k0ekk0ek opened #4676 "[package] <cunit>/<2.1-3>: redefinition of snprintf macro"
### Package and Environment Details
  * Package Name/Version: **cunit/2.1-3**
  * Operating System+version: **Microsoft Windows 2019**
  * Compiler+version: **Visual Studio 2015-2019**

<details><summary>Click to expand log</summary>

[code]

</details>

I've switched from the Bincrafters cunit package to version in ConanCenter and am receiving build warnings about `snprintf` being redefined. Plea

[2021-02-24 17:50] jhurliman opened #4677 "[package] benchmark/1.5.2: Cannot compile on arm64"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **benchmark/1.5.2**
  * Operating System+version: **Linux Ubuntu 18.04, NVIDIA Jetson Xavier AGX (arm64)**
  * Compiler+version: **clang-10**
  * Conan version: **conan 1.33.1**
  * Python version: **Python 3.6.9**

### Conan profile
[code]

### Steps to reproduce (Include if Applicable)

Attempt to

[2021-02-24 18:02] ralfholly commented on #4677
@jhurliman FYI I already created a PR some time ago: #4653

[2021-02-24 18:55] jhurliman commented on #4
I would like to be added to EAP, please.

[2021-02-24 19:11] ralfholly commented on #4
Please add me, I've provided a PR that fixes a build breaker in google benchmark when compiling for armv8 platforms.

[2021-02-25 01:46] timblechmann opened #4680 "[package] nspr/4.29: apple silicon/x86 cross compilation broken with conan-1.33"
according to coworkers, the update to conan-1.33 broke the x86_64-to-arm64 cross compilation of this package.

the nspr project builds a (native) tool to generate some sources, which will now also be compiled with the cross compilation flags.

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **nspr/4.29**
  * Operating System+version: **MacOS**
  *

[2021-02-25 01:46] timblechmann opened #4692 "[package] nspr/4.29: apple silicon/x86 cross compilation broken with conan-1.33"
according to coworkers, the update to conan-1.33 broke the x86_64-to-arm64 cross compilation of this package.

the nspr project builds a (native) tool to generate some sources, which will now also be compiled with the cross compilation flags.

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **nspr/4.29**
  * Operating System+version: **MacOS**
  *

[2021-02-25 11:17] jgsogo commented on #4680
@SSE4 can it be related to PRs in Conan client? There were a couple of things related to MacOS in [`1.33.0`](https://github.com/conan-io/conan/releases/tag/1.33.0).  @timblechmann , have you tried with `1.33.1`? Just in case it is something that is already fixed.

Thanks to both!

[2021-02-25 12:13] timblechmann commented on #4680
afaict the culprit is https://github.com/conan-io/conan/pull/8118

[2021-02-25 14:26] MaxSac commented on #4
I would like to be added to EAP, please.

[2021-02-25 17:47] T-Deuty commented on #4355
This is also preventing my development team from being able to depend on boost. We are doing purely Windows development so its disappointing that there needs to be a Linux subsystem installed (even temporarily) to use the boost library.

@sourcedelica can you please elaborate on how you used a forked repo as a remote for conan?

[2021-02-25 18:42] T-Deuty commented on #4355
Thank you!

I actually just finished testing another workaround that was helpful for our particular use case. I applied the `boost:without_locale : True` option in our project's conanfile.py and this was apparently what was depending on libiconv and transitively msys2. I know this isn't a solution to this issue but wanted to share here in case it helps someone else in a similar situation.

[2021-02-25 19:36] ohanar commented on #4529
Indeed, our team will continue to use the bincrafters recipe until this is resolved.

[2021-02-26 10:27] anton-danielsson commented on #3845
I think this issue can be closed since https://github.com/conan-io/conan-center-index/pull/4412 is merged already.

[2021-02-26 14:18] Linux13524 opened #4691 "[package] catch2/2.13.0: Incompatible to Android"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **catch2/2.13.0**
  * Docker image: **conanio/android-clang8**

### Conan profile (output of `conan profile show default`)
[code]

### Steps to reproduce (Include if Applicable)

Create simple application that includes `catch2/catch.hpp` and try to build for Android.

### Extra information

Hi. I jus

[2021-02-26 16:33] #4676 closed

[2021-02-26 16:37] db4 opened #4694 "[service] Add CI for x86 architecture"
I understand the teams' decision to remove x86 binary packages from CCI (discussed in https://github.com/conan-io/conan-center-index/issues/1869). But this has a side effect: package recipes are no longer tested for x86 compatibility that reduces their quality.  Right now I'm trying to figure out why the recent `boost/1.74.0` recipe fails on Linux/x86, while its fall 2020 revision did just fine. W

[2021-02-26 17:21] uilianries commented on #4694
Hi @db4!

After some years of package distribution, Conan team and Bincrafters collected stats from Bintray to understand how many people were using x86, and only a very few of them were downloading, less than 10%. So a decision was made for CCI, bringing back it will cost double of CCI resources (building time, CI storage, maintainability, etc ...). Thus, it's not possible.

If you are in trouble

[2021-02-26 17:31] #4655 closed

[2021-02-26 19:49] uilianries opened #4696 "[package] gfortran/10.2: Missing files causing execution error"
First appearance on https://github.com/conan-io/conan-center-index/pull/4681

There are some missing files in gfortran which are necessary its execution.

### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **gfortran/10.2**
  * Operating System+version: **Linux Ubuntu 18.04**
  * Compiler+version: **GCC 10**
  * Docker image: **conanio/gcc10**
  * Co

[2021-02-26 20:17] db4 commented on #4694
@uilianries OK, your point is well taken.

[2021-02-26 21:00] db4 commented on #4694
@uilianries just one extra question: if CCI does not support x86 anymore, why e.g. bzip2 x86 packages (although outdated) are there? When I do `conan install bzip2/1.0.8@` on Linux/x86, I've got an outdated (and actually broken) binary package:
[code]
Can you get rid of outdated binary packages at CCI?

[2021-02-26 21:09] uilianries commented on #4694
@db4 They are still supported and there is no reason for drop x86 support, however, CCI doesn't test directly, it requires community support instead.

If a package is outdated and you can't install, it's a bug and should be reported, you still can open an issue (a new one, don't mix with this question related to building CI support).

[2021-02-26 21:14] SpaceIm commented on #4696
Yes f951 is the actual compiler, it should be packaged with gfortran executable.

Problem in this recipe: the "Linux" archive is not there anymore. And suprinsingly the recipe tries to download it even though I'm on Windows.

[2021-02-26 21:20] #4694 closed

[2021-02-26 21:31] #4674 closed

[2021-02-26 22:44] db4 commented on #4338
I have the same issue with boost/1.74.0 and VS Build Tools 2017. @madebr, maybe just revert #3362 for now?

[2021-02-26 23:29] wouterbeek opened #4699 "[package] bison/3.7.1: m4 subprocess failed"
I'm unable to use Bison because of an issue with m4.  The m4 dependency is correctly installed, but the Bison executable is not able to find the m4 executable.  The specific error message is as follows:

[code]

This may be similar/identical to #1498, but that bug was fixed in the past, while I'm still getting this error with the latest Bison package.

### Package and Environment Details (include

[2021-02-26 23:41] #3845 closed

[2021-02-27 06:36] SSE4 commented on #4699
bison requires m4 executable to be in PATH, or M4 environment variable to be set
consider using [virtualrunenv](https://docs.conan.io/en/latest/reference/generators/virtualrunenv.html) generator.

[2021-02-27 06:37] SSE4 commented on #4691
yes, `log` should be in `self.cpp_info.system_libs` for Android. feel free to submit PR with fix.

[2021-02-27 06:43] mjvankampen opened #4701 "[package] [service] xkbcommon/1.0.3: CCI misses GCC version 10"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **xkbcommon/1.0.3**
  * Operating System+version: **Linux**
  * Compiler+version: **GCC 10**
  * Docker image: **CCI**
  * Conan version: **CCI**
  * Python version: **CCI**

CCI seems to be missing a binary for GCC 10. This means other packages that depend on it will not build. Ref. #4689

My guess

[2021-02-27 06:54] sourcedelica opened #4702 "[request] odbc/2.3.9"
### Package Details
  * Package Name/Version: **odbc/2.3.9**
  * Changelog: **https://github.com/lurcher/unixODBC/releases/tag/v2.3.9**

The above mentioned version is newly released by the upstream project and not yet available as a recipe.

I'll submit a PR.

[2021-02-27 10:05] SpaceIm commented on #4696
This recipe is broken in another way: f951 has dependencies, and we probably don't want to put its vendored dependencies in lib folder of this package...

On Macos:

[code]

[2021-02-27 13:09] timblechmann commented on #4692
fwiw the apple silicon support issue is https://bugzilla.mozilla.org/show_bug.cgi?id=1658671 ...

[2021-02-27 13:35] wouterbeek commented on #4699
Thanks!  That indeed fixed it.

[2021-02-27 13:35] #4699 closed

[2021-02-27 14:28] wouterbeek opened #4706 "[package] qt/6.0.1: Unable to use in CMake"
When a Qt6 Conan dependency is used in CMake, the following error is emitted:

[code]

In line with the official Qt documentation ([link](https://doc.qt.io/qt-6/cmake-get-started.html)), I'm looking for Qt from CMake in the following way:

[code]

I have also tried to specify the Qt dependency without a `find_package` invocation, but linking against a target like `CONAN_PKG::qt` also does not work

[2021-02-27 18:43] prince-chrismc commented on #4706
You are using https://docs.conan.io/en/latest/integrations/build_system/cmake/cmake_generator.html which does not generate the `FindPackage.cmake` files

Try using https://docs.conan.io/en/latest/integrations/build_system/cmake/cmake_find_package_generator.html which offers this functionality!

---

You should not need it in both requires and build_requires

[2021-02-27 18:45] prince-chrismc commented on #4706
I believe you are referring to the Qt documentation? If yes, then I think it's natural they have not documented a very Conan specific way of including the project.

[2021-02-27 18:57] SpaceIm commented on #4706
@prince-chrismc CONAN_PKG::qt doesn't work because package_info() of qt recipe is broken (there is a big FIXME). So qt recipe is currently unusable in CMake based projects, because all generators are broken in this recipe.

[2021-02-27 19:04] ericLemanissier commented on #4706
The fact that it does not have components does not prevent all use of the recipe. What problems do you encounter when basing your cmake file on https://github.com/conan-io/conan-center-index/blob/master/recipes/qt/6.x.x/test_package/CMakeLists.txt ?

[2021-02-27 19:06] prince-chrismc commented on #4654
Example one: https://github.com/expresscpp/expresscpp/blob/master/conanfile.py

Example Two: https://github.com/prince-chrismc/user-management/blob/master/backend/conanfile.py

There are some Conan docs for this as well: https://docs.conan.io/en/latest/creating_packages/package_repo.html and https://docs.conan.io/en/latest/howtos/capture_version.html?highlight=scm#how-to-capture-package-version-fr

[2021-02-27 19:09] SpaceIm commented on #4706
Doesn't test_package work by luck in the CMake example because it relies on just few components (QtCore, QtGui and QtWidgets I guess?), so that it doesn't hit undefined references due to bad ordering in `self.cpp_info.libs`?

[2021-02-27 21:51] akalali opened #4712 "[package] itk/5.1.0: UseITK.cmake file not existent"
I'm trying to build [dcmqi](https://github.com/QIICR/dcmqi), which requires DCMTK and ITK. I'm using [cmake-conan 0.15](https://github.com/conan-io/cmake-conan) and specify the ITK requirement by writing
[code]
Everything is downloaded correctly and cached in my local repository. In my `CMakeLists.txt` I'm adding the generated ITK configuration files (ITKConfig.cmake, ITKConfigVersion.cmake, ITKTa

[2021-02-27 22:33] wouterbeek commented on #4706
@prince-chrismc Adding the `cmake_find_package` generator indeed generates a `Findqt.cmake` file.  But this does not fix my original problem, which was that the files `qtConfig.cmake` and/or `qt-config.cmake` cannot be found:

[code]

Maybe I'm making a mistake somewhere?  These are my steps:

  1. Generate the `Findqt.cmake` file: `conan install .. -b missing`
  2. Activate the build environment

[2021-02-27 22:39] SpaceIm commented on #4706
You must add to `CMAKE_MODULE_PATH` the path where the file Findqt.cmake was generated (your build folder I guess).

So your cmake invocation would become `cmake .. -D CMAKE_BUILD_TYPE:STRING=Debug -DCMAKE_MODULE_PATH=<path where conan install was run>`

Don't put qt in `build_requires`, but in `requires` (strictly speaking it should be in both).

[2021-02-28 00:23] antaljanosbenjamin commented on #621
As #4151 broke the libjpeg issue also on bincrafters, it broke the wxWidget recipe also. As I am using wxWidget through conan, I am willing to invest some time to make it work and maintain in CCI. I think the [bincrafter recipe](https://github.com/bincrafters/conan-wxwidgets/blob/bbef8f1ab922b234b9137b7f22edfe2ba4e85b05/conanfile.py) could be reused easily. I checked, and [all of the requirements]

[2021-02-28 06:01] #4702 closed

[2021-02-28 06:13] mjvankampen commented on #4706
I tried it with a more complex project and still works. I think because qtcore happens to be one of the first libs. But of course the integration is quite different from the original qt and some features won't work (or are harder).

[2021-02-28 09:08] wouterbeek commented on #4706
Thanks for the good feedback!  I'm not able to combine all the moving parts into something that works ATM.  But I think this is mostly me not knowing enough to pull it off.

I will wait for Qt6/CMake/Conan combinations created by others to appear online over time.  Maybe the above comments are helpful for those who will create the first such combinations.

[2021-02-28 09:08] #4706 closed

[2021-02-28 09:15] mathbunnyru commented on #621
Go ahead, @antaljanosbenjamin!
Having wxWidgets in CCI would be great.
It's quite a popular framework, so you'll make other people's life easier.

[2021-02-28 12:06] Croydon commented on #621
@antaljanosbenjamin This is not the newest revision of the Bincrafters recipe. The newest revision is here: https://github.com/bincrafters/community/tree/main/recipes/wxwidgets/all

Some dependencies are still missing in CCI, so if you include it now you will have to remove some options.

[2021-02-28 14:26] prince-chrismc commented on #3476
@rdeterre This has been sitting in my inbox for so long I missed your comment.

Thank you so much for taking the time to investigate this issue, I really appreciate you confirming what was mentioned above.

# ❤️

💯 I think it would be amazing to fix that. Do you have the time to open the pull request? If not I'll see to squeeze this in this week.

Should be a small change https://github.com/conan-

[2021-02-28 17:42] antaljanosbenjamin commented on #621
@mathbunnyru  Thanks, I first would like to explore the amount of work needed, because I wouldn't like to take on the task if it is too overwhelming for me.

[2021-02-28 18:55] parkertomatoes opened #4726 "[package] gsl-lite/0.34.0: Conanfile format error on recent versions of Conan"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **gsl-lite/1.2.8**
  * Operating System+version: **Linux Ubuntu 18.04** (WSL1 Windows 10 1809)
  * Compiler+version: **GCC 8**
  * Conan version: **conan 1.34.0**
  * Python version: **Python 3.6.9**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custo

[2021-02-28 19:43] IanE9 opened #4727 "[package] boost/1.75.0: Builds under the "msvc" toolset instead of "clang-win" when "ClangCL" toolset is specified with Visual Studio"
### Package and Environment Details
  * Package Name/Version: **boost/1.75.0**
  * Operating System+version: **Windows 10**
  * Compiler+version: **MSVC 2019 v16.8.6/Clang v11.0.1**
  * Conan version: **Conan version 1.33.1**
  * Python version: **Python 3.9.2**

### Conan profile
[code]

### Steps to reproduce
I've found that using clang directly as a compiler on windows is very hit and miss with

[2021-02-28 20:07] SpaceIm opened #4728 "[request] onnx/1.8.1"
### Package Details
  * Package Name/Version: **onnx/1.8.1**
  * Website: **https://github.com/onnx/onnx**
  * Source code: **https://github.com/onnx/onnx**

### Description Of The Library / Tool

ONNX provides an open source format for AI models, both deep learning and traditional ML. It defines an extensible computation graph model, as well as definitions of built-in operators and standard data

[2021-02-28 20:26] SpaceIm opened #4729 "[request] fp16/cci.20200514"
### Package Details
  * Package Name/Version: **fp16/cci.20200514**
  * Website: **https://github.com/Maratyszcza/FP16**
  * Source code: **https://github.com/Maratyszcza/FP16**

### Description Of The Library / Tool

Header-only library for conversion to/from half-precision floating point formats

(dependency of libtorch)

[2021-02-28 20:27] SpaceIm opened #4730 "[request] psimd/cci.20200517"
### Package Details
  * Package Name/Version: **psimd/cci.20200517**
  * Website: **https://github.com/Maratyszcza/psimd**
  * Source code: **https://github.com/Maratyszcza/psimd**

### Description Of The Library / Tool

Portable 128-bit SIMD intrinsics

(dependency of libtorch)

[2021-02-28 20:33] SpaceIm opened #4731 "[request] fxdiv/cci.20200417"
### Package Details
  * Package Name/Version: **fxdiv/cci.20200417**
  * Website: **https://github.com/Maratyszcza/FXdiv**
  * Source code: **https://github.com/Maratyszcza/FXdiv**

### Description Of The Library / Tool

Header-only library for division via fixed-point multiplication by inverse

(dependency of libtorch)

[2021-03-01 02:34] uilianries commented on #4726
Related to https://github.com/conan-io/conan/issues/8572

[2021-03-01 02:57] prince-chrismc commented on #2232
Can this be unpinned and replaced with #3470 pretty please?

[2021-03-01 06:27] SSE4 commented on #4727
yes, sounds logical, feel free to submit a PR with suggested fix.

[2021-03-01 07:38] mjvankampen opened #4736 "[package] qt/6.x.x: component support"
The qt 6.x.x package lacks component support. I understand this could be quite a bit of work to add this. I would be willing to put some effort in, but if I am being honest I don't see a good way forward. The generated Qt cmake files contain quite a bit of extra stuff (ref. below). For me the issue with the current setup is that for example:

- not all functionality (tools/functions/macros) is ava

[2021-03-01 08:46] Linux13524 commented on #4
Do I need to be added to EAP to provide any fixes? If yes, please add me.

[2021-03-01 08:56] SpaceIm commented on #4726
Remove `gsl-lite/0.34.0` from your cache, and reinstall. You have an old revision of this recipe.

[2021-03-01 09:44] danimtb commented on #4221
@SSE4 the best solution would be to use Artifactory promotions of packages from the PR repo to the conan-center repo, but there were some performance issues that made use resort to conan download/upload. We are waiting for the next version of Artifactory (7.13) to try it again as it will bring some fixes for that.

[2021-03-01 09:50] jargonzombies commented on #4322
#4407 is a duplicate, possibly fixed by #4445

[2021-03-01 10:27] ericLemanissier commented on #4736
I just started to work on the topic this week-end, something looking like the option 1 you describe. first draft is on https://github.com/bincrafters/conan-center-index/blob/qt/recipes/qt/6.x.x/conanfile.py#L528
It does not handle plugins correctly yet. If you want to help, I would take all feedback from real-world use of this solution.

Instead of declaring all components in a static structure, I

[2021-03-01 11:56] mjvankampen commented on #4736
That makes sense. I like static things because they are easy on the eyes, but I agree that you will have less flexibility. I'll have a look and give it a spin to see what I run in to.

[2021-03-01 12:25] danimtb commented on #4
Welcome to conan-center-index to @maksim-0, @blackencino, @lukaszlaszko, @pichi-router, @dernasherbrezon, @bsergean, @krzysztof-jusiak, @riebl, @ruilvo, @jhurliman, @ralfholly, @MaxSac and @Linux13524. So cool to see so many people joining this week! 😄

[2021-03-01 13:09] #4609 closed

[2021-03-01 13:11] Talkless opened #4740 "[openssl] openssl/1.1.1j Fails to build first time (once) when using cmake-conan with "cannot open input file 'apps\app_rand.obj'""
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **openssl/1.1.1j**
  * Operating System+version: **Windows 10**
  * Compiler+version: **Visual Studio 2017**
  * Conan version: **conan 1.32.1**
  * Python version: **Python 3.7.4**

### Steps to reproduce (Include if Applicable)

Let's say we have `conan-bug` directory, where inside we have:

**prof

[2021-03-01 14:07] rdeterre commented on #3476
No problem, I'm be happy to make a pull request :)

Given that the issue is not only with Boost but with any package that uses OpenSSL, I'm thinking it would make sense to change the default value of "openssldir" to "/etc/ssl" directly there. I'm not sure if I'm doing this the right way but I have a patch that works on my systems. I'll push this right away.

[2021-03-01 19:31] #1858 closed

[2021-03-01 20:49] IanE9 commented on #4
I would like to be added to EAP, please.

[2021-03-02 00:01] #4396 closed

[2021-03-02 05:47] kangsheng89 opened #4751 "[request] Sentry Crashpad support"
I saw bincrafter has this package https://github.com/bincrafters/conan-crashpad, by any chance this package will be available in cci, and can b use with Sentry?

[2021-03-02 06:40] #4701 closed

[2021-03-02 07:01] #4730 closed

[2021-03-02 07:31] #4691 closed

[2021-03-02 11:12] upsj commented on #4
Could you please add me to the EAP?

[2021-03-02 11:41] Hippskill commented on #4
Can I please be added to EAP?

[2021-03-02 11:45] ksamelyuk commented on #4
I would like to join EAP, please

[2021-03-02 14:46] ericriff opened #4758 "[package] libarchive + acl dependency"
On libArchive there is a `with_acl` option that only maps to a CMake option that enables/disables ACL support.
https://github.com/conan-io/conan-center-index/blob/master/recipes/libarchive/all/conanfile.py#L141

Is there a reason to do this instead of using it to enable/disable a conan requirement on acl?

Thanks!

[2021-03-02 14:54] ericriff opened #4759 "[package] Qt/5 missing packages for new compilers"
My PR for QuaZip is stuck due to missing Qt5 packages for the new compilers introduced to CCI a couple of days ago.
See https://github.com/conan-io/conan-center-index/pull/4562

Particularly,
[code]

[code]

[code]

[2021-03-02 15:42] SpaceIm commented on #4758
acl is not in CCI. I guess this option leads to unpredictable builds for the moment.

[2021-03-02 15:54] ericriff commented on #4758
I thought this was the ACL library that we needed
https://github.com/conan-io/conan-center-index/tree/master/recipes/nfrechette-acl

[2021-03-02 16:04] ericriff commented on #4758
I see. Should I close this and/or put up a recipe request so we get a log of it being missing?

[2021-03-02 16:20] danimtb opened #4761 "[service][rfc] Configurations built by the service"
In the latest release of changes to the pipeline of the service, we added support for new compilers, gcc 10 and clang 10 and 11 in Linux and
apple-clang 12.0 in Mac OS. As stated in the supported platforms and configurations, due to the frequent updates of the apple-clang
compiler, we decided (right from the beginning of the conan-center-index) to rotate the latest 3 versions of it to keep the pac

[2021-03-02 16:39] jgsogo commented on #4759
Triggering the build behind the scenes 🚀

[2021-03-02 17:19] danimtb commented on #4665
@OliverHaag please, open an issue about that in the documentation repo to add a note about the lack of support of conan center packages for that generator. Thank you

[2021-03-02 18:06] doshisahil commented on #4
Could you please add me to the EAP?

[2021-03-02 18:36] jgsogo commented on #4759
Ready! https://c3i.jfrog.io/c3i/misc/summary.html?json=https://c3i.jfrog.io/c3i/misc/logs/TapaholesList/75/qt/5.15.2//summary.json

Moving to QuaZip 😄

[2021-03-02 19:07] jgsogo commented on #4759
It worked (https://github.com/conan-io/conan-center-index/pull/4562#issuecomment-789136640), I'm closing this issue.

[2021-03-02 19:07] #4759 closed

[2021-03-02 19:13] ericriff commented on #4759
Thank you very much!

[2021-03-02 21:39] Croydon commented on #4761
Here is my personal take on it.

### macOS Apple Clang

This is probably the easiest one. macOS developers seem to be used to targeting newer compiler versions. We also cut old Apple Clang versions rather regularly in Bincrafters and I never heard anyone complain. I think the current policy of only generating the latest three compiler versions is fine.

### Windows MSVC

CCI supports 2015, 2017 an

[2021-03-02 21:43] SpaceIm opened #4764 "[package] boost/1.75.0: build fails with MinGW on Windows"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **boost/1.75.0**
  * Operating System+version: **Windows 10**
  * Compiler+version: **MinGW 8.0.0 & GCC 10.2.0**
  * Conan version: **conan 1.34.0**
  * Python version: **Python 3.9.0**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if custom profile is i

[2021-03-02 21:47] Croydon commented on #3492
This should be now possible in a similar way then what @SpaceIm has done for OpenSSL: https://github.com/conan-io/conan-center-index/commit/8e2f2f97f2631ffe86c53ffb7e4cec44a0206806

[2021-03-03 00:21] FlayaN commented on #4
I want to join EAP to add some recipes.
Please add me.

[2021-03-03 13:59] akalali commented on #4712
I investigated a little bit more and came up with some findings:
- I created my own [ITK Conan recipe](https://github.com/akalali/conan-matchpoint/blob/master/itk/conanfile.py) (conanfile.py) from another project)
 - creating the ITK 4.13.3 package from this recipe generates different directories, two of them are:
[code]
with `C:\.conan\0bc323\1\lib\cmake\ITK-4.13\ITKConfig.cmake` and `C:\.conan\0

[2021-03-03 15:15] dheater commented on #2208
Closing since I have a workaround

[2021-03-03 15:15] #2208 closed

[2021-03-03 15:18] dheater opened #4773 "autoconf/2.69: Can't locate Data/Dumper.pm in @INC"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **autoconf/2.69**
  * Operating System+version: **Linux CentOS 7**
  * Compiler+version: **GCC 7.3.1**
  * Docker image: **custom**
  * Conan version: **conan 1.34.0**
  * Python version: **Python 3.6.8**

### Conan profile (output of `conan profile show default` or `conan profile show <profile>` if

[2021-03-03 15:21] a4z commented on #4761
Since packages can be rebuild and cached and archived, removing exotic compiler is a good idea.

I think everyone in professional environment ends up to rebuild everything them self anyway. (and if they don't they should)

So the binary packages from the cci are maybe only a time to hello world reducer for new conan user and hobbyist.
This is important, but I think even for new users it is underst

[2021-03-03 19:01] #4729 closed

[2021-03-03 22:29] uglyog commented on #4
Could you kindly add me to EAP, I would like to add recipes for https://github.com/pact-foundation/pact-cplusplus

[2021-03-03 23:10] alex-87 commented on #4
Hi, I would like to join EAP and contribute to Conan Center Index, please may you add me.

[2021-03-04 00:02] mologie commented on #4
Hi, please kindly add me if it is required for the above pull request #4777. (I am not interested in adding any packages yet, just in improving existing ones that I work with.)

[2021-03-04 07:40] jgsogo commented on #4761
I'll try to highlight one of the main issues here (from my perspective): this is not a matter of storage, if that was the problem we could remove packages from older revisions and we will save many gigabytes.

The problem is that we can only be sure that the package builds for a given compiler if we actually build it (once we build, we will store). I totally agree that building from sources is not

[2021-03-04 14:44] uilianries commented on #4221
#4487 requires `libsodium/1.0.18`, which is missing.

[2021-03-04 16:15] SpaceIm commented on #4728
I'm working on this one. So far, it seems to work more or less on Windows and Macos, but not on Linux.

[2021-03-04 16:22] SpaceIm commented on #621
tiny-dnn: https://github.com/conan-io/conan-center-index/pull/4079
pistache: https://github.com/conan-io/conan-center-index/pull/3719

[2021-03-04 18:30] ryanseipp opened #4779 "[package] opencv/4.5.1: Cannot build on musl-libc system"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **opencv/4.5.1**
  * Operating System+version: **Alpine Linux 3.13**
  * Compiler+version: **GCC 10.2**
  * Docker image: **alpine:3.13**
  * Conan version: **conan 1.34.0**
  * Python version: **Python 3.8.7**

### Conan profile (output of `conan profile show default` or `conan profile show <profile

[2021-03-04 19:50] dmn-star commented on #4764
Probably numpy is simply not installed on your Windows.

[2021-03-04 19:53] dmn-star commented on #4761
Yes Android & iOS

[2021-03-04 20:40] a4z commented on #4761
for this we might first have this https://github.com/conan-io/conan/issues/7876 resolved

and then, there are so may settings, like `os.api_level`/ Android `os.version`/ iOS , where it might be good to agree, so that looks a bit more complicated

[2021-03-04 23:24] Croydon commented on #970
Done via #4562

[2021-03-04 23:27] ericriff commented on #970
@Croydon not exactly.
I merged version 1.x, which is not a replacement for 0.x.
I don't know if this is good enough for the rest of the community, but it is what I needed.
The build system is quite different for 0.x so it should have its own recipe.
https://github.com/stachenov/quazip/blob/master/QuaZip-1.x-migration.md

[2021-03-05 01:10] SpaceIm opened #4782 "[request] nnpack/cci.20201222"
### Package Details
  * Package Name/Version: **nnpack/cci.20201222**
  * Website: **https://github.com/Maratyszcza/NNPACK**
  * Source code: **https://github.com/Maratyszcza/NNPACK**

### Description Of The Library / Tool

NNPACK is an acceleration package for neural network computations. NNPACK aims to provide high-performance implementations of convnet layers for multi-core CPUs.

(optional dep

[2021-03-05 01:14] prince-chrismc commented on #4761
* The new MSVC compiler! https://github.com/conan-io/conan/pull/8201/files
* FreeBSD would be lovely too

I would also really appreciate Alpine binaries but https://github.com/conan-io/conan/issues/3972 🤷 Is it doable for only CCI? https://github.com/prince-chrismc/user-management/commit/881b28df49f267d8e176b81b1e703503688cda94#diff-981783d07c49301cd9b135809fe286aaed8d8c2e2dcfe391663bb4f1c37f0721R

[2021-03-05 01:14] SpaceIm opened #4783 "[request] pthreadpool/cci.20210303"
### Package Details
  * Package Name/Version: **pthreadpool/cci.20210303**
  * Website: **https://github.com/Maratyszcza/pthreadpool**
  * Source code: **https://github.com/Maratyszcza/pthreadpool**

### Description Of The Library / Tool

Portable (POSIX/Windows/Emscripten) thread pool for C/C++

(dependency of libtorch)

[2021-03-05 01:23] SpaceIm opened #4784 "[request] xnnpack/cci.20210223"
### Package Details
  * Package Name/Version: **xnnpack/cci.20210223**
  * Website: **https://github.com/google/XNNPACK**
  * Source code: **https://github.com/google/XNNPACK**

### Description Of The Library / Tool

High-efficiency floating-point neural network inference operators for mobile, server, and Web

(optional dependency of libtorch)

[2021-03-05 01:30] SpaceIm commented on #1833
@uilianries this PR can be closed I guess

[2021-03-05 06:14] SSE4 commented on #4779
seems like it's `libelf` who actually fails

[2021-03-05 06:31] #4659 closed

[2021-03-05 10:58] akalali commented on #4712
I tested this by changing my conan-call from
[code]
to
[code]

and now the `ITKConfig.cmake`-file is not automatically generated by Conan. Instead I'm relying on the `conanbuildinfo.cmake`.
This works, the correct ITK inside my `C:\.conan\...`-director is found and the `UseITK.cmake`-file is used.
This leaves me with the question I already mentioned:

The mentioned approach works with my own ITK r

[2021-03-05 10:59] k0ekk0ek opened #4789 "[question] cunit/2.1-3 incompatible with cunit/2.1-3 from Bincrafters"
Hi! I've recently switched from the Bincrafters recipe to the one in ConanCenter. It caused some issues for me, I'm not sure if the changes are intentional, but other user maybe impacted as well(?)

1. The Bincrafters package provided in a shared library by default, the package in ConanCenter provides a static library by default. Was this switch intentional? The more complex tests we had suddenly

[2021-03-05 11:57] ChatPion commented on #4
Hello, could you please add me to EAP?

[2021-03-05 13:06] k0ekk0ek commented on #4789
For some reason the `.lib` is also called `cunit.dll.lib`, which seems odd?

[2021-03-05 13:23] #1833 closed

[2021-03-05 13:52] SpaceIm commented on #4789
I guess differences come from that bincrafters cunit recipe relied on a custom unofficial CMakeLists, while CCI relies on official upstream build files.

[2021-03-05 14:06] k0ekk0ek commented on #4789
If static is the default policy that's fine. I'd be in favor of renaming the files though. The static version does name the file `cunit.lib` and CMake Find modules are also having trouble finding the file. Usually CMake will look for `<library prefix>library<library suffix>`, where on Linux that becomes `<lib>library<.so>` and on Windows it becomes `library<.dll>`. Probably best to make the names

[2021-03-05 14:10] SpaceIm commented on #4789
dll name doesn't matter for CMake, it's not used at link time (and renaming the dll might have side effects at runtime), but I agree that import lib should be renamed.

[2021-03-05 14:20] k0ekk0ek commented on #4789
The [IMPORTED_LOCATION](https://cmake.org/cmake/help/latest/prop_tgt/IMPORTED_LOCATION.html) is normally the path of the `.dll`. Renaming the file makes it easier for find modules so they don't have to account for the `-1`. At least, that's what I just added :slightly_smiling_face:

[2021-03-05 15:57] ruilvo commented on #4668
Closed by #4671

[2021-03-05 15:57] #4668 closed

[2021-03-05 16:02] ruilvo opened #4796 "[request] <miniaud.io>/<0.10.32>"
### Package Details
  * Package Name/Version: **miniaud.io/0.10.32**
  * Website: **http://miniaud.io/**
  * Source code: **https://github.com/mackron/miniaudio**

### Description Of The Library / Tool

This is a header-only library that gives a cross platform-audio API, including webasm.

I'd like to see it in conan. I could do it myself, if you have pointers about recipes for header-only libs.

[2021-03-05 16:03] ruilvo commented on #4796
Extra info: the master branch on github always has the latest stable version. Versions are given by the specific commit on the master branch.

[2021-03-05 16:12] akalali commented on #4665
I just found this topic and I think it is closely related to my problem mentioned here: https://github.com/conan-io/conan-center-index/issues/4712

I need to use `cmake_find_package_multi`, because another project that depends on ITK uses `find_package(ITK NO_MODULE REQUIRED)` (so I need to generate an `ITKConfig.cmake`-file).
However, the depending project also uses `include(${ITK_USE_FILE})`, wh

[2021-03-05 16:37] SpaceIm commented on #4665
The problem is more or less connected, but still different.

`UseITK.cmake` could be kept and added to `self.cpp_info.build_modules` in `package_info()` (you can open a PR for that if you want). Indeed CCI doesn't forbid to keep CMake module files, only find/config CMake files.

[2021-03-05 17:59] ryanseipp commented on #4779
That is correct. `libelf` is the package that fails to build properly here. The issue however, and the reason this bug report is on opencv/4.5.1 is that I have no need for text manipulation within images, and would prefer to disable, within configuration, those dependencies. I'd also like to double check I am not doing something wrong here.

Perhaps this issue is better served as a feature request

[2021-03-05 18:31] ryanseipp opened #4800 "[package] libelf/0.8.13: Does not build with musl-libc"
### Package and Environment Details (include every applicable attribute)
  * Package Name/Version: **libelf/0.8.13**
  * Operating System+version: **Alpine Linux 3.13**
  * Compiler+version: **GCC 10.2**
  * Docker image: **alpine:3.13**
  * Conan version: **conan 1.34.0**
  * Python version: **Python 3.8.7**

### Conan profile (output of `conan profile show default` or `conan profile show <profil

[2021-03-05 18:32] ryanseipp commented on #4779
Made issue for `libelf` breakage [here](https://github.com/conan-io/conan-center-index/issues/4800)

[2021-03-05 19:05] ruslan-butyk commented on #506
Any updates here?

[2021-03-06 00:49] dgaribaldi opened #4802 "[package] boost/1.75.0: Apple-clang cannot cross-compile for arm64 on x86_64 hosts"
In order to build boost for Apple silicon, I'd like to cross-compile boost libraries on my x86_64 dev machine so that I can eventually build other software with both arm64 and x86_64 versions of the library using Conan's cmake_multi generator.

While attempting to cross-compile for arm64, I ran into three issues right off the bat, and I suspect there are more lurking farther beyond.

First off, b2

[2021-03-06 04:02] heyzooi commented on #4
I would like to join EAP, please

[2021-03-06 14:31] #4692 closed

[2021-03-06 19:10] szigetics commented on #4529
I can just agree with all the things that were said before me.
Not having components support makes it impossible to use :
[code]

I get these errors when I try to use them :
[code]
and
[code]
These error messages are originating from CMake :
https://github.com/Kitware/CMake/blob/master/Source/cmQtAutoGenGlobalInitializer.cxx#L138
https://github.com/Kitware/CMake/blob/master/Source/cmQtAutoGenGloba

[2021-03-06 20:32] akalali commented on #4665
I wouldn't know exactly what to do so although I want to open a PR I don't know what to change inside the recipe.  The documentation is not clear for me at that point.

[2021-03-06 20:35] akalali commented on #4712
According to [this](https://github.com/conan-io/conan-center-index/blob/master/docs/faqs.md#why-are-cmake-findconfig-files-and-pkg-config-files-not-packaged) conan-center recipes the findconfig-files are not packaged so the removal of the `cmake`-directory is _necessary_ (also read [here](https://github.com/conan-io/conan-center-index/issues/4665)).
However, as mentioned [here](https://github.com/

[2021-03-06 21:15] chausner opened #4806 "[request] onnxruntime/1.7.1"
### Package Details
  * Package Name/Version: **onnxruntime/1.7.1**
  * Website: **https://www.onnxruntime.ai/**
  * Source code: **https://github.com/microsoft/onnxruntime**

### Description Of The Library / Tool

ONNX Runtime is a cross-platform inference and training machine-learning accelerator compatible with deep learning frameworks, PyTorch and TensorFlow/Keras, as well as classical machine

[2021-03-06 21:16] chausner commented on #4728
I have also added a request for [onnxruntime](https://github.com/conan-io/conan-center-index/issues/4806).

[2021-03-07 08:05] ericLemanissier commented on #4529
if you have working projects on qt6, I'll happily take some feedback on https://github.com/conan-io/conan-center-index/pull/4763. I'll start the work on qt5 when qt6 is merged.

[2021-03-08 12:25] danimtb commented on #4
New people in conan-center-index! Welcome @IanE9, @upsj, @Hippskill, @ksamelyuk, @doshisahil, @FlayaN, @uglyog, @alex-87, @mologie, @ChatPion and @heyzooi!!

[2021-03-08 15:22] Firefly35 commented on #4
Hi, could I join EAP, please ?

[2021-03-08 16:25] czoido opened #4813 "Recipes from #621 already in conan-center-index"
This list of libraries comes from https://github.com/conan-io/conan-center-index/issues/621
In not much more than one year these and more libraries were added to [conan-center-index](https://github.com/conan-io/conan-center-index/tree/master/recipes)

|Homepage|Stars|In Conan Center|
|--------|-----|---------------|
|https://github.com/opencv/opencv|41273|X|
|https://github.com/google/protobuf|394